.ac-photo-hold {
  display: table;
}
.ac-photo-hold .ac-photo,
.ac-photo-hold .ac-change-photo {
  display: table-cell;
  vertical-align: middle;
}
.ac-photo-hold .ac-photo img {
  width: 80px;
  height: 80px;
}
