.form-control {
  border: 1px solid #ddd;
  height: 44px;
  padding: 10px;
  background-position: center bottom, center calc(100% - -1px);
}
.form-control:focus {
  border: 1px solid #ddd;
  height: 44px;
  padding: 10px;
}
.logmodal {
  max-width: 400px;
  display: block;
  border-radius: 0px;
}
.logmodal .modal-dialog {
  background-color: #f7f7f7;
  border-radius: 0px;
}
.logmodal form {
  margin-bottom: 0;
}
.main {
  padding: 38px;
}
.social-box {
  margin: 0 auto;
  padding: 38px;
  border-bottom: 1px #ccc solid;
}
.social-box a {
  font-weight: 600;
  font-size: 14px;
  padding: 8px;
}
.social-box a i {
  font-weight: bold;
  font-size: 20px;
}
.heading-desc {
  font-size: 20px;
  font-weight: bold;
  padding: 0 20px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 14px;
  color: #8a8a8a;
  padding-left: 15px;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-radius: 5px;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 5px;
}
.login-footer {
  background: #f0f0f0;
  margin: 0 auto;
  border-top: 1px solid #dadada;
  padding: 20px;
}
.login-footer .left-section a {
  font-weight: bold;
  color: #8a8a8a;
  line-height: 19px;
}
.mg-btm {
  margin-bottom: 20px;
}
.wraning {
  color: red;
}
.signup-box {
  max-width: 480px;
  margin: 0 auto;
}
.signup-box .form-control::-moz-placeholder {
  color: #555;
  opacity: 1;
}
.signup-box .form-control::-ms-input-placeholder {
  color: #555;
  opacity: 1;
}
.signup-box .form-control::-webkit-input-placeholder {
  color: #555;
  opacity: 1;
}
.inp-warning {
  position: relative;
}
.inp-warning .form-control {
  border: 1px solid red !important;
  height: 50px;
}
.inp-warning label {
  background-color: rgba(0, 0, 0, 0.9);
  bottom: -13px;
  color: red;
  font-size: 11px;
  font-weight: normal;
  left: 50%;
  line-height: 1;
  padding: 4px 8px;
  position: absolute;
  transform: translate(-50%, 0px);
}
