.select-image-wrap {
  margin-left: -15px;
  margin-right: -15px;
}
ul.thumbnails.image_picker_selector {
  position: relative;
  list-style: none;
  padding: 0px;
  margin: 0px;  
}
.image_picker_selector:before, .image_picker_selector:after {
  content: "";
  display: table;
}
.image_picker_selector:after {
  clear: both;
}
ul.thumbnails.image_picker_selector ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0px;
    margin: 0px; 
}
ul.thumbnails.image_picker_selector li {
  float: left;
  width: 25%;
  margin: 0;
  padding: 0 15px;
}
ul.thumbnails.image_picker_selector li .thumbnail {
  border: none;
  cursor: pointer;
  padding: 5px;
  -webkit-border-radius: 0 0 15px;
  -moz-border-radius: 0 0 15px;
  -o-border-radius: 0 0 15px;
  -ms-border-radius: 0 0 15px;
  border-radius: 0 0 15px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
}

ul.thumbnails.image_picker_selector li .thumbnail img {
  width: 100%;
  height: auto;
  -webkit-border-radius: 0 0 12px;
  -moz-border-radius: 0 0 12px;
  -o-border-radius: 0 0 12px;
  -ms-border-radius: 0 0 12px;
  border-radius: 0 0 12px;
  -webkit-user-drag: none; 
}
ul.thumbnails.image_picker_selector li .thumbnail.selected {
  opacity: 0.5;
}
@media only screen and (max-width: 480px) {
  ul.thumbnails.image_picker_selector li {
    width: 100%;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  ul.thumbnails.image_picker_selector li {
    width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  ul.thumbnails.image_picker_selector li {
    width: 33.33333333%;
  }
}



