.block-wrap {
	max-width: 900px;
	margin: 0 auto;
}
.block {
	background: #fff;
}
.block.pad {
	padding: 20px;
}
figure img {
	width: 100%;
}
figure .col-md-12:nth-child(n+2), figure img:nth-child(n+2) {
	margin-top: 30px;
}
figcaption {
}
.whitebg {
	background: #fff;
}
.dtable {
	display: table;
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
}
.dtable .cell {
	display: table-cell;
	padding: 0 10px;
}
.cell50 .cell {
	width: 50%;
	vertical-align: middle;
	padding: 0;
}
.wd35 {
	width: 35%;
}
.cell > img {
	max-width: 100%;
	height: 100%;
}
.content {
	padding: 40px 20px;
}
.text-block {
	text-align: center;
	position: relative;
}
.text-block p {
	font-size: 18px;
	text-transform: capitalize;
	margin: 25px 0 0;
}
.text-block .title {
	margin: 0;
	padding: 15px 0;
	font-size: 3.5vw;
	display: inline-block;
	text-transform: uppercase;
	text-shadow: none;
	font-weight: 100;
}
.text-block .title span {
	font-weight: 700;
}
.title.bdr {
	border-top: 2px solid;
	border-bottom: 2px solid;
}
.title.box {
	border: 2px solid;
	padding: 15px 25px;
}
.cell-abs {
	position: absolute;
	left: 50%;
	top: 50%;
	color: #fff;
	text-align: center;
	transform: translate(-50%, -50%);
}


.edit-img {
	position: absolute;
	bottom: 50px;
	right: 50px;
}
.edit-img a {
	color: #fff;
	font-size: 40px;
}
