
.ac-photo-hold {
	display: table;

	.ac-photo, .ac-change-photo {
		display: table-cell;
		vertical-align: middle;
	}

	.ac-photo {
		img {
			width: 80px;
			height: 80px;
			border: 1px solid #ddd;
			.border-radius(50%);
		}
	}

	.ac-change-photo {
		padding-left: 15px;
		a {
			color: @base-color;
		}
	}
}

.meta-name {
	h3 {
		font-size: 16px;

		a {
			color: @base-color;
			font-weight: 400;
		}
	}
}

.adm-bar {
	margin-top: 30px;
}

.nav {
	&.nav-profile {
		/*background-color: #F2F2F0;
		border: 5px solid #fff;
		border-radius: 0 0 15px;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22) !important;*/

		li {
			a {
              border-radius: 0 10px 0 0;
				color: @gray-base !important;
			}

			&.active {
				a {
					background-color: #fff !important;
				}
			}
		}
	}
}
.hr-crt {
	border-color: #ddd;
}

.modal {
	&.modal-change-base {
		.form-control {
			margin-bottom: 15px;
			height: 36px;
			border-color: #ddd;
			box-shadow: none;
		}

		.modal-footer {
			text-align: left;
		}
		.modal-email {
			padding-top: 5px;
			a {
				text-align: left;
			}
		}
	}
}


.nav-tabs {
  background: none !important;
}

.tab-admin {
	.tab-content {
		.tabpanel-inner {
          background: #fff;

          border-top: 0;
          padding: 30px;
          .h4, .h5, .h6, h4, h5, h6 {
            margin-bottom: 20px;
          }

          .checkbox .checkbox-material {
            margin-right: 5px;
          }
		}
	}
}

.text-gray {

  color: #989898;
  font-weight: normal;
  margin: 0 0 5px !important;
  font-size: 14px;

  .form-action-text {
    font-size: 13px;
    font-style: italic;
    font-weight: normal;
    margin-left: 6px;
  }

}