#slide-nav {
  background: #fff none repeat scroll 0 0;
  border-left: 1px solid #eee;
  box-shadow: 3px 1px 4px rgba(0, 0, 0, 0.4);
    height: 100%;
    right: -300px;
    position: fixed;
    top: 0;
    transition: all 400ms cubic-bezier(0.77, 0.06, 0.12, 0.98) 0s;
    -webkit-transition: all 400ms cubic-bezier(0.77, 0.06, 0.12, 0.98) 0s;
    -moz-transition: all 400ms cubic-bezier(0.77, 0.06, 0.12, 0.98) 0s;
    width: 290px;
    z-index: 2147483647;
}
#slide-nav.open {
    right: 0;
}

#slide-nav .your-profile {
    height: 55px;
    padding: 10px 0 0;
}

#slide-nav .your-profile .actions {
    float: left;
    left: 13px;
    line-height: 17px;
    position: relative;
    top: 7px;
}

.close-drawer-hook {
    color: #fff;
}


#wrapper {
  position: relative;
  transition: all 400ms cubic-bezier(0.77, 0.06, 0.12, 0.98) 0s;
  -webkit-transition: all 400ms cubic-bezier(0.77, 0.06, 0.12, 0.98) 0s;
  -moz-transition: all 400ms cubic-bezier(0.77, 0.06, 0.12, 0.98) 0s;
  right: 0;
  &.open {
    right: 300px;
  }
}

/* slide nav content */

.slide-nav-content {
  padding: 15px;
  a.panel-frame-slide {
    transition: none !important ;
  }

  .slide-nav-content-header {
    display: block;
    margin-bottom: 20px;
    clear: both;
    h5 {
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }
  }

  #slide-nav-close {
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    padding: 5px 10px;
    position: absolute;
    right: 16px;
    text-transform: uppercase;
    top: 13px;
    i {
      font-size: 12px;
    }

  }
}


/* loader */

#circularG{
    position:relative;
    width:33px;
    height:33px;
    margin: auto;
}

.circularG{
    position:absolute;
    background-color:rgb(156,156,156);
    width:8px;
    height:8px;
    border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    animation-name:bounce_circularG;
    -o-animation-name:bounce_circularG;
    -ms-animation-name:bounce_circularG;
    -webkit-animation-name:bounce_circularG;
    -moz-animation-name:bounce_circularG;
    animation-duration:1.1s;
    -o-animation-duration:1.1s;
    -ms-animation-duration:1.1s;
    -webkit-animation-duration:1.1s;
    -moz-animation-duration:1.1s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}

#circularG_1{
    left:0;
    top:13px;
    animation-delay:0.41s;
    -o-animation-delay:0.41s;
    -ms-animation-delay:0.41s;
    -webkit-animation-delay:0.41s;
    -moz-animation-delay:0.41s;
}

#circularG_2{
    left:3px;
    top:3px;
    animation-delay:0.55s;
    -o-animation-delay:0.55s;
    -ms-animation-delay:0.55s;
    -webkit-animation-delay:0.55s;
    -moz-animation-delay:0.55s;
}

#circularG_3{
    top:0;
    left:13px;
    animation-delay:0.69s;
    -o-animation-delay:0.69s;
    -ms-animation-delay:0.69s;
    -webkit-animation-delay:0.69s;
    -moz-animation-delay:0.69s;
}

#circularG_4{
    right:3px;
    top:3px;
    animation-delay:0.83s;
    -o-animation-delay:0.83s;
    -ms-animation-delay:0.83s;
    -webkit-animation-delay:0.83s;
    -moz-animation-delay:0.83s;
}

#circularG_5{
    right:0;
    top:13px;
    animation-delay:0.97s;
    -o-animation-delay:0.97s;
    -ms-animation-delay:0.97s;
    -webkit-animation-delay:0.97s;
    -moz-animation-delay:0.97s;
}

#circularG_6{
    right:3px;
    bottom:3px;
    animation-delay:1.1s;
    -o-animation-delay:1.1s;
    -ms-animation-delay:1.1s;
    -webkit-animation-delay:1.1s;
    -moz-animation-delay:1.1s;
}

#circularG_7{
    left:13px;
    bottom:0;
    animation-delay:1.24s;
    -o-animation-delay:1.24s;
    -ms-animation-delay:1.24s;
    -webkit-animation-delay:1.24s;
    -moz-animation-delay:1.24s;
}

#circularG_8{
    left:3px;
    bottom:3px;
    animation-delay:1.38s;
    -o-animation-delay:1.38s;
    -ms-animation-delay:1.38s;
    -webkit-animation-delay:1.38s;
    -moz-animation-delay:1.38s;
}

@keyframes bounce_circularG{
0%{
    transform:scale(1)}

100%{
;
    -o-transform:scale(1)}

100%{
;
    -ms-transform:scale(1)}

100%{
;
    -webkit-transform:scale(1)}

100%{
;
    -moz-transform:scale(1)}

100%{
    transform:scale(.3)
};

}

@keyframes bounce_circularG{
    0%{
        transform:scale(1)}

    100%{
        transform:scale(.3)}
}

@-o-keyframes bounce_circularG{
    0%{
        -o-transform:scale(1)}

    100%{
        -o-transform:scale(.3)}
}

@-ms-keyframes bounce_circularG{
    0%{
        -ms-transform:scale(1)}

    100%{
        -ms-transform:scale(.3)}
}

@-webkit-keyframes bounce_circularG{
    0%{
        -webkit-transform:scale(1)}

    100%{
        -webkit-transform:scale(.3)}
}

@-moz-keyframes bounce_circularG{
    0%{
        -moz-transform:scale(1)}

    100%{
        -moz-transform:scale(.3)}
}









/* Rahad added

 user home slide */
 

.slide-carousel{
	&.owl-theme{
		.owl-controls{
			margin:0;
			 .owl-buttons{
				 div{
					background:transparent;
					position:absolute;
					top:50%;
					-webkit-transform:translatey(-50%);
					-moz-transform:translatey(-50%);
					-ms-transform:translatey(-50%);
					-o-transform:translatey(-50%);
					transform:translatey(-50%);
					color:#869791;
					width:28px;
					height:28px;
					line-height:28px;
					padding:0;
				 }
				 .owl-next{
					right:-30px;
				 }
				 .owl-prev{
					left:-30px;
				 }
				 
				 @media @lgmax{
					div{
						background:#fff;
					}
					 .owl-next{
					right:0px;
					 }
					 .owl-prev{
						left:0px;
					 }
				 }
			 }
		 }
	}
	
	
	
	
	.upanel {
		.panel-denote{
			padding: 20px 20px 0px 20px;
		}
	}
	
	.upanel{
		.overlay{
			text-align:left;
			padding:20px 85px 20px 20px;
			opacity:0;
			
			.abs.right{
				top:10px;
				right:20px;
				font-size:60px;
			}
			
			&:before{
				display:none;
			}
		}
		
		.dtable-cell{
			p{
				font-size:28px;
				line-height:40px;
			}
		}
		
		
		
		/* Hover effect */
		&:hover{
			.overlay{
				opacity:1;
				z-index:2;
			}
			
			&:before{
				z-index:1;
			}
		}
	}
	
}


.cartepick-carousel{
	.owl-item{
		padding:0 10px;
		
		.carsel-item{
			&:before{
				display:none;
			}
			&:hover{
				&:before{
					display:none;
				}
			}
		}
	}
}


.btn-more{
	border:1px solid @brand-color;
}


.swiper-container1 {
	.swiper-slide{
		&.swiper-slide-active{
			/*padding:0 110px;*/
		}
		&.swiper-slide-next{
			left:-110px;
			z-index:9;
			opacity:0.9;
			
			.panel-denote{
				opacity:0;
			}
		}
		&.swiper-slide-prev{
			right:-110px;
			z-index:9;
			opacity:0.85;
			
			.panel-denote{
				opacity:0;
			}
		}
		
		.upanel.h-upanel {
			margin-top:0;
			.panel-denote{
				left:140px;
				width:~"calc(100% - 280px)";
				width:~"-moz-calc(100% - 280px)";
				width:~"-ms-calc(100% - 280px)";
				width:~"-webkit-calc(100% - 280px)";
			}
		}
		.upanel.upanel-cover{
			border:none;
			border-radius:0;
			
		}
		
	}
	
	.swiper-button-next, .swiper-button-prev{
		width:130px;
		height:100%;
		top:0;
		background:none;
	}
	.swiper-button-next{
		right:0;
	}
	.swiper-button-prev{
		left:0;
	}
}

/* panel denote */
.panel-denote{
		font-family:@base-font;
		font-weight:300;
		text-shadow:none;
		font-size:18px;
		
	 .post-by{
		color:#fff;
		
	 }
	 .post-in{
		color:#fff;
		
		a{
			color:#fff;
			text-transform:capitalize;
		}
	 }
}



/* Border line */

.border-line{
	width:75%;
	height:1px;
	background: #ABAAA6;
	margin:30px auto 20px;
}