// explore

.panel {
	&.panel-explore {
		position: relative;
		background-repeat: no-repeat;
		background-position: top center;
		.cover;
		height: 400px;
		.border-radius-custom(0, 0, 0, 20px);
		overflow: hidden;

		&:before {
			content: "";
			position: absolute;
			bottom: 0;
			top: 0;
			background-color: transparent;
			background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
			background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
			background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
			background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
			background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
			height: 100%;
			width: 100%; 
		}
		.panel-img {
			width: 100%;
			height: auto;
		}
		.panel-caption {
			width: 100%;
			height: 100%;
			color: #fff;
			text-align: center;
			padding: 0 30px;
			display: table;
			position: relative;

			.panel-caption-text {
				display: table-cell;
				vertical-align: middle;
				.transition(all, 0.5s, linear);
				.title {
						a {
						font-family: @accent-font;
						font-size: 50px;
						text-transform: uppercase;
						color: #fff;
						i {
							font-size: 50px;
						}
					}
				}
				.owner {
					position: absolute;
					bottom: 10px;
					left: 0;
					text-align: center;
					width: 100%;
					color: #fff;
					font-family: @accent-font;
				}	
			}
		}
		
		
	}

	.explore-modal {
		width: 100%;
		height: 100%;
		.crossbrowseropacity (@brand-color, .65);
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;

		.xmodal-header {
			height: 110px;
		}
		.explore-nav {
			color: #fff;
		    left: 50%;
		    margin-left: -20px;
		    position: absolute;
		    top: 40px;

			a {
				color: #fff;
			    display: inline-block;
			    font-size: 20px;
			    text-align: center;
			    width: 20px;
			    cursor: pointer;
			}
		}
		.xmodal-close {
			color: #fff;
		    display: block;
		    font-size: 20px;
		    position: absolute;
		    right: 30px;
		    top: 40px;
		}

		.modal-slide {
			.slide-item {
				display: block;
				cursor: pointer;
				position: relative;

				&:after {
					position: absolute;
					content: "";
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					background-color: transparent;
					background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
					background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
					background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
					background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
					background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
					.transition(all, 0.5s, ease-in);
				}
				.caption {
					position: absolute;
					bottom: 0;
					left: 0;
					color: #fff;
    				font-weight: 700;
    				font-family: @accent-font;
    				padding: 10px 15px;
    				text-transform: uppercase;
    				color: @food;
    				z-index: 2;
				}

				&:hover {
					&:after {
						background-color: transparent;
						background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0));
						background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0));
						background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0));
						background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0));
						background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0));
						}
				}
			}
			.owl-item {
				width: 200px;
				height: 200px;
				padding: 0 10px;
				.border-radius-custom(0, 20px, 0, 0);
				img {
					max-width: 100%;
					height: auto;
					.border-radius-custom(0, 20px, 0, 0);
				}
			}

			&.owl-theme .owl-controls {
				.owl-page {
					span {
						background: #fff;
						width: 30px;
						height: 4px;
					}
				} 
			}
		}
	}
}

.content-bar-meta {
	&.nav-meta {
		li {
			a {
				color: @brand-gray;
				border-color: @brand-gray;
			}
			&.active {
				a {
					color: @brand-color;
				}
			}
		}
	}
	
}
.dropdown-onhover {
	position: relative;

	.btn-toggle {
		display: block;
	    font-size: 12px;
	    font-weight: 700;
	    height: 40px;
	    line-height: 40px;
	    padding-right: 15px;
	    position: absolute;
	    right: 0;
	    text-align: right;
	    text-transform: uppercase;
	    top: 0;
	    width: 180px;
	    z-index: 4;
	    .transition(all, 0.2s, linear);
	    &:hover {
	    	color: @brand-gray;
	    }


		
	}

	.dropdown-onhover-menu {
		margin: 0;
		padding: 0;
		list-style: none;
		position: absolute;
		right: 0;
		top: 0;
		width: 180px;
		padding-top: 30px;
		z-index: 3;
		border: 1px solid @brand-gray;
		background-color: @brand-bgcolor;
		.transition(all, 0.2s, linear);
		visibility: hidden;
		opacity: 0;

		li {
			a {
				padding: 5px 15px;
				display: inline-block;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 400;
			}
		}
	}
	&:hover {
    	.dropdown-onhover-menu {
    		visibility: visible;
    		opacity: 1;
    	}
    	.btn-toggle {
    		color: @brand-gray;
    	}
    }
}


.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom:4px solid;
    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}
.btn-caret {
	text-transform: uppercase;
	font-size: 12px;
    font-weight: 700;
    &:hover {
    	z-index: 102;
    }
	.caret {
	  border-top: 4px dashed;
	  border-top: 4px solid;
	  border-right: 4px solid transparent;
	  border-left: 4px solid transparent;
	}
}
.dropdown {
	&.hover-dropdown {
		.dropdown-menu {
			top: 0;
		}
	}
}



.user-avater {
	img {
		
		width: 120px;
		height: 120px;
		display: block;
		margin: 0 auto;

		.border-radius(0 20px 0 0);
	}
}