.userbar .userbar-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.userbar .userbar-list li {
  display: table-cell;
  vertical-align: middle;
  color: #;
}
/* slide-with-content
------------------------------------------------------------ */
.panel.panel-slide-content {
  padding: 8px;
  position: relative;
}
.panel.panel-slide-content .add-slide {
  display: block;
  font-size: 26px;
  margin-top: -12px;
  position: absolute;
  right: 8px;
  top: 50%;
}
.panel-slide .slide-item img {
  display: block;
  max-width: 100%;
  height: auto;
}
.panel.panel-frame {
  padding: 8px;
}
.panel-frame-slide {
  position: relative;
  margin-bottom: 8px;
}
.panel-frame-slide:last-child {
  margin-bottom: 0;
}
.panel-frame-slide .caption {
  background-color: transparent;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  padding: 15px;
}
.panel-frame-slide .caption .title {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.panel-frame-slide .caption .denote {
  font-style: 12px;
  line-height: 1.2;
}
.panel-content-area {
  margin-top: 30px;
}
