
/* NAV 
---------------------------------------------------------- */
.nav {
	&.content-area-meta-nav {
		background-color: #fff;
		border: 0;

		li {
          width: 50%;
			a {
				text-transform: uppercase;
				font-size: 12px;
				font-family: @accent-font;
				position: relative;
              line-height: normal;

				&:after {
					background-color: #f2f2f2;
				    content: "";
				    height: 100%;
				    position: absolute;
				    right: 0;
				    top: 0;
				    width: 1px;
				}
				i {
					font-size: 34px;
					display: block;
				}

              &.active {
                background: #f2f2f2;
              }
			}

			&:last-child {
				a {
					&:after {
						display: none;
					}
				}
			}
		}
	}
}


.absolute {
	position: absolute;
}

.userbar {
	.userbar-list {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			display: table-cell;
			vertical-align: middle;
			color: #;
		}
	}
}


/* MODAL STYLE 
------------------------------------------------------- */
.modal {
	&.modal-base {
		.modal-dialog {
			background: none;
		}
		.modal-content {
			.border-radius-custom(0px, 0px, 0px, 15px);

			.modal-body {
				padding: ;
			}
			.modal-footer {
				padding: 12px 24px 24px;
			}
		}		
	}
}


/* DROPZONE 
****************************************************** */
.dropzone {
	border-color: @brand-color;
	border-style: dashed;
}


/* slide-with-content
------------------------------------------------------------ */

.panel {
	&.panel-slide-content {
		padding: 8px;
		position: relative;

		.add-slide {
			display: block;
		    font-size: 26px;
		    margin-top: -12px;
		    position: absolute;
		    right: 8px;
		    top: 50%;
		}


		.slide-item {
			display: inline-block;
			cursor: pointer;
          img {
            max-width: 242px;
          }

			&.gallery-item {
				position: relative;
			}
		}
	}
}
.owl-nav {
	position: absolute;
	top: 50%;
	left: 8px;
	margin-top: -24px;
	.transition(all, 0.2s, ease-in);
	visibility: hidden;
	opacity: 0;
	a {
		.crossbrowseropacity (@brand-color, .75);
		color: #fff;
		font-size: 20px;
		display: block;
		cursor: pointer;
		text-align: center;
		width: 28px;
		height: 28px;
		line-height: 28px;
	}
}
.panel {
	&.panel-slide-content {
		&:hover {
			.owl-nav {
				visibility: visible;
				opacity: 1;
			}
		}
		
	}
}

.panel-slide {
	.slide-item {
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
	&.gallery-slider {
		.slide-item {
			position: relative;
			&:before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 0;
				background-color: transparent;
				background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0));
				background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0));
				background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0));
				background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0));
				background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0));
				.transition(all, 0.5s, ease-in);
			}

			&:after {

				position: absolute;
				content: "\f3fe";
				bottom: 14px;
				right: 10px;
				font-family: "Ionicons";
				font-size: 30px;
				color: #fff;
				.transition(all, 0.2s, ease-in);
				visibility: hidden;
				opacity: 0;
			}


			&.active {
				&:before {
					background-color: transparent;
					background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
					background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
					background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
					background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
					background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
					height: 60%;

				}
				&:after {

					visibility: visible;
					opacity: 1;
				}
			}


		}
	}
}


.panel {
	&.panel-frame {
		padding: 8px;
	}
	&.panel-add-slide {
		height: 536px;
		overflow-x: hidden;		
		overflow-y: auto;
	}
	&.panel-scrollY {
		overflow-x: hidden;		
		overflow-y: auto;
	}

	&.panel-add-denote {
		margin-top: 0;
		height: 410px;

		.slider-item-caption-text {
			padding: 20px 15%;
			text-align: center;
			.title {
				font-size: 36px;
				margin-top: 0;
			}
		}
	}


  &.slide-canvas  {
    margin-top: 0;
    height: 510px;

  }
}
.panel-frame-slide {

  &:after {
    .crossbrowseropacity(black,0);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: background-color 1s ease 0s;
    width: 100%;
  }
  &:hover {
    &:after {
      .crossbrowseropacity(black,.3);
    }
  }

  display: block;
  margin-bottom: 8px;
  max-height: 160px;
  overflow: hidden;
  position: relative;
	&:last-child {
		margin-bottom: 0;
	}
	.caption {
		background-color: transparent;
		background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
		background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
		background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
		background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
		background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
		
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		color: #fff;
		padding: 20% 15px 15px;

		.title {
			font-size: 16px;
			text-transform: uppercase;
			margin-top: 0;
			margin-bottom: 6px;
		}
		.denote {
			font-style: 12px;
			line-height: 1.2;
		}
	}

	&.add {
		display: block;
		padding: 40px 0;
		text-align: center;
		font-size: 24px;
		border: 1px solid @brand-color;

		span {
			text-transform: uppercase;
			font-size: 12px;
			display: block;
		}
	}
}

.panel {
	&.has-img {
		background-position: top center;
		background-repeat: no-repeat;
		position: relative;
		background-size: cover;

		&.blank {
			
		}

		&.img-show {
			
			&:before {
				content: "";
				position: absolute;
				.border-radius-custom(0px, 0px, 0px, 15px);
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				background-color: transparent;
				background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
				background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
				background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
				background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
				background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
			}
			.slider-item-caption-text {
				color: #fff;
			}

			.add-alt {
				color: #fff;
			}
		}
	}
}


.panel-content-area {
	margin-top: 30px;
	.content-area {
		float: left;
		//padding-right: 30px;
		//width: -webkit-calc(~"100% - 30px");
		//width: -moz-calc(~"100% - 30px");
		width: calc(~"100% ");

		.area-drag-field {
			.form-control {
				border-radius: 0;
				
			}
		}

		.title {
			&.title-content-head {
				margin: 20px 0 10px;
				font-size: 16px;
				text-transform: uppercase;
			}
		}

	}
	.edit-bar {
		float: left;
		width: 30px;

		.edit-bar-list {
			li {
				display: block;
				a {
					display: block;
					border: 1px solid @brand-color;
					height: 30px;
					line-height: 30px;
					text-align: center;
					margin-bottom:8px;
				}
			}
		}
	}
}
.add-alt {
	position: absolute;
	bottom: 5px;
	left: 8px;

	&.alt-plus {
		left: auto;
		right: 8px;
	}
	&.alt-caption {
		span {
			font-size: 12px;
			text-transform: uppercase;
		}
	}

	&.alt-arrow {
		bottom: auto;
		left: auto;
		right: 20px;
		top: 20px;
		width: 80px;
		height: 80px;
		background-image: url('../images/alt-arrow-sm.png');
		background-repeat: no-repeat;
		background-position: right center;
	}
}

