/* HEADER STYLE 
/* HEADER STYLE
-------------------------------------------------- */
.header {
	padding: 25px 0;

	.general-icon {
		margin-top: 20px;
		a {
			padding: 5px 10px;
			display: inline-block;
			font-size: 20px;
			border: 0;
			text-align: center;
			margin-left: 3px;
		}
	}
}
.brand-icon {
	a {
		display: block;
		max-width: 120px;
	}
}

.header {
	.has-navmenu {
		.brand-icon {
			float: left;
			a {
				padding-right: 20px;
			}
		}
		.nav-crate {
			margin-top: 28px;
			margin-bottom: 0;

			li {
				a {
					text-transform: uppercase;
					font-family: @accent-font;
					display: inline-block;
					line-height: 1;
					position: relative;
					padding-left: 18px;

					&:before {
						background-color: @brand-color;
					    .border-radius(50%);
					    content: "";
					    height: 9px;
					    line-height: 1;
					    position: absolute;
					    left: 0;
					    top: 2px;
					    width: 9px;
					}
				}

				&.art {
					a {
						&:before {
							background-color: @art;
						}
					}
					
				}
				&.design {
					a {
						&:before {
							background-color: @design;
						}
					}	
				}
				&.trvl {
					a {
						&:before {
							background-color: @trvl;
						}
					}	
				}
				&.food {
					a {
						&:before {
							background-color: @food;
						}
					}	
				}
			}
		}
	}
}


/* HOME STYLE 
--------------------------------------------------- */
.section-content {
	padding-bottom: 30px;
}
.section-title {
	text-transform: uppercase;
	margin-top: 70px;
	font-size: 20px;
}

.slider-item {
	position: relative;
	img {
		.border-radius(0 0 15px);
	}
  .img-responsive {
    width: 100%;
  }


	.slider-item-caption {
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		color: #fff;
		display: block;
		width: 100%;
		padding-right: 20px;
		padding-top: 20px;
		padding-left: 20%;
		padding-bottom: 20px;
		background-color: transparent;
		background-color: transparent;
		background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
		background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
		background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
		background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
		background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));

		.slider-item-caption-table {
			display: table;
			table-layout: fixed;
			width: 100%;
		}

		.slider-item-caption-text, .slider-item-caption-icon {
			display: table-cell;
			vertical-align: middle;
		}
		.slider-item-caption-text {
			text-align: right;
			padding-right: 15px;
			h3 {
				margin-top: 0;
				font-weight: 600;
			}
			p {
				margin-bottom: 0;
                font-family: @accent-font;

			}
		}
		.slider-item-caption-icon {
			width: 80px;
			height: 80px;
			font-size: 40px;
			border: 1px solid #fff;
			text-align: center;
		}

	}
}

.panel {
	&.panel-item {
		margin-top: 30px;
		margin-bottom: 0;
		.border-radius-custom(0px, 0px, 0px, 15px);

		.transition(all, 0.4s, ease-in);

		.panel-img {
			padding: 5px;
			position: relative;

			.panel-crate-name {
				visibility: hidden;
				opacity: 0;
				position: absolute;
				background-color: rgba(0, 0, 0, 0.5);
				left: 5px;
				top: 5px;
				right: 5px;
				bottom: 5px;
				color: #fff;
				font-family: @accent-font;
				font-size: 20px;
				font-weight: 600;
				text-transform: uppercase;
				text-align: center;

				span {
					display: block;
					padding: 35% 20px 20px;
				}
			}
		}
		.panel-denote {
			padding: 15px;
			.panel-denote-text {

              font-size: 16px;
              line-height: 1.3;
			}

			.category {
				position: relative;
				display: block;
				font-family: @accent-font;
				font-size: 12px;
				text-transform: uppercase;
				font-weight: 700;
				line-height: 1;
				margin-top: 15px;

				&:after {
					background-color: @brand-color;
				    border-radius: 50%;
				    content: "";
				    height: 9px;
				    line-height: 1;
				    position: absolute;
				    right: 0;
				    top: 1px;
				    width: 9px;
				}

			}
		}

		&.art {
			.category {
				color: @art;
				&:after {
					background-color: @art;
			    }
			}
		}
		&.design {
			.category {
				color: @design;
				&:after {
					background-color: @design;
			    }
			}
		}
		&.food {
			.category {
				color: @food;
				&:after {
					background-color: @food;
			    }
			}
		}


		&:hover {
			.panel-crate-name {
				//visibility: visible;
				//opacity: 1;


			}


			&.art {
				.panel-crate-name {
					.crossbrowseropacity (@art, .5)
				}
			}
			&.design {
				.panel-crate-name {
					.crossbrowseropacity (@design, .5)
				}
			}
			&.food {
				.panel-crate-name {
					.crossbrowseropacity (@food, .5)
				}
			}

		}

		&.active {
			position: relative;

			&:after {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
				.border-radius-custom(0, 0, 0px, 15px);
				.crossbrowseropacity (@brand-color, .5);
			}

			&.design {
				&:hover {
					.panel-crate-name {
						.crossbrowseropacity (@design, .0);
						visibility: hidden;
						opacity: 0;
					}
					
				}
				
			}
			&.art {
				&:hover {
					.panel-crate-name {
						.crossbrowseropacity (@art, .0);
						opacity: 0;
					}
					
				}
				
			}
			&.food {
				&:hover {
					.panel-crate-name {
						.crossbrowseropacity (@food, .0);
						opacity: 0;
					}
					
				}
				
			}


			&.design {
				&:after {
					.crossbrowseropacity (@design, .5);
				}
			}
			&.art {
				&:after {
					.crossbrowseropacity (@art, .5);
				}
			}
			&.food {
				&:after {
					.crossbrowseropacity (@food, .5);
				}
			}
		}
	}



	&.panel-full {
		.panel-denote {
			.panel-denote-text {
				.title {
					margin-bottom: 20px;
				    margin-top: 0;
				    text-transform: uppercase;
				}
			}

			.icon-hold {
				margin-top: 30px;

				span {
					display:  inline-block;
					border: 0;
					padding: 4px 10px;
					margin-right: 4px;
					cursor: pointer;
				}
			}
		}
	}

	&.panel-dark {
		background-color: #d5d7d4;
		&.active {
			background-color: #fff;			
		}
	}


}


.content-bar {
	padding-top: 60px;
	.content-bar-meta {
		font-size: 12px;
		text-transform: uppercase;
		font-weight: 700;

		li {
			a {
				border-right: 1px solid @brand-color;
				padding-right: 12px;
			}
			&:last-child {
				a {
					border-right: none;
					padding-right: 0;
				}
			}
		}
	}
}

.dropdown {
	&.filter-dropdown {
		.filter-btn {
			border: 1px solid @brand-color;
			padding: 5px 10px;
		}
	}
}





/* PROFILE STYLE 
---------------------------------------------------- */
.section-slider {

	&.section-slider-profile {
		.slider-item {
			.border-radius-custom(0, 15px, 0px, 0px);
			overflow:  hidden;
			.slider-item-caption {
				padding: 20px 20px 0;
				height: 100%;
				width: 100%;
				display: inherit;
				font-family: @accent-font;
				color: #fff;

				.slider-item-caption-text {
					max-width: 600px;
					padding-left: 15px;
					padding-right: 15px;
					margin: 20% auto 0;
					text-align: center;
					display: block;

					.title {
						font-size: 60px;
						font-weight: 700;
						text-transform: uppercase;
						margin-top: 0;
					}

					.denote {
						font-size: 16px;
					}
					.crate-owner {
						display: inline-block;
						margin-top: 30px;
						color: #fff;
					}
				}


				.status-counter-btm {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
				}

				.status-counter {
					width: 100%;
					max-width: 600px;
					margin: 0 auto;
					border: 2px solid #fff;
					border-bottom: none;
					.border-radius-custom(0, 15px, 0px, 0px);

					span {
						display: table-cell;
						vertical-align: middle;
						width: 1%;
						text-align: center;
						padding: 10px 10px;
						border-right: 2px solid #fff;

						&:last-child {
							border-right: none;
						}
					}
				}
			}	
		}
	}

}



.panel {
	&.panel-crate {
		background-color: @brand-bgcolor;
		box-shadow: none;
		border: 5px solid #fff;
		.panel-img {
			padding: 0;

			.panel-crate-name {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
		}
	}
}

.next-label {
	color: #fff;
    display: inline-block;
    font-size: 12px;
    margin-top: 6px;
    text-transform: uppercase;
}

