@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700,400italic,300italic,900,700italic,100,900italic);
.g1 {
  background: -moz-linear-gradient(-45deg, #333973 0, #673a5d 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #333973), color-stop(100%, #673a5d));
  background: -webkit-linear-gradient(-45deg, #333973 0, #673a5d 100%);
  background: -o-linear-gradient(-45deg, #333973 0, #673a5d 100%);
  background: -ms-linear-gradient(-45deg, #333973 0, #673a5d 100%);
  background: linear-gradient(135deg, #333973 0, #673a5d 100%);
}
.g2 {
  background: -webkit-linear-gradient(90deg, #24c6dc 10%, #514a9d 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #24c6dc 10%, #514a9d 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #24c6dc 10%, #514a9d 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #24c6dc 10%, #514a9d 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #24c6dc 10%, #514a9d 90%);
  /* W3C */
}
.g3 {
  background: -webkit-linear-gradient(90deg, #f0c27b 10%, #4b1248 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #f0c27b 10%, #4b1248 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #f0c27b 10%, #4b1248 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #f0c27b 10%, #4b1248 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #f0c27b 10%, #4b1248 90%);
  /* W3C */
}
.g4 {
  background: -webkit-linear-gradient(90deg, #f0c27b 10%, #4b1248 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #f0c27b 10%, #4b1248 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #f0c27b 10%, #4b1248 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #f0c27b 10%, #4b1248 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #f0c27b 10%, #4b1248 90%);
  /* W3C */
}
.g5 {
  background: -webkit-linear-gradient(90deg, #000000 10%, #53346d 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #000000 10%, #53346d 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #000000 10%, #53346d 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #000000 10%, #53346d 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #000000 10%, #53346d 90%);
  /* W3C */
}
.g6 {
  background: -webkit-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
  /* W3C */
}
.g7 {
  background: -webkit-linear-gradient(90deg, #c9ffbf 10%, #ffafbd 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #c9ffbf 10%, #ffafbd 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #c9ffbf 10%, #ffafbd 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #c9ffbf 10%, #ffafbd 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #c9ffbf 10%, #ffafbd 90%);
  /* W3C */
}
.g8 {
  background: -webkit-linear-gradient(90deg, #649173 10%, #dbd5a4 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #649173 10%, #dbd5a4 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #649173 10%, #dbd5a4 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #649173 10%, #dbd5a4 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #649173 10%, #dbd5a4 90%);
  /* W3C */
}
.g9 {
  background: -webkit-linear-gradient(90deg, #b993d6 10%, #8ca6db 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #b993d6 10%, #8ca6db 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #b993d6 10%, #8ca6db 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #b993d6 10%, #8ca6db 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #b993d6 10%, #8ca6db 90%);
  /* W3C */
}
.g10 {
  background: -webkit-linear-gradient(90deg, #870000 10%, #190a05 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #870000 10%, #190a05 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #870000 10%, #190a05 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #870000 10%, #190a05 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #870000 10%, #190a05 90%);
  /* W3C */
}
.g11 {
  background: -webkit-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%);
  /* W3C */
}
.g12 {
  background: -webkit-linear-gradient(90deg, #d3959b 10%, #bfe6ba 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #d3959b 10%, #bfe6ba 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #d3959b 10%, #bfe6ba 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #d3959b 10%, #bfe6ba 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #d3959b 10%, #bfe6ba 90%);
  /* W3C */
}
.g13 {
  background: -webkit-linear-gradient(90deg, #dad299 10%, #b0dab9 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #dad299 10%, #b0dab9 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #dad299 10%, #b0dab9 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #dad299 10%, #b0dab9 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #dad299 10%, #b0dab9 90%);
  /* W3C */
}
.g14 {
  background: -webkit-linear-gradient(90deg, #e6dada 10%, #274046 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #e6dada 10%, #274046 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #e6dada 10%, #274046 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #e6dada 10%, #274046 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #e6dada 10%, #274046 90%);
  /* W3C */
}
.g15 {
  background: -webkit-linear-gradient(90deg, #c21500 10%, #ffc500 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #c21500 10%, #ffc500 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #c21500 10%, #ffc500 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #c21500 10%, #ffc500 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #c21500 10%, #ffc500 90%);
  /* W3C */
}
.g16 {
  background: -webkit-linear-gradient(90deg, #348f50 10%, #56b4d3 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #348f50 10%, #56b4d3 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #348f50 10%, #56b4d3 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #348f50 10%, #56b4d3 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #348f50 10%, #56b4d3 90%);
  /* W3C */
}
.g17 {
  background: -webkit-linear-gradient(90deg, #003973 10%, #909069 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #003973 10%, #909069 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #003973 10%, #909069 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #003973 10%, #909069 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #003973 10%, #909069 90%);
  /* W3C */
}
.g18 {
  background: -webkit-linear-gradient(90deg, #003973 10%, #e5e5be 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #003973 10%, #e5e5be 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #003973 10%, #e5e5be 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #003973 10%, #e5e5be 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #003973 10%, #e5e5be 90%);
  /* W3C */
}
.s1 {
  background: -moz-linear-gradient(-45deg, #333973 0, #673a5d 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #333973), color-stop(100%, #673a5d));
  background: -webkit-linear-gradient(-45deg, #333973 0, #673a5d 100%);
  background: -o-linear-gradient(-45deg, #333973 0, #673a5d 100%);
  background: -ms-linear-gradient(-45deg, #333973 0, #673a5d 100%);
  background: linear-gradient(135deg, #333973 0, #673a5d 100%);
}
.s2 {
  background: -webkit-linear-gradient(90deg, #673a5d 10%, #4b1248 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #673a5d 10%, #4b1248 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #673a5d 10%, #4b1248 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #673a5d 10%, #4b1248 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #673a5d 10%, #4b1248 90%);
  /* W3C */
}
.s3 {
  background: -webkit-linear-gradient(90deg, #4b1248 10%, #f0c27b 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #4b1248 10%, #f0c27b 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #4b1248 10%, #f0c27b 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #4b1248 10%, #f0c27b 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #4b1248 10%, #f0c27b 90%);
  /* W3C */
}
/* UTILITIES */
.no-margin {
  margin: 0 !important;
}
.btn-white {
  background-color: #fff;
}
.relative {
  position: relative;
}
.dtable {
  display: table;
}
.dtable-cell {
  display: table-cell;
  vertical-align: middle;
}
.hw-100 {
  width: 100%;
  height: 100%;
}
.gray {
  background-color: #f6f6f6;
}
.section {
  padding: 0 0;
}
.secton-semi {
  padding: 4em 0;
}
.section-header {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  text-align: center;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
}
/* UTILITIES */
.hw100 {
  height: 100%;
  width: 100%;
}
.w100 {
  width: 100%;
}
.h100 {
  height: 100%;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.no-margin-padding {
  margin: 0;
  padding: 0;
}
.relative {
  position: relative;
}
.zindex10 {
  z-index: 10;
}
.container-fluid-site {
  padding-left: 30px;
  padding-right: 30px;
}
.cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.wh100 {
  width: 100%;
  height: 100%;
}
.display-table {
  display: table;
}
.display-table-cell {
  display: table-cell;
  vertical-align: middle;
}
.btn-white {
  background-color: #fff;
}
.relative {
  position: relative;
}
.display-table {
  display: table;
  width: 100%;
  height: 100%;
}
.display-table-cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
body {
  background: #fff;
  color: #231f20;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 22px;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}
a {
  color: #231f20;
  outline: 0;
  transition: all 0.2s linear 0s, letter-spacing 0s linear 0s;
  -webkit-transition: all 0.2s linear 0s, letter-spacing 0s linear 0s;
}
a:focus,
a:hover,
a:active {
  outline: none;
  text-decoration: none;
  color: #01aef0;
}
/* Mixin */
/* Implementation */
#div {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
/* Implementation */
#div {
  -webkit-border-radius: 20px 20px 0px 0px;
  -moz-border-radius: 20px 20px 0px 0px;
  border-radius: 20px 20px 0px 0px;
}
/* Implementation */
#div {
  -webkit-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
}
/* Implementation */
.transition-all {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
#div:hover {
  opacity: 0;
}
/* Implementation */
#div {
  -webkit-transform: rotate(5deg) scale(0.5) skew(1deg) translate(0px);
  -moz-transform: rotate(5deg) scale(0.5) skew(1deg) translate(0px);
  -o-transform: rotate(5deg) scale(0.5) skew(1deg) translate(0px);
  -ms-transform: rotate(5deg) scale(0.5) skew(1deg) translate(0px);
  transform: rotate(5deg) scale(0.5) skew(1deg) translate(0px);
}
/* gradient Implementation */
#div {
  background-color: #663333;
  background-image: -webkit-linear-gradient(left, #663333, #333333);
  background-image: -moz-linear-gradient(left, #663333, #333333);
  background-image: -o-linear-gradient(left, #663333, #333333);
  background-image: -ms-linear-gradient(left, #663333, #333333);
  background-image: linear-gradient(left, #663333, #333333);
}
/* Implementation */
#div {
  background-color: #BADA55;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}
.cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#div {
  background-color: red;
  background-color: rgba(255, 0, 0, 0.2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ff0000, endColorstr=#33ff0000);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ff0000, endColorstr=#33ff0000);
}
.placeholder-transition::-webkit-input-placeholder {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.placeholder-transition::-moz-placeholder {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.placeholder-transition:-ms-input-placeholder {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.placeholder-transition:-ms-input-placeholder {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
#div::-webkit-input-placeholder {
  color: #ffffff;
}
#div::-moz-placeholder {
  color: #ffffff;
}
#div:-ms-input-placeholder {
  color: #ffffff;
}
#div:-ms-input-placeholder {
  color: #ffffff;
}
/*Color Math*/
/* Implementation */
.one {
  color: #b1b0b8;
}
.two {
  color: #b7b8b0;
}
.three {
  color: #abaca3;
}
.four {
  color: #d9d8dc;
}
.five {
  color: #ffffff;
}
/* Implementation */
.base-color {
  color: #b1b0b8;
}
.base-lighter {
  color: #cccbd0;
}
.base-lighter2 {
  color: #e6e6e8;
}
.base-darker {
  color: #a4a9a9;
}
.base-darker2 {
  color: #7a7b88;
}
::-webkit-input-placeholder {
  color: #fff;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder {
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.crate-home {
  height: 100%;
  width: 100%;
  background: url("../images/bg.jpg");
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.crate-home p {
  color: #c9cfd4;
  display: block;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  margin: 0 0 25px;
  max-width: 400px;
}
.crate-home .crate-title {
  color: #fff;
  font-size: 34px;
  font-weight: 300;
  margin: 0 0 10px;
}
.crate-home .logo {
  margin-bottom: 20px;
  margin-top: 0;
  max-width: 300px;
}
.crate-home form p.lead {
  color: #c9cfd4;
  font-size: 14px;
}
input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #ddd;
  height: 40px;
  line-height: normal;
  max-width: 300px;
  padding: 10px;
  width: 100%;
  color: #fff;
}
.input-prepend {
  margin-top: 15px;
  margin-bottom: 15px;
}
.input-prepend input {
  background: rgba(0, 0, 0, 0) none repeat;
  border: 1px solid #ddd;
  height: 40px;
  line-height: normal;
  max-width: 300px;
  width: 100%;
  color: #fff;
  position: relative;
  padding: 10px 10px 10px 35px;
}
.btn-default {
  background-color: #fff;
  border: 1px solid;
  border-radius: 0;
  color: #333;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}
.add-on {
  color: #fff;
  font-size: 16px;
  left: 9px;
  position: absolute;
  top: 9px;
}
.crate-home-inner {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
}
.right-col {
  text-align: center;
}
.right-col img {
  display: block;
  margin: 60px auto 0;
}
/* iPad [portrait + landscape] */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .crate-home {
    background-size: 100% auto;
    background-attachment: scroll;
  }
}
/* iPhone [portrait + landscape] */
@media only screen and (max-device-width: 480px) {
  .crate-home {
    background-size: 100% auto;
    background-attachment: scroll;
  }
}
/* iPhone [portrait + landscape] */
@media (max-width: 767px) {
  .left-col {
    margin-bottom: 30px;
  }
  .crate-home {
    height: auto;
    min-height: 600px;
    width: 100%;
  }
  .right-col img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    margin-bottom: 25px;
  }
}
.form {
  max-width: 375px;
}
.form input.subscribe_email {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  box-shadow: none !important;
  color: #ffffff !important;
  font-size: 18px;
  height: auto;
  margin-bottom: 10px;
  padding: 10px 15px;
  max-width: 375px;
}
.form .add-subscriber {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  box-shadow: none !important;
  color: #444;
  font-size: 18px;
  height: auto;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding: 10px 15px;
}
.form .add-subscriber:hover {
  background-color: #ffffff;
}
