
.full-modal {
  animation-duration: 0.6s;
  .crossbrowseropacity (#231f20, .95);
  height: 100%;
  left: 0;
  opacity: 1;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -9999;
}


#closebt-container {
  margin-top: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: -100px;
  width: auto;
  .closebt {
    cursor: pointer;
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    width: 36px;
    &:hover {
      opacity: .8;

    }
  }
  

  

}



#modal-container {
  overflow: hidden;
  position: relative;
  color: #fff;
  h3 {
    margin-bottom: 80px;
  }
}


.signup-content {
  margin-bottom: 80px;
  a.hasImg {
    display: inline-block;
    margin: 15px;
  }
}


.form-s {
  transition: opacity 0.2s ease 0.3s;
  -webkit-transition: opacity 0.2s ease 0.3s;
  opacity: 0;
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;

  &.active {
    opacity: 1;
    display: block;
    visibility: visible;
    height: auto;
    overflow: hidden;
  }
}

.s-bar {
  height: 20px;
  a {
    cursor: pointer;
    display: inline-block;
    height: 14px;
    float: left;
    padding: 0;
    position: relative;
    margin: 0 -3px 0 -3px;
    width: calc(~"100% / 7 ");
    box-shadow: 0 0 4px rgba(0, 0, 0, 0);
    &.c1 {
      background: #da1c5c;
    }
    &.c2 {
      background: #f9ed32;
    }
    &.c3 {
      background: #c9fdff;
    }
    &.c4 {
      background: #92278f;
    }
    &.c5 {
      background: #f7941e;
    }
    &.c6 {
      background: #00aeef;
    }
    &.c7 {
      background: #8dc63f;
    }
    &.active {
      height: 18px;
      border-radius: 5px;
      margin-left: -3px;
      margin-right: -3px;
      margin-top: -2px;
      z-index: 1;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    }
  }
}

.signup-content-form {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  .form-group {
    margin-bottom: 10px;
  }
  input {
    border: 0;
    background: none;
    box-shadow: none;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    .placeholder-transition;
    .placeholder(#fff);
    .placeholder-focus(12px);
  }

  a {
    color: @base-color;
  }

  fieldset[disabled] .form-control, .form-control, fieldset[disabled] .form-control:focus, .form-control:focus, fieldset[disabled] .form-control.focus, .form-control.focus {
    border: 0;
    background: none;
    box-shadow: none;
    font-size: 18px
  }
}

.hasTerms {
  text-transform: uppercase;
}

.form-s-1-toggle, .form-s-2-toggle {
  opacity: 1;
  &:hover {
    opacity: .7;
  }
}

.sg-profile-photo {
  margin-bottom: 15px;
  display: block;
}