
.navbar {
	&.navbar-site {
		background: none;
		border-radius: 0;

    .navbar-nav {
      li {
        a {
          color: #333;
        }
      }
    }
	}
}



@media @desktopOnly {
  .navbar {
    &.navbar-site {
      text-decoration: none;
      border: 0 none;
      margin-bottom: 0;
      border-radius:0;
      width: 100%;
      border-bottom: none;


      .navbar-brand {
        padding: 0;
      }
      .navbar-collapse {
        padding-right: 15px;
      }


      .navbar-nav {
        li {
          a {
            color: #333;
            padding-top: 0;
            padding-bottom: 0;
          }
        }
      }

    }
  }
}

