.label-onblock {
	margin-bottom: 5px;
	display: inline-block;
}
.btn {
	&.btn-facebook {
		background-color: #4862A3 !important;
		color: #fff !important;
	}
	&.btn-twt {
		background-color: #55ACEE !important;
		color: #fff !important;
	}
	&.btn-google {
		background-color: #EA4335 !important;
		color: #fff !important;
	}
	&.btn-instagram {
		background-color: #125688 !important;
		color: #fff !important;
	}
	&.btn-tumblr {
		background-color: #529ECC !important;
		color: #fff !important;
	}
	&.btn-vimeo {
		background-color: #17B3E8 !important;
		color: #fff !important;
	}
	&.btn-youtube {
		background-color: #CC181E !important;
		color: #fff !important;
	}
	&.btn-viddsee {
		background-color: #17B3E8 !important;
		color: #fff !important;
	}
	&.btn-social {
		width: 34px;
		height: 34px;
		font-size: 16px;
		line-height: 34px;
		text-align: center;
		padding: 0;
		margin: 0;
	}
}
.social-btn-block {
	span.status {
		display: inline-block;
		margin-left: 10px;
	}
}

.nav {
	&.nav-aside-profile {
		background-color: #fff;
		.border-radius(0 15px 0 0);
		.box-shadow(0, 1px, 2px, 0.22);
		overflow: hidden;

		li {
			a {
				border-radius: 0;
				font-family: @accent-font;
				text-transform: uppercase;
				padding: 12px 20px;
			}

			&.active {
				a {
					background-color: #F0F0F0;
					color: @base-font-color;
				}
			}
		}
	}
}

.tab-box {
	.profile-box-head {
		
		padding: 0 0 15px 0;
		border-bottom: 2px solid @brand-bgcolor;

		.title {
			margin: 0 !important;
		}

		&.form-submit-hold {
			padding: 10px 20px;

			.btn {
				text-transform: uppercase;
				font-family: @accent-font;
				font-size: 12px;
				font-weight: 700;

				&.btn-default {
					background-color: #fff;
					color: #;
				}
			}
		}
	}

	.profile-box-body {
		padding: 20px 0 0;

		.form-group:last-child {
			margin-bottom: 0;
		}

		.form-control {
			background-color: #f3f3f3;
			padding: 6px 12px;
			
			height: 34px;
			.border-radius(2px);
			border-color: #e1e1e1;
		}
		label {
			&.control-label {
				text-align: left;
			}
		}
		textarea {
			&.form-control {
				height: auto;
			}
		}

		
	}



}

.profile-box {
	margin-bottom: 30px;
	background-color: #fff;
	.border-radius(0 20px 0 0);
	.box-shadow(0, 1px, 2px, 0.22);
	border: 5px solid #fff;

	.profile-box-head {
		.border-radius(0 15px 0 0);
		padding: 15px 20px;
		background-color: @brand-bgcolor;

		.title {
			margin: 0;
		}

		&.form-submit-hold {
			padding: 10px 20px;

			.btn {
				text-transform: uppercase;
				font-family: @accent-font;
				font-size: 12px;
				font-weight: 700;

				&.btn-default {
					background-color: #fff;
					color: #;
				}
			}
		}
	}
	.profile-box-body {
		padding: 20px 20px;



		.form-control {
			background-color: #f3f3f3;
			
			height: 34px;
			.border-radius(2px);
			border-color: #e1e1e1;
		}
		label {
			&.control-label {
				text-align: left;
			}
		}
		textarea {
			&.form-control {
				height: auto;
			}
		}

		
	}
}
.profile-avater {
	display: table;
	table-layout: fixed;
	width: 100%;
	.avater-img {
		width: 64px;
		height: 64px;
		line-height: 0;
		display: table-cell;
		vertical-align: middle;
		background-color: @brand-bgcolor;
		.border-radius(0 10px 0 0);
	}
	.avater {
		width: 64px;
		height: 64px;

		.border-radius(0 10px 0 0);
	}
	
	.btn-avater-hold {
		vertical-align: middle;
		display: table-cell;
	}

	.btn {
		&.btn-avater {
			margin-left: 10px;
			background: -webkit-linear-gradient(bottom,@brand-bgcolor,#fff);
			background: -o-linear-gradient(bottom,@brand-bgcolor,#fff);
			background: -moz-linear-gradient(bottom,@brand-bgcolor,#fff);
			background: -webkit-linear-gradient(to bottom,@brand-bgcolor,#fff);
			border: 1px solid #ddd;
			height: 34px;
			padding-top: 0;
			padding-bottom: 0;
			line-height: 32px;
			box-shadow: none !important;

			&:hover {
				box-shadow: none;
			}
		}
	}
}
.row-ingroup {
	display: table;
	table-layout: fixed;
	.cell {
		display: table-cell;
		vertical-align: middle;

		&.inp {
			margin-right: 5px;
		}
		span {
			display: inline-block;
			padding-left: 10px;
			font-weight: bold;
		}
	}
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary, 
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
	background-color: @art;
}

.dropdown {
	&.profile-nav-down {
		display: inline-block;

		.dropdown-menu {
			left: auto;
			right: 0;
			min-width: 200px;
			.border-radius(0 0 10px 0);
			.box-shadow(0, 1px, 2px, 0.22);

			li {
				a {
					font-family: @accent-font;
					text-transform: uppercase;
					font-size: 12px;
					display: inline-block;
				}
			}
		}
	}
}
.nav-profile-sticky {
	z-index: 9999;
}
.nav {
	&.nav-profile {
		background-color: @brand-bgcolor !important;
		li {
			a {
				
				font-family: @accent-font;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 700;
			}
		}
	}
}

.notifications-tabs {
	.profile-box-head {
		padding-bottom: 0;
	}
	.nav {
		border: none;
		li {
			a {
				color: @gray-light !important;
				padding-top: 10px;
				padding-bottom: 10px;
				background-color: none;
				text-transform: uppercase;
				font-family: @accent-font;
				font-size: 11px;
				font-weight: 700;
				position: relative;

				&:focus, &:hover {
					background-color: transparent;
					color: @gray-dark !important;
				}
			}

			&.active {
				a {
					background-color: transparent;
					color: @gray-dark !important;
				}
			}
		}
	}
}
.submit-box {
	background-color: #fff;
    border-top: 2px solid @brand-bgcolor;
    padding: 20px 30px;

    .btn {
    	font-family: @accent-font;
    	font-weight: 700;
    	font-size: 12px;
    	&.btn-default {
    		background-color: @brand-bgcolor;
    	}
    }
}

.secound-block {
	.row-ingroup {
		margin-bottom: 15px;
	}
}
.alert {
	&.alert-from {
		background-color: @art;
	}
}
.wrong-title {
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 0 !important;
}
.error-list {
	margin-top: 15px;
	li {
		position: relative;
		padding-left: 18px;
		margin-left: 10px;
		display: block;

		&:before {
			content: "\f3bc";
			font-family: "Ionicons";
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

.select2-container .select2-choices .select2-search-field input, 
.select2-container .select2-choice, .select2-container .select2-choices {
	background-color: transparent;
	box-shadow: none;
	border-color: #e1e1e1;
}
.select2-container-active .select2-choice, 
.select2-container-multi.select2-container-active .select2-choices {
	box-shadow: none;
	border-color: #e1e1e1;
}
.form-control {
	&.select-input {
		padding: 0 !important;
		box-shadow: none !important;
		border-color: #e1e1e1 !important;
	}
}
.section-container {
	&.sign-box-container {
		padding-bottom: 0;

		.sign-box {
			padding-bottom: 0;
		}
	}
}

.afixed-scroll {
	height: 390px;
	overflow: auto;
}

.check-styled {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		width: 25%;
		float: left;
		padding-left: 15px;
		padding-right: 15px;
		.checkbox {
			padding-bottom: 10px;
    		padding-top: 0;
    		margin-bottom: 10px;
			border-bottom: 1px solid #eee;

			.checkbox-material {
				top: 0;

				&:before {
					background-color: rgba(0, 0, 0, 0.1) !important;
				}
			}
		}
		label {
			display: block;
			
			span {
				display: inline-block;

				&.checkbox-material {
					float: right;
					margin-right: 0 !important;
				}
				&.text {
					text-transform: uppercase;
				}
			}
		}
	}
}
.tab-content.afixed-scroll {
	background: #fff;
}

.check-styled .checkbox .checkbox-material .check {
	color: #ddd;
	border: none;

	&:before {
		background: none;
		font-family: "Ionicons";
		content: "\f218";
		text-align: right;
		font-size: 22px;
		color: #111;
		margin-left: 0;
		margin-top: 0;
		transform: rotate(0deg) !important;
	}
}

.check-styled .checkbox input[type="checkbox"]:not(:checked) + .checkbox-material .check::after {
	animation: none !important;
}

.check-styled .checkbox input[type="checkbox"]:not(:checked) + .checkbox-material::before {
	animation: none !important;
}
.check-styled .checkbox input[type="checkbox"]:not(:checked) + .checkbox-material:before {
	animation: none !important;
}
.check-styled .checkbox input[type="checkbox"]:checked + .checkbox-material .check:before {
	box-shadow: none !important;
	animation: none !important;
	transform: rotate(0deg) !important;
	width: 0;
	height: 0;
	text-align: right;
	font-family: "Ionicons";
	content: "\f121";
	font-size: 16px;
	color: green;
}
.check-styled .checkbox input[type="checkbox"]:checked + .checkbox-material:hover .check:before {
	content: "\f129";
	font-family: "Ionicons";
	color: @art;
}





.interest-list {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		text-transform: uppercase;
		display: inline-block;
		float: left;
		width: 25%;
		padding-left: 15px;
		padding-right: 15px;


		a {
			display: block;
			position: relative;
			border-bottom: 1px solid #eee;
			padding-bottom: 8px;
			margin-bottom: 10px;

			&:hover,
			&:focus,
			&:focus {
				color: #231f20
			}

			&:before {
				font-family: "Ionicons";
				content: "\f218";
				position: absolute;
				top: 0;
				right: 0;
				font-size: 20px;
			}
			&.active {
				&:before {
					content: "\f121";
					color: green;
					font-size: 16px;
				}

				&:hover {
					&:before {
						content: "\f129";
						color: @art;
						font-size: 16px;
					}
				}
			}
		}
	}
}

.social-acc-list {
	li {
		margin-right: 10px;

		.btn {
			&.btn-default {
				box-shadow: none !important;
				background-color: transparent;
				height: 34px;
				line-height: 34px;
				font-size: 20px;
				padding: 0;

				&:focus,&:hover, &:active {
					box-shadow: none !important;
					background: none;
				}
			}
		}
		a {
			color: @art;
			text-transform: uppercase;

			&:hover {
				opacity: 0.8;
			}
		}
	}
}

.status.connect { color: green;}

.logbox {
	max-width: 400px;
	margin: 0 auto;
	background-color: #fff;
	.border-radius(0 10px 0 0);
	padding: 20px 25px;
}
.error-logtext {
	color: @art;
}

.section-slider {
	&.section-slider-ugallery {
		.status-counter-btm {
			padding: 0 30px;
		}
		.status-counter {
			max-width: 100% !important;
			margin-top: 30px !important;
		}
		.usocial-list {
			margin-top: 30px;
			a {
				display: inline-block;
				font-size: 16px;
				color: #fff;
				text-align: center;
				border: 1px solid #fff;
				width: 34px;
				height: 34px;
				line-height: 34px;
				margin-left: 5px;
				.border-radius(50%);
			}
		}

		.ugal-user {
			display: table;
			table-layout: fixed;
			width: 100%;
			.avater,.info, .usocial-list {
				display: table-cell;
				vertical-align: bottom;
			}
			.avater {
				width: 100px;
				img {
					.border-radius(0 15px 0 0);
					display: block;
					width: 100%;
					height: auto;
				}
			}
			.info {
				padding-left: 20px;

				h2 {
					margin: 0 0 5px;
				}
				span {
					font-size: 16px;
					display: block;

					a {
						color: #fff;
					}
				}
			}
		}
	}
}

.btn {
	&.btn-reload {
		line-height: 22px !important;
	}
}



.upanel {
	height: 360px;
	margin-top: 30px;
	
	.panel-img {
		background-color: #fff;
		padding: 5px;
		.border-radius(0 15px 0 0);
		position: relative;

		.panel-img-img {
			.border-radius(0 10px 0 0);
			width: 100%;
			height: 250px;
			overflow: hidden;
			.cover;
			background-position: center top;
			background-repeat: no-repeat;
		}

		.overlay {
			position: absolute;
			top: 5px;
			left: 5px;
			right: 5px;
			bottom: 5px;			
			.crossbrowseropacity (@brand-color, .7);
			.border-radius(0 10px 0 0);
			.transition-all;
			font-size: 16px;
			line-height: 1.5;
			color: #fff;
			display: block;
			text-align: center;
			padding: 20px 10%;

			&:before {
				position: absolute;
				content: "";
				background-image: url('../images/icon/seq_icon.png');
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 180px 180px;
				opacity: 0;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}
		}
		.date {
			font-style: italic;
		}

		.abs {
			position: absolute;
			bottom: 15px;
			font-size: 24px;
			display: inline-block;
			color: #fff;
			cursor: pointer;

			&.left {
				left: 15px;
			}
			&.right {
				right: 15px;
			}
		}
	}

	.panel-denote {
		padding: 30px 20px 0 20px;
		position: relative;
		.like {
			display: inline-block;
			position: absolute;
			right: 20px;
			bottom: 20px;
			font-size: 16px;
		}
		.title {
			font-family: @accent-font;
			font-size: 20px;
		    font-weight: 600;
		    text-transform: uppercase;
		}
		.category {
			font-family: @accent-font;
			display: inline-block;
			font-size: 12px;
		    font-weight: 700;
		    line-height: 1;
		    margin-top: 15px;
		    position: relative;
		    text-transform: uppercase;
		    padding-left: 18px;

			&:before {
				background-color: @brand-color;
				.border-radius(50%);
			    content: "";
			    height: 9px;
			    line-height: 1;
			    position: absolute;
			    left: 0;
			    top: 1px;
			    width: 9px;
			}
		}
	}

	.category-list {
		.category {
			font-family: @accent-font;
			display: inline-block;
			margin-right: 15px;
			font-size: 12px;
		    font-weight: 700;
		    line-height: 1;
		    margin-top: 15px;
		    position: relative;
		    text-transform: uppercase;
		    padding-left: 18px;

			&:before {
				background-color: @brand-color;
				.border-radius(50%);
			    content: "";
			    height: 9px;
			    line-height: 1;
			    position: absolute;
			    left: 0;
			    top: 1px;
			    width: 9px;
			}
		}
	}

	&.upanel-cover {
		border: 5px solid #fff;
		.border-radius(0 15px 0 0);
		.cover;
		background-position: center top;
		background-repeat: no-repeat;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: transparent;
			background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
			background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
			background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
			background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
			background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
			height: 60%;
		}

		.upanel-inner {
			position: relative;
		}

		.panel-img {
			background: none;
			padding: 0;
			.panel-img-img {

			}
			.overlay {
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background: none !important;
			}
		}
		.panel-denote {
			.title {
				color: #fff;
			}
			.like {
				color: #fff;
			}
		}

		&:hover {
			&:before {
				.border-radius(0 10px 0 0);
				background-image: none;
				.crossbrowseropacity (@brand-color, .7);
				height: 100%;
			}
		}
		&.design {
			&:hover {
				&:before {
					.crossbrowseropacity (@design, .7);
				}
			}
		}

		&.food {
			&:hover {
				&:before {
					.crossbrowseropacity (@food, .7);
				}
			}
		}
		&.art {
			&:hover {
				&:before {
					.crossbrowseropacity (@art, .7);
				}
			}
		}
		&.music {
			&:hover {
				&:before {
					.crossbrowseropacity (@music, .7);
				}
			}
		}
		&.culture {
			&:hover {
				&:before {
					.crossbrowseropacity (@culture, .7);
				}
			}
		}
		&.travel {
			&:hover {
				&:before {
					.crossbrowseropacity (@travel, .7);
				}
			}
		}

	}

	&:hover {
		.overlay {
			opacity: 1;

			&:before {
				opacity: .4;
			}
		}
	}

	.panel-denote {
		.category {
			color: @brand-color;
			&:before {
				background-color: @brand-color;
			}

			&.food {
				color: @food;
				&:before {
					background-color: @food;
				}
			}
			&.culture {
				color: @culture;
				&:before {
					background-color: @culture;
				}
			}
			&.art {
				color: @art;
				&:before {
					background-color: @art;
				}
			}
			&.travel {
				color: @travel;
				&:before {
					background-color: @travel;
				}
			}
			&.music {
				color: @music;
				&:before {
					background-color: @music;
				}
			}
			&.design {
				color: @design;
				&:before {
					background-color: @design;
				}
			}
		}
	}

	&.food {		
		&:hover {
			.overlay {
				.crossbrowseropacity (@food, .7);
			}
		}
	}
	&.art {
		&:hover {
			.overlay {
				.crossbrowseropacity (@art, .7);
			}
		}
	}
	&.culture {
		&:hover {
			.overlay {
				.crossbrowseropacity (@culture, .7);
			}
		}
	}
	&.travel {
		&:hover {
			.overlay {
				.crossbrowseropacity (@travel, .7);
			}
		}
	}
	&.music {
		&:hover {
			.overlay {
				.crossbrowseropacity (@music, .7);
			}
		}
	}
	&.design {
		&:hover {
			.overlay {
				.crossbrowseropacity (@design, .7);
			}
		}
	}

	&.uphoto {
		height: auto;
		margin-bottom: 30px;

		.photo-view {
			color: #fff;
			font-size: 30px;
		}
	}

	&.h-upanel {
		height: 204px;

		.panel-denote {
			position: absolute;
			width: 100%;
			bottom: 20px;

			.post-by {
				color: #fff;
			}
			.post-in {
				color:#fff;
				a{
					color:#fff;
					text-transform:capitalize;
					&:hover{
						text-decoration:underline;
					}
				}
			}
			.like {
				bottom: 8px;
			}
		}
	}
	&.h-upanel-big {
		height: 438px;

		.panel-denote {
			.title {
				font-size: 36px;
				line-height:40px;
			}
		}
	}
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
	opacity: 0;
}

.load-more {
	text-align: center;
	max-width: 720px;
	margin: 0 auto;
	border-bottom: 1px solid @brand-color;
	padding: 20px 0;

	a {
		text-transform: uppercase;
		opacity: 0.5;
	}
}

.video-gallery {
	.video-item {
		padding: 5px;
		background-color: #fff;
		display: block;
		margin-bottom: 30px;

		img {
			width: 100%;
			height: auto;
			display: block;
		}
	}
}


.page-slide {
	padding: 110px 0;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background-color: transparent;
		background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
		background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
		background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
		background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
		background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
	}

	.page-slide-inner {
		padding: 0 30px;
		color: #fff;
	}

	.page-slide-heading {
		text-align: center;
		margin: 0;
		font-family: @accent-font;
		font-weight: 700;
	}
}

.page-priv {
	h4 {
		margin-top: 30px;
	}

	ol, ul {
		li {
			margin-bottom: 10px;
		}
	}
	a {
		color: @art;
	}
}

.modal {
	&.modal-user-edit {
		.modal-header {
			border-bottom: 2px solid #eee;
			padding-bottom: 20px;
		}
		.modal-footer {
			border-top: 2px solid #eee;
			padding-top: 20px !important;
		}
		.form-control {
			margin-bottom: 0;
		}
	}
}

.control-label {
	&.label-left {
		text-align: left;
	}
}



/* USER HOME */

.category-carousel-wrap {
	position: relative;
	margin-left: -10px;
	margin-right: -10px;
	
}
.cnav {
	display: block;
	text-align: center;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	background-color: rgba(255, 255, 255, 0.7);
	&.prev {
		left: 10px;
	}
	&.next {
		right: 10px;
	}
}
.category-carousel {

	.owl-item {
		padding-left: 10px;
		padding-right: 10px;
	}
}
.carsel-item {
	position: relative;
	.border-radius(0 15px 0 0);
	overflow: hidden;

	&:before {
		position: absolute;
		content: "";
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		.crossbrowseropacity (@brand-color, .1);
		.transition(all, 0.3s, ease-in);
	}



	.overlay {
		top: auto;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 15px 20px;

		.catename {
			font-family: @accent-font;
			font-size: 20px;
			text-transform: uppercase;
			font-weight: bold;
		}
	}

	&.travel {
		.catename {
			color: @travel;
		}
		&:hover {
			&:before {
				.crossbrowseropacity (@travel, .7);
			}
			.catename {
				color: #fff;
			}

		}
	}
	&.art {
		.catename {
			color: @travel;
		}
		&:hover {
			&:before {
				.crossbrowseropacity (@art, .7);
			}
			.catename {
				color: #fff;
			}

		}
	}
	&.music {
		.catename {
			color: @music;
		}
		&:hover {
			&:before {
				.crossbrowseropacity (@music, .7);
			}
			.catename {
				color: #fff;
			}

		}
	}
	&.culture {
		.catename {
			color: @culture;
		}
		&:hover {
			&:before {
				.crossbrowseropacity (@culture, .7);
			}
			.catename {
				color: #fff;
			}

		}
	}
	&.food {
		.catename {
			color: @food;
		}
		&:hover {
			&:before {
				.crossbrowseropacity (@food, .7);
			}
			.catename {
				color: #fff;
			}

		}
	}
	&.design {
		.catename {
			color: @design;
		}
		&:hover {
			&:before {
				.crossbrowseropacity (@design, .7);
			}
			.catename {
				color: #fff;
			}

		}
	}
}

.title-heading {
	text-transform: uppercase;
	font-size: 24px;
	text-align: center;
	margin: 40px auto;

	span {
		display: inline-block;
		border-bottom: 2px solid @brand-color;
		padding-bottom: 5px;
	}
}



.upload-image {
	margin-bottom: 30px;
	position: relative;
	width: 100%;
	height: 240px;
	background-color: #ddd;
	background-image:url('../images/icon/Publish_Bscheme_4.png');
	background-size: 62px 50px;
	background-repeat: no-repeat;
	background-position: center;
    overflow: hidden;

    .upload-img {
    	width: 100%;
    	height: 100%;
    	background-repeat: no-repeat;
		background-position: center;
		.cover;
    }

    .upload-inp {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
	    top: 0;
	    right: 0;
	    left: 0;
	    bottom: 0;
	    margin: 0;
	    padding: 0;
	    font-size: 20px;
	    cursor: pointer;
	    opacity: 0;
	    filter: alpha(opacity=0);
	}    
}

.panel.panel-create-slide {
	height: 580px;
}


.slide-canvas-menu {
	&.slide-canvas-menu-nav {
		top: 24px;
	}
}

.frame-edit-list {
	margin-bottom: 30px;

	li {
		> a {
			display:  inline-block;
			padding: 3px;
		}
	}
}

.dropdown {
	&.mega-dropdown {
		position: static;

		.dropdown-menu {
			width: 500px;
			top: 70px;
			left: 15px;
			padding: 0;
			border-radius: 0;

			li {
				padding: 15px;

				.select-layout {

				}

				.panel-frame-slide {
					display: block;
				}
			}
		}
	}
}




@media only screen and (min-width: 768px) {
	.aside-fix-nav {
		position: fixed;
		width: 240px;
	}
	.text-right-lg {
		text-align: right;
	}
}

@media only screen and (min-width: 992px) {
	.section-slider {
		&.section-slider-ugallery {
			.status-counter-btm {
				padding: 0 5%;
			}
		}
	}
}


