
@media (min-width: 768px) {
	.text-right-md {
		text-align: right;
	}
	.panel {
		&.panel-full {
			.panel-img, .panel-denote {
				float: left;
			}
			.panel-img {
				width: 40%;
			}
			.panel-denote {
				width: 60%;
				padding-top: 40px;
				padding-bottom: 40px;

				display: table;

				.panel-denote-cell {
					display: table-cell;
					vertical-align: middle;
					padding-left: 20%;
					padding-right: 20%;
				}
			}

			&.panel-img-right {
				.panel-img {
					text-align: right;
					img {
						display: inline-block;
					}
				}
			}
		}
	}
	

}

@media (min-width: 481px) and (max-width: 767px) {


	.panel {
		&.panel-full {
			.panel-img, .panel-denote {
				float: left;
			}
			.panel-img {
				width: 50%;
			}
			.panel-denote {
				width: 50%;
				padding-top: 40px;
				padding-bottom: 40px;

				display: table;

				.panel-denote-cell {
					display: table-cell;
					vertical-align: middle;
					padding-left: 15%;
					padding-right: 15%;
				}
			}
		}
	}

	.gridder-list {
	  width: 50% !important;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.slider-item .slider-item-caption {
		padding: 20px;
	}

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.col-xxs-12 {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
		position: relative;
	}

	.slider-item .slider-item-caption .slider-item-caption-text h3 {
		font-size: 16px;
	}
	.slider-item .slider-item-caption .slider-item-caption-text p {
		display: none;
	}
	.slider-item .slider-item-caption .slider-item-caption-icon {
		font-size: 30px;
		width: 50px;
		height: 50px;
	}
	.panel {
		&.panel-full {
			.panel-img {
				width: 100%;
			}
			.panel-denote {
				width: 100%;
				padding: 30px;
			}
		}
	}
	.gridder-list {
	  width: 100% !important;
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}
