/* EMBED / IMPORT FILE  */

@import url('../css/open-iconic-bootstrap.css');
@import url('../css/ionicons.css');
@import url('../fonts/lineicon/style.css');
@import url('../fonts/avenir/stylesheet.css');
@import url('gradient.less');
@import url('variables.less');
@import url('scaffolding.less');
@import url('utilities.less');
@import url('typography.less');
@import url('mixins.less');
@import url('btn.less');
@import url('form.less');
@import url('nav.less');
@import url('home.less');
@import url('category.less');
@import url('gallery.less');
@import url('inner.less');
@import url('user.less');
@import url('explore.less');
@import url('responsive.less');
@import url('pace.css');
@import url('modal.less');
@import url('admin.less');
@import url('profile.less');
@import url('user-follower.less');
@import url('customs.less');

// prefix ol ss

a {
  cursor: pointer;
}

.slider-item-caption-icon {
  .border-radius-custom(0,0,0,10px);
}

body {
  background-color: #F2F2F0;
}

#wrapper {
  width: 100%;
  position: relative;
}

.container {
  &.section-container {
    display: block;
    clear: both;
    margin: 0 auto;
  }
}


@media @lgonly {
  .container {
   // max-width: 1024px;
  }
}


// HEADER

.logo {
  img {
    max-width: 150px;
  }
}

.section-container {
  padding-bottom: 60px;
}



// slider


.section-slider-profile {

  .slider-item {
    background: #101010;
  }
}

#slider {
 display: block;
  background: #101010;
  .border-radius-custom(0,0,0,15px) !important;

  overflow: hidden;

  .slider-item {

    overflow: hidden;
  }
}

.section-slider {
  position: relative;
  display: block;
  &:hover {
    .slider-control {
      opacity: 1;

    }
  }
}
.slider-control {
  opacity: 0;
  .transition-all;
  color: #fff;
  display: block;
  font-size: 50px;
  height: auto;
  position: absolute;
  top: 46%;
  width: auto;
  z-index: 1;
  cursor: pointer;
  &.prev {

    right: 15px;
  }

  &.next {
    left: 15px;
  }
}

// content loader

.content-in {
  min-height: 600px;
}

.slider-item .img-responsive {
  width: 100%;
}

.dropdown.filter-dropdown .filter-btn {

}

.panel {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22) !important;
}

.filter-dropdown  {

  &.open {
    .filter-btn {
      background: #fff;
      border-bottom-color: #fff;
      z-index: 101;
      position: relative;
    }
  }
  .dropdown-menu {
    border: 1px solid;
    border-radius: 0;
    box-shadow: none;
    left: auto;

    top: 22px;
    z-index: 100;
  }

  .dropdown-menu > li > a {
    clear: both;
    color: #333;
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857;
    padding: 10px 25px;
    white-space: nowrap;
  }
}

.icon-hold {
  span {
    i {
      font-size: 20px;
    }
    &:hover {
      background: #231f20;
      color: #fff;
    }
  }

}




// grid

.gridder-list {
  //width: 15.83333%;
  //width:31.6245%;
  width: 33.3333%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.gridder-list:nth-child(n) {
  margin-bottom: 1%;
  margin-right: 0 !important;
}

.gridder-padding {
  padding: 15px;
}

.hasSelectedItem {

  .gridder-list {
    opacity: 0.5;
  }

  .selectedItem {
    opacity: 1;
  }

  .panel-item:hover {
    .panel-crate-name {
      visibility: hidden;
      opacity: 0;
    }
  }

}

#imageSource {
  max-height: 220px;

}

@media @smOnly {

  #imageSource {
    overflow: hidden;
  }
}

@media @xsOnly {
  #imageSource {
    overflow: hidden;

  }
}

.gridder-navigation {
  a {
    font-size: 12px;
    font-weight: 700;
    padding-right: 15px;
    text-transform: uppercase;
  }
}


.gridder-expanded-content {
  .content-bar {
    margin-top: 0; padding-top: 30px;
  }
}


// editor

.slider-item-caption-text {

}

.editable-popup {
  .popover-title {
    color: @brand-color;
  }

  .form-group .form-control:focus, .form-group-default .form-control:focus {
    background: #f5f5f5;
    color: @brand-color;
  }

  .form-control {
    color: @brand-color;
    border: 1px solid #c2c9d4;
    padding: 4px 10px;
    border-radius: 3px;
  }
}


.popover {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  left: 0;
  letter-spacing: normal;
  line-height: 1.42857;
  max-width: 276px;
  padding: 1px;
  position: absolute;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  top: 0;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  z-index: 1060;
}


// Drag image

.slide-canvas-bar {
  margin: 30px auto 0;
}
.canvas-bar-menu-content {
  display: inline-block;
  position: relative;
  margin: 0;

  .btn.btn-fab {
    border: 1px solid;
    font-size: 30px;
    height: 48px;
    margin: 0;
    padding: 8px;
    width: 48px;
  }

  .dropdown-menu {
    width: 500px;
    left: 0%;
    padding:5px;
    right: auto;
    text-align: center;

    //.transform(0deg, 0.5, 0deg, 0px);

    .transition-all;
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: rotate(0deg) scale(0.7) skew(0deg) translate(-50%, 0);

  a {
    white-space: nowrap;
  }


  }

  &.open {
    .dropdown-menu {
      visibility: visible;
      opacity: 1;
      left: 50%;
      margin-top: 20px;
      transform: rotate(0deg) scale(1) skew(0deg) translate(-50%, 0);
      -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(-50%, 0);
      -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(-50%, 0);
      -o-transform: rotate(0deg) scale(1) skew(0deg) translate(-50%, 0);
      -ms-transform: rotate(0deg) scale(1) skew(0deg) translate(-50%, 0);
    }
  }



  .canvas-bar-iconx {
    border: 2px solid;
    border-radius: 50%;
    display: inline-block;
    font-size: 32px;
    text-align: center;
  }
}

#slide-canvas {
  background-position: center top !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  position: relative;
}

.slide-canvas-menu {
  position: absolute;
  right: 15px;
  top: 10px;
  width: 160px;

  .tool-menu-bar {

    i{
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      font-size: 3rem;
      transition:opacity 200ms ease 0s;
      -webkit-transition:opacity 200ms ease 0s;
      -moz-transition:opacity 200ms ease 0s;
      -o-transition:opacity 200ms ease 0s;
      -ms-transition:opacity 200ms ease 0s;

      &.i-close {
        opacity: 0;
      }

      &.i-menu {
        opacity: 1;
      }

    }


  }


  &.open {
    .tool-menu-bar {
      i{

        &.i-close {
          opacity: 1;
        }

        &.i-menu {
          opacity: 0;
        }
      }
    }
  }

  .tool-menu-bar.navigation-toggle {
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    line-height: 31px;
    text-align: right;
    width: 90px;
  }

  .tool-menu-bar-dropdown span {
    display: inline-block;
    overflow: hidden;
    width: 0;
    transition:width 200ms ease 0s;
    -webkit-transition:width 200ms ease 0s;
    -moz-transition:width 200ms ease 0s;
    -o-transition:width 200ms ease 0s;
    -ms-transition:width 200ms ease 0s;
  }

  &.open > .dropdown-menu {
    display: block;
    min-width: 50px;
    width: auto !important;
    top: 66px;


  }

  ul.tool-menu-bar-dropdown  {

    li > a {
      white-space: nowrap;
      &:hover {
        background: #F2F2F2;
      }

      ix {
        display:  inline-block;
        width: 25px;
        text-align: left;
      }
    }



    span {
    display: inline-block;
    overflow: hidden;
    width: 0;
    }

    &:hover {
      span {
        display: inline-block;
        overflow: hidden;
        width: 100px;
      }

    }
  }

}

.tool-menu-bar-dropdown {
  a i {
    display:  inline-block;
    width: 25px;
  }
}

// modal

.modal-dialog {
  background: #fff;
}





//

.panel.panel-item:hover .panel-img .panel-crate-name {
  visibility: visible;
  opacity: 1;
}


.featured-details-content .panel.panel-item:hover .panel-img .panel-crate-name {
  visibility: hidden;
  opacity: 0;
}


/* SIGN PAGE 
***************************************************** */

.sign-box {
  .sign-header {
    display: table;
    table-layout: fixed;
    width: 100%;

    .cell {
      display: table-cell;
      vertical-align: middle;

      .sign-title {
        font-size: 20px;
      }

      .sign-subtitle {
        a {
          color: #C06668;
        }
      }
    }
  }

  .sign-body {
    padding: 20px 0;

    .form-group {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .sign-footer {
    display: table;
    table-layout: fixed;
    width: 100%;

    .cell {
      display: table-cell;
      vertical-align: middle;
    }

    .checkbox {
      margin: 0;
    }
    .btn {
      margin: 0;
    }
  }
}
