
@base-font-book: 'Avenir Book';
@base-font: 'Avenir';
@base-font-black: 'Avenir Black Oblique';



body {
	background: #fff;
	color: @base-font-color;
	font-family: @base-font-book;
	font-size: 13px;
	font-weight: normal;
	line-height: 22px;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: @base-font-book;
    font-weight:700;
}

.font, .btn {
}

a {
	color: @base-font-color;
	outline: 0;
	transition: all 0.2s linear 0s, letter-spacing 0s linear 0s;
	-webkit-transition: all 0.2s linear 0s, letter-spacing 0s linear 0s;
}

a:focus, a:hover, a:active {
	outline: none;
	text-decoration: none;
	color: @linkColor;
}
