.page-heading {
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0 20px;
}

.w50 {
  width: 50%
}

.w30 {
  width: 30%;
}

.w70 {
  width: 70%;
}

.block {
  display: block;
}

.rltv {
  position: relative;
}

.inhrt {
  position: inherit !important;
}

.abslt {
  position: absolute !important;
}

.header .general-icon a {
  font-size: 18px;
}

.menu-wrapper {
  background-color: #F2F2F0 !important;
}

.user-menu-content {
  padding: 30px;
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  max-height: 315px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 3px;
  position: relative;
  .menu-inner {
  }
  .nav-profile {
    font-family: @accent-font;
    margin-top: 20px;
    margin: auto;
    margin-bottom: 15px;
    max-width: 100%;
    display: inline-block;
    clear: both;

    li {
      a {
        background-color: none;
        padding-left: 35px;
        padding-right: 35px;
        font-size: 20px;
        &:hover {
          background-color: #fff;
          color: #008080;
        }
        &:focus{
        color: #008080; 
        background-color: #fff;
        }
      }
    }
  }
  .user-details {
    border: 1px solid #ddd;
    overflow: hidden;
    margin: 10px;
    padding: 10px;
    border-radius: 2px;
    .user-text {
      text-align: left;
      padding-top: 15px;;
    }
    .user-img {
      float: right;
      img {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
  .notifications {
    padding: 15px 0;
    .bookmark{
      .link_history{border-left: 2px solid #888888;padding-left: 30px;}
      .link_bookmark{padding-right: 23px;}
      .active{color:#008080; }
      a{
        font-family: "Montserrat",sans-serif;
      font-size: 17px;
      color: #4C4C4C;
      &:hover{
      color: #008080;
    }
      }
    }
    h3 {
      font-size: 18px;
      padding-top: 0;
      margin-top: 0;
      padding-bottom: 0;
      color: #008080;
      margin-top: 0;
      margin-bottom: 0;
    }
    a {
      border: none;
      display: block;
      padding-top: 0;
      padding-bottom: 0;
      cursor: pointer;
    }
    // overflow: visible;
  }

}

#menu-wrapper,#menu-wrapper2,#menu-wrapper3{
  background-color: #F2F2F0;
  margin: auto;
  position:  absolute;
  left: 0;
  width: 100%;
  z-index: 999;
}

.close-icon {
  background-color: #e8e8e8;
  border: 1px solid #888;
  cursor: pointer;
  margin-right: 18px;
  padding: 5px;
  position: absolute;
  right: 20px;
  transition: all 0.3s ease 0s;
  width: 25px;
  .transition-all;
  z-index: 10;

  &:hover {
    opacity: .8;
  }
}

// modal

.crateModal_content {
  .close {
    font-size: 30px;
  }
  .modal-dialog {
    max-width: 485px;
  }
  .modal-title {
    font-size: 24px;
  }
  .brand-icon a {
    margin: auto;
    max-width: 100px;
  }
  .modal-body {
    padding-top: 15px;
  }
  .create_form {
    margin: auto;
    text-align: center;
    margin-top: 30px;
    label {
      padding-bottom: 5px;
    }
    .has-error .form-control {
      border-color: #a94442;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    }
    #email {
      width: 280px;
      &:focus {
        outline: none;
      }
      border: 1px solid #d2d3d1;
      border-radius: 1px;
      box-shadow: none;
      color: @base-font-color;
      font-size: 15px;
      height: 36px;
      letter-spacing: 0;
      line-height: 1.5;
      outline: 0 none;
      padding: 0 13px;
    }
    fieldset {
      margin-bottom: 15px;
    }
    .btn-submit {
      height: 35px;
      padding-top: 12px;
      background: @base-font-color none repeat scroll 0 0;
      border: medium none;
      border-radius: 0;
      box-shadow: 0 -3px 0 0 #05243e inset;
      color: #fff;
      font-size: 11px;
      height: 40px;
      letter-spacing: 2px;
      line-height: 0.5;
      outline: 0 none;
      padding: 18px 22px 22px;
      text-align: center;
      text-decoration: none;
      width: 182px;
    }
  }
}

#successModal {
  .modal-title {
    font-size: 16px;
  }
  .img-success {
    display: block;
    margin: auto;
    padding-bottom: 14px;
    padding-top: 8px;
    width: 70px;
  }
}








