
.user-item {
	border: 1px solid #eee;
	.border-radius(0 15px 0 0);
	padding: 10px;
	margin-bottom: 30px;
	.avater {
		float: left;
		width: 85px;


		img {
			width: 100%;
			height: auto;
			display: block;
			background-color: @brand-bgcolor;
			.border-radius(0 10px 0 0);
		}
	}
	.info {
		overflow: hidden;
		padding-left: 15px;

		.name {
			margin-bottom: 0 !important;
		}
		.bio {
			font-size: 13px;
			font-family: @accent-font;
		}

		.meta-info-list {
			margin-top: 5px;
			li {
				font-weight: bold;
				color: #aaa;
				font-size: 10px;

				.badge {
					background-color: #eee;
					color: #aaa;
					font-size: 10px;
				}
			}
		}
	}
}

.btn {
	&.btn-follow {
		background: @design !important;
		color: #fff !important;
		padding: 4px 8px;
		font-size: 11px;
		margin-top: 0;
		margin-bottom: 2px;
		letter-spacing: 0.08em;
	}
}


.search-bar {
	position: relative;
	.search-rel {
		position: relative;
		width: 100%;
		height: 38px !important;
	}

	.search-rel-btn {
		position: absolute;
		background: none !important;
		top: 0;
		right: 0;
		margin: 0;
		font-size: 20px;
		line-height: 1;
		color: #111 !important;
		padding: 8px 12px !important;
	}

	.search-rel-btn:hover {
		background: none !important;
		box-shadow: none !important;
	}
}

.search-holder {
	margin-bottom: 30px;
}

.btn {
	&.btn-adv-search {
		margin: 0;
		height: 38px;
		padding: 0;
		line-height: 38px;
	}
}



#advSearch {
	.form-horizontal .checkbox {
		padding-top: 0;
	}
}