/* UTILITIES */

.no-margin {
  margin: 0 !important;
}
.btn-white {
    background-color: #fff;
}
.relative { position: relative; }
.dtable { 
    display: table;  
}
.dtable-cell {
    display: table-cell;
    vertical-align: middle;
}
.hw-100 {
    width: 100%;
    height: 100%;
}
.gray { background-color: @site-gray;}
.section { padding: 0 0; }
.secton-semi { padding: 4em 0; }
.section-header {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    text-align: center; 
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
}

/* UTILITIES */

// common class

.hw100 { height:100%; width:100%;}
.w100{ width:100%;}
.h100{ height:100%; }
.no-margin { margin:0; }
.no-padding {  padding:0;}
.no-margin-padding { margin:0;  padding:0;}
.relative {position:relative;}
.zindex10 { z-index:10}
.container-fluid-site {
  padding-left: 30px;
  padding-right: 30px;
}
.transition {
}
.cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.wh100 {
  width: 100%;
  height: 100%;
}
.display-table {
  display: table;
}
.display-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.btn-white {
  background-color: #fff;
}
.relative { position: relative; }
.display-table {
  display: table;
  width: 100%;
  height: 100%;
}
.display-table-cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
