//fonts
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700,400italic,300italic,900,700italic,100,900italic);

// VARIABLES 

// Global values
// --------------------------------------------------

// VARIABLES 

@white:#fff;
@uppercase:uppercase;
@margintop:20px;
@bold:bold;
@padding:20px;
@padding2:20px 25px;
@basecolor:#F87C45;
// Global values
// --------------------------------------------------
 
@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              lighten(@gray-base, 20%);   // #333
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             lighten(@gray-base, 46.7%); // #777
@gray-lighter:           lighten(@gray-base, 93.5%); // #eee

@brand-primary:         @base-color;
@brand-primary-darker:   lighten(@base-color, 13.5%); // #222
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;


@base-color:            #01aef0; // #26479E;
@accent-color:          #3D7BA0;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;


@site-primary:         @base-color;
@site-secondary:       #3D7BA0;
@site-secondary-light:  lighten(@site-secondary, 10%);
@site-primary-light:    lighten(@base-color, 10%);
@site-gray:             lighten(@gray-base, 96.5%);
@base-border-color:     lighten(@gray-base, 93.3%);


@art : #C06668;
@food : #67CBF0;
@design : #555F53;
@trvl : #742C75;
@culture : #edb915;
@travel : #e95c26;
@music : #3d257d;




@brand-gray : #B0A9A0;
@brand-bgcolor: #f2f2f0; 
@brand-color: #231f20;
@base-font-color:       @brand-color;

// Links
// -------------------------
@linkColor:             @base-color;
@linkColorHover:        darken(@linkColor, 15%);

// Typography
// -------------------------

@robotoFontFamily:      		'Roboto', sans-serif;
@Arimo:      		            'Arimo', sans-serif;
@ArchivoNarrow:      		    'Archivo Narrow', sans-serif;
@Montserrat:      		        'Montserrat', sans-serif;

// font weight(for condensed 400 & 700 only)
@fw400           : 				  400;
@fw500           : 				  500;
@fw700           : 				  700;
@fw900           : 				  900;


@baseFontSize:          14px;
@baseFontFamily:       @base-font;
@baseLineHeight:        20px;

 
@base-font: 		'Lato', sans-serif;
@accent-font: 'Montserrat', sans-serif;



  // Component sizing
// -------------------------
// Based on 14px font-size and 20px line-height

@fontSizeLarge:         @baseFontSize * 1.25; // ~18px
@fontSizeSmall:         @baseFontSize * 0.85; // ~12px
@fontSizeMini:          @baseFontSize * 0.75; // ~11px

@paddingLarge:          11px 19px; // 44px
@paddingSmall:          2px 10px;  // 26px
@paddingMini:           0 6px;   // 22px

@baseBorderRadius:      4px;
@borderRadiusLarge:     6px;
@borderRadiusSmall:     3px;



// NAV
// -------------------------

@navbar-link-color:              #ddd;
@navbar-link-hover-color:        #fff;
@navbar-link-bg:           none;
@navbar-link-hover-bg:           none !important;
@navbar-link-active-color:       #fff;
@navbar-link-active-bg:           none !important;












@desktopOnly:   ~"only screen and (min-width: 768px)";
@xsOnly:    ~"only screen and (max-width: 767px)";
@mdOnly:    ~"only screen and (min-width: 991px) and (max-width: 1199px)";
@tabletx:    ~"only screen and (min-width: 720px) and (max-width: 959px)";
@xmobile: ~"only screen and (max-width: 320px)";
@lgmax: ~"only screen and (max-width: 1199px)";
@lgonly: ~"only screen and (min-width: 1200px)";
@mdmax: ~"only screen and (max-width: 992px)";
@smOnly:    ~"(min-width: 778px) and (max-width: 991px)";
@mdsm:    ~"(min-width: 778px) and (max-width: 1199px)";
































































































