@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-6b48q2');
	src:url('../fonts/icomoon.eot?#iefix-6b48q2') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-6b48q2') format('woff'),
		url('../fonts/icomoon.ttf?-6b48q2') format('truetype'),
		url('../fonts/icomoon.svg?-6b48q2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="im-icon-"], [class*="im-icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.im-icon-Ac:before {
	content: "\e600";
}

.im-icon-Freebeverages:before {
	content: "\e601";
}

.im-icon-FreeLocalCalls:before {
	content: "\e602";
}

.im-icon-Non-smoking:before {
	content: "\e603";
}

.im-icon-Safe:before {
	content: "\e604";
}

.im-icon-toiletriestowels:before {
	content: "\e605";
}

.im-icon-WiFi:before {
	content: "\e606";
}

.im-icon-mobile:before {
	content: "\e000";
}

.im-icon-laptop:before {
	content: "\e001";
}

.im-icon-desktop:before {
	content: "\e002";
}

.im-icon-tablet:before {
	content: "\e003";
}

.im-icon-phone:before {
	content: "\e004";
}

.im-icon-document:before {
	content: "\e005";
}

.im-icon-documents:before {
	content: "\e006";
}

.im-icon-search:before {
	content: "\e007";
}

.im-icon-clipboard:before {
	content: "\e008";
}

.im-icon-newspaper:before {
	content: "\e009";
}

.im-icon-notebook:before {
	content: "\e00a";
}

.im-icon-book-open:before {
	content: "\e00b";
}

.im-icon-browser:before {
	content: "\e00c";
}

.im-icon-calendar:before {
	content: "\e00d";
}

.im-icon-presentation:before {
	content: "\e00e";
}

.im-icon-picture:before {
	content: "\e00f";
}

.im-icon-pictures:before {
	content: "\e010";
}

.im-icon-video:before {
	content: "\e011";
}

.im-icon-camera:before {
	content: "\e012";
}

.im-icon-printer:before {
	content: "\e013";
}

.im-icon-toolbox:before {
	content: "\e014";
}

.im-icon-briefcase:before {
	content: "\e015";
}

.im-icon-wallet:before {
	content: "\e016";
}

.im-icon-gift:before {
	content: "\e017";
}

.im-icon-bargraph:before {
	content: "\e018";
}

.im-icon-grid:before {
	content: "\e019";
}

.im-icon-expand:before {
	content: "\e01a";
}

.im-icon-focus:before {
	content: "\e01b";
}

.im-icon-edit:before {
	content: "\e01c";
}

.im-icon-adjustments:before {
	content: "\e01d";
}

.im-icon-ribbon:before {
	content: "\e01e";
}

.im-icon-hourglass:before {
	content: "\e01f";
}

.im-icon-lock:before {
	content: "\e020";
}

.im-icon-megaphone:before {
	content: "\e021";
}

.im-icon-shield:before {
	content: "\e022";
}

.im-icon-trophy:before {
	content: "\e023";
}

.im-icon-flag:before {
	content: "\e024";
}

.im-icon-map:before {
	content: "\e025";
}

.im-icon-puzzle:before {
	content: "\e026";
}

.im-icon-basket:before {
	content: "\e027";
}

.im-icon-envelope:before {
	content: "\e028";
}

.im-icon-streetsign:before {
	content: "\e029";
}

.im-icon-telescope:before {
	content: "\e02a";
}

.im-icon-gears:before {
	content: "\e02b";
}

.im-icon-key:before {
	content: "\e02c";
}

.im-icon-paperclip:before {
	content: "\e02d";
}

.im-icon-attachment:before {
	content: "\e02e";
}

.im-icon-pricetags:before {
	content: "\e02f";
}

.im-icon-lightbulb:before {
	content: "\e030";
}

.im-icon-layers:before {
	content: "\e031";
}

.im-icon-pencil:before {
	content: "\e032";
}

.im-icon-tools:before {
	content: "\e033";
}

.im-icon-tools-2:before {
	content: "\e034";
}

.im-icon-scissors:before {
	content: "\e035";
}

.im-icon-paintbrush:before {
	content: "\e036";
}

.im-icon-magnifying-glass:before {
	content: "\e037";
}

.im-icon-circle-compass:before {
	content: "\e038";
}

.im-icon-linegraph:before {
	content: "\e039";
}

.im-icon-mic:before {
	content: "\e03a";
}

.im-icon-strategy:before {
	content: "\e03b";
}

.im-icon-beaker:before {
	content: "\e03c";
}

.im-icon-caution:before {
	content: "\e03d";
}

.im-icon-recycle:before {
	content: "\e03e";
}

.im-icon-anchor:before {
	content: "\e03f";
}

.im-icon-profile-male:before {
	content: "\e040";
}

.im-icon-profile-female:before {
	content: "\e041";
}

.im-icon-bike:before {
	content: "\e042";
}

.im-icon-wine:before {
	content: "\e043";
}

.im-icon-hotairballoon:before {
	content: "\e044";
}

.im-icon-globe:before {
	content: "\e045";
}

.im-icon-genius:before {
	content: "\e046";
}

.im-icon-map-pin:before {
	content: "\e047";
}

.im-icon-dial:before {
	content: "\e048";
}

.im-icon-chat:before {
	content: "\e049";
}

.im-icon-heart:before {
	content: "\e04a";
}

.im-icon-cloud:before {
	content: "\e04b";
}

.im-icon-upload:before {
	content: "\e04c";
}

.im-icon-download:before {
	content: "\e04d";
}

.im-icon-target:before {
	content: "\e04e";
}

.im-icon-hazardous:before {
	content: "\e04f";
}

.im-icon-piechart:before {
	content: "\e050";
}

.im-icon-speedometer:before {
	content: "\e051";
}

.im-icon-global:before {
	content: "\e052";
}

.im-icon-compass:before {
	content: "\e053";
}

.im-icon-lifesaver:before {
	content: "\e054";
}

.im-icon-clock:before {
	content: "\e055";
}

.im-icon-aperture:before {
	content: "\e056";
}

.im-icon-quote:before {
	content: "\e057";
}

.im-icon-scope:before {
	content: "\e058";
}

.im-icon-alarmclock:before {
	content: "\e059";
}

.im-icon-refresh:before {
	content: "\e05a";
}

.im-icon-happy:before {
	content: "\e05b";
}

.im-icon-sad:before {
	content: "\e05c";
}

.im-icon-facebook:before {
	content: "\e05d";
}

.im-icon-twitter:before {
	content: "\e05e";
}

.im-icon-googleplus:before {
	content: "\e05f";
}

.im-icon-rss:before {
	content: "\e060";
}

.im-icon-tumblr:before {
	content: "\e061";
}

.im-icon-linkedin:before {
	content: "\e062";
}

.im-icon-dribbble:before {
	content: "\e063";
}

