@import url('../css/proximanova.css');
@import url('../fonts/fonts.css');
@import url('../css/datepicker3.css');
@import url('../css/font-awesome.min.css');
@import url('../css/icon-moon.css');
/* EMBED / IMPORT FILE x */
/*
   usage
*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hide-md {
    display: none;
  }
}
@media (max-width: 480px) {
  .col-xxs-12 {
    width: 100%;
  }
}
#someMedia {
  width: 100%;
}
@media only screen and (min-width: 992px) and (max-width: 1100px) {
  #someMedia {
    width: 768px;
  }
  #someMedia .hide-md {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  #someMedia {
    width: 940px;
  }
}
/* UTILITIES */
.hw100 {
  height: 100%;
  width: 100%;
}
.w100 {
  width: 100%;
}
.h100 {
  height: 100%;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.no-margin-padding {
  margin: 0;
  padding: 0;
}
.relative {
  position: relative;
}
.zindex10 {
  z-index: 10;
}
.container-fluid-site {
  padding-left: 30px;
  padding-right: 30px;
}
.cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.typo-1 {
  font-family: 'Bauer Bodoni Std';
  font-weight: normal;
}
.typo-1-bold {
  font-family: 'Bauer Bodoni Std';
  font-weight: bold;
}
.wh100 {
  width: 100%;
  height: 100%;
}
.display-table {
  display: table;
}
.display-table-cell {
  display: table-cell;
  vertical-align: middle;
}
.btn-white {
  background-color: #fff;
}
.relative {
  position: relative;
}
.display-table {
  display: table;
  width: 100%;
  height: 100%;
}
.display-table-cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.gray {
  background-color: #f6f6f6;
}
.section {
  padding: 0 0;
}
.secton-semi {
  padding: 4em 0;
}
.section-header {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  text-align: center;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
}
.room-item-hr {
  width: 100;
  height: 1px;
  background-color: #333;
  margin: 10px auto;
  opacity: 1;
}
.section-dark .section-header {
  color: #fff;
}
.section-dark .item-sm {
  color: #fff;
}
.section-dark .foo-col-title {
  color: #53565f;
}
.section-dark .foo-list li a {
  color: #53565f;
}
.section-dark h1,
.section-dark h2,
.section-dark h3,
.section-dark h4,
.section-dark h5,
.section-dark h6 {
  color: #fff;
}
.section-dark p {
  color: #fff;
}
.section-light h1,
.section-light h2,
.section-light h3,
.section-light h4,
.section-light h5,
.section-light h6 {
  color: #333;
}
.mini-hr {
  max-width: 120px;
  border-bottom: 3px solid #eee;
  margin: 20px auto;
  text-align: center;
}
.mini-hr span {
  background-color: #eee;
  border: 2px solid #fff;
  border-radius: 14px;
  display: inline-block;
  height: 14px;
  margin-bottom: -14px;
  width: 14px;
}
@media (min-width: 768px) {
  .hide-lg {
    display: none;
  }
  .text-right-lg {
    text-align: right;
  }
}
@media (max-width: 767px) {
  .hide-sm {
    display: none;
  }
}
body {
  background: #fff;
  color: #333333;
  font-family: "ProximaNova", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ProximaNovabold";
}
a {
  color: #2A3744;
  outline: 0;
  transition: all 0.2s linear 0s, letter-spacing 0s linear 0s;
  -webkit-transition: all 0.2s linear 0s, letter-spacing 0s linear 0s;
}
a:focus,
a:hover,
a:active {
  outline: none;
  text-decoration: none;
  color: #E24E60;
}
/* Mixin */
/* Implementation */
#div {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
/* Implementation */
#div {
  -webkit-border-radius: 20px 20px 0px 0px;
  -moz-border-radius: 20px 20px 0px 0px;
  border-radius: 20px 20px 0px 0px;
}
/* Implementation */
#div {
  -webkit-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
}
/* Implementation */
.transition-all {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
#div:hover {
  opacity: 0;
}
/* Implementation */
#div {
  -webkit-transform: rotate(5deg) scale(0.5) skew(1deg) translate(0px);
  -moz-transform: rotate(5deg) scale(0.5) skew(1deg) translate(0px);
  -o-transform: rotate(5deg) scale(0.5) skew(1deg) translate(0px);
  -ms-transform: rotate(5deg) scale(0.5) skew(1deg) translate(0px);
  transform: rotate(5deg) scale(0.5) skew(1deg) translate(0px);
}
/* gradient Implementation */
#div {
  background-color: #663333;
  background-image: -webkit-linear-gradient(left, #663333, #333333);
  background-image: -moz-linear-gradient(left, #663333, #333333);
  background-image: -o-linear-gradient(left, #663333, #333333);
  background-image: -ms-linear-gradient(left, #663333, #333333);
  background-image: linear-gradient(left, #663333, #333333);
}
/* Implementation */
#div {
  background-color: #BADA55;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}
#div {
  background-color: red;
  background-color: rgba(255, 0, 0, 0.2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ff0000, endColorstr=#33ff0000);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ff0000, endColorstr=#33ff0000);
}
/*Color Math*/
/* Implementation */
.one {
  color: #b1b0b8;
}
.two {
  color: #b7b8b0;
}
.three {
  color: #abaca3;
}
.four {
  color: #d9d8dc;
}
.five {
  color: #ffffff;
}
/* Implementation */
.base-color {
  color: #b1b0b8;
}
.base-lighter {
  color: #cccbd0;
}
.base-lighter2 {
  color: #e6e6e8;
}
.base-darker {
  color: #a4a9a9;
}
.base-darker2 {
  color: #7a7b88;
}
.btn {
  transition: all 0.25s linear 0s;
}
.btn:hover,
.btn:focus {
  color: #FFFFFF;
}
.btn:active,
.btn.active {
  box-shadow: none;
  outline: medium none;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  background-color: #BDC3C7;
  color: rgba(255, 255, 255, 0.75);
  opacity: 0.7;
}
.btn-primary {
  background-color: #1ABC9C;
  color: #FFFFFF;
  border-color: #1ABC9C;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: #48C9B0;
  border-color: #48C9B0;
  color: #FFFFFF;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background: none repeat scroll 0 0 #16A085;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary.active[disabled],
fieldset[disabled] .btn-primary.active {
  background-color: #1ABC9C;
}
.btn-info {
  background-color: #3498DB;
  color: #FFFFFF;
  border-color: #3498DB;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background-color: #5DADE2;
  border-color: #5DADE2;
  color: #FFFFFF;
}
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background: none repeat scroll 0 0 #2C81BA;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info.active[disabled],
fieldset[disabled] .btn-info.active {
  background-color: #3498DB;
}
.btn-danger {
  background-color: #E74C3C;
  color: #FFFFFF;
  border-color: #E74C3C;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-color: #EC7063;
  border-color: #EC7063;
  color: #FFFFFF;
}
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background: none repeat scroll 0 0 #C44133;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger.active[disabled],
fieldset[disabled] .btn-danger.active {
  background-color: #E74C3C;
}
.btn-success {
  background-color: #2ECC71;
  color: #FFFFFF;
  border-color: #2ECC71;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-color: #58D68D;
  border-color: #58D68D;
  color: #FFFFFF;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background: none repeat scroll 0 0 #27AD60;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success.active[disabled],
fieldset[disabled] .btn-success.active {
  background-color: #2ECC71;
}
.btn-warning {
  background-color: #F1C40F;
  border-color: #F1C40F;
  color: #FFFFFF;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-color: #F5D313;
  border-color: #F5D313;
  color: #FFFFFF;
}
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background: none repeat scroll 0 0 #CDA70D;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning.active[disabled],
fieldset[disabled] .btn-warning.active {
  background-color: #F1C40F;
}
.btn-inverse {
  background-color: #34495E;
  color: #FFFFFF;
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
  background-color: #415B76;
  border-color: #415B76;
  color: #FFFFFF;
}
.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
  background: none repeat scroll 0 0 #2C3E50;
}
.btn-inverse.disabled,
.btn-inverse[disabled],
fieldset[disabled] .btn-inverse,
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
fieldset[disabled] .btn-inverse:active,
.btn-inverse.disabled.active,
.btn-inverse.active[disabled],
fieldset[disabled] .btn-inverse.active {
  background-color: #34495E;
}
.btn-embossed {
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15) inset;
}
.btn-embossed.active,
.btn-embossed:active {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15) inset;
}
.btn-wide {
  min-width: 140px;
  padding-left: 30px;
  padding-right: 30px;
}
.btn-link {
  color: #16A085;
}
.btn-link:hover,
.btn-link:focus {
  background-color: rgba(0, 0, 0, 0);
  color: #1ABC9C;
  text-decoration: underline;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #BDC3C7;
  text-decoration: none;
}
.btn-block {
  white-space: normal;
}
.btn-stroke {
  background: none;
  border-color: #ccc;
  border-width: 2px;
  color: #fff;
}
@media (max-width: 480px) {
  .col-xxs-12 {
    width: 100%;
    position: relative;
  }
}
.section,
.section-auto {
  padding: 7em 0;
}
#page-gallery {
  background: url('../images/background/1.jpg') no-repeat;
  background-position: center 0;
  background-size: cover;
}
.intro-article h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}
.intro-article h1 span {
  font-size: 20px;
  font-weight: normal;
  display: block;
  margin-bottom: 20px;
}
.sec-pages-intro {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}
.sec-pages-intro-content {
  width: 100%;
  height: 100%;
  position: relative;
}
.sec-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.sec-pages-intro-content {
  z-index: 5;
}
.page-arrow-btn {
  bottom: 60px!important;
  left: 50%;
}
.galleryContainer {
  position: relative;
  width: 100%;
}
.gallFilter {
  margin: 0 0 40px;
}
.gallFilter a {
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  text-align: center;
  padding: 7px 15px;
  border: 2px solid #e7e7e7;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  font-size: 12px;
}
.gallFilter a.current {
  background-color: #555;
  border-color: #555;
  color: #fff;
}
.row-gall {
  margin-left: -5px;
  margin-right: -5px;
}
.col-gall {
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.col-gall-inner {
  width: 100%;
}
.col-gall-inner .gall-item {
  position: relative;
  display: block;
  max-height: 175px;
  overflow: hidden;
}
.col-gall-inner a img {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: baseline;
}
.col-gallery-caption {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.col-gall a:hover .col-gallery-caption {
  background-color: rgba(0, 0, 0, 0.5);
}
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}
#page-room {
  background: url('../images/common/Suite.jpg') 0 0 no-repeat;
  background-position: center 0;
  background-size: cover;
}
.sec-header {
  max-width: 750px;
  text-align: center;
  margin: 0 auto 60px;
}
.sec-header h2 {
  font-family: 'Bauer Bodoni St';
  font-size: 40px;
  font-weight: bold;
}
.room-item {
  background-color: #f5f5f5;
  position: relative;
  margin-bottom: 30px;
}
.room-item-img {
  background-size: cover;
  width: 100%;
  height: 100%;
  height: 400px;
}
.col-room-cont {
  height: 400px;
  display: table;
}
.col-room-cont:first-child .room-item-content {
  background: url("../images/3b.png") no-repeat scroll left top rgba(0, 0, 0, 0);
  text-align: right;
}
.col-room-cont:last-child .room-item-content {
  background: url("../images/3.png") no-repeat scroll right top rgba(0, 0, 0, 0);
  text-align: left;
}
.col-room-item {
  height: 100%;
}
.room-item-content {
  padding: 20px;
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.room-item-content h3 {
  font-family: "Bauer Bodoni Std";
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin-bottom: 5px;
  margin-top: 0;
  text-transform: uppercase;
}
.room-item-content .para-feat {
  letter-spacing: 0.05em;
  font-size: 90%;
  opacity: 0.7;
  margin-bottom: 10px;
  line-height: 1.4;
}
.room-item-content .para-feat span {
  font-size: 95%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  margin-bottom: 3px;
}
.room-item-content .room-item-hr {
  display: inline-block;
  width: 45px;
  height: 2px;
  background-color: #36aecb;
  margin: 8px auto;
  opacity: 1;
}
.room-item-content .btn-booking {
  border: 1px solid #000;
  border-radius: 0;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.06em;
  padding: 2px;
  text-transform: uppercase;
  margin-top: 10px;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.room-item-content .btn-booking span {
  background: #000;
  display: block;
  padding: 10px 25px;
  border: 1px solid #000;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.room-item-content .btn-booking:hover {
  color: #36aecb;
  background-color: #000;
}
.room-item-content .btn-booking:hover span {
  background: none;
  border-color: #fff;
}
.roomDesc-hold,
.feat-room-hold,
.table-holder {
  max-width: 840px;
  margin: 0 auto 30px;
}
.room-feat-row {
  border-bottom: 1px solid #eee;
}
.table-room-feat th {
  border: none!important;
}
.table-room-feat tr td {
  padding-top: 20px!important;
  padding-bottom: 20px!important;
  vertical-align: middle;
}
.table-room-feat tr td span {
  padding-right: 0;
  display: block;
}
.table-room-feat tr td span.spn-icon {
  font-size: 20px;
  float: left;
  width: 40px;
}
.table-room-feat tr td span.spn-text {
  font-size: 12px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  overflow: hidden;
}
.table-room-feat tr td:first-child {
  padding-left: 0;
}
.table-room-feat tr td:last-child {
  padding-right: 0;
}
.room-info-list li {
  font-size: 11px;
  text-transform: uppercase;
}
.col-slider-hold {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000;
}
.colSliderPager {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  left: 0;
  z-index: 100;
  background-color: #F6F5F5;
  padding: 7px;
  border-radius: 0 2px 2px 0;
}
.colSliderPager.pagerRight {
  left: auto;
  right: 0;
  border-radius: 2px 0 0 2px;
}
.colSliderPager span {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #333;
  display: block;
  cursor: pointer;
  margin-bottom: 5px;
  text-indent: -9999px;
}
.colSliderPager span:last-child {
  margin-bottom: 0;
}
.colSliderPager span.cycle-pager-active {
  background-color: #0088cc;
}
.check-row {
  background: url('../images/common/Suite 3.jpg') 0 0 no-repeat;
  width: 100%;
  position: relative;
  background-size: cover;
  z-index: 0;
}
.check-row .check-overlay {
  background: url(../images/3big.png) 0 0 repeat rgba(0, 0, 0, 0.65);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.check-row .check-content {
  padding: 8em 2em;
  text-align: center;
  z-index: 5;
  position: relative;
}
.check-row .check-content h2,
.check-row .check-content p {
  color: #fff;
  margin: 0;
}
.check-row .check-content h2 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  line-height: 1.1;
}
.check-row .check-content p {
  letter-spacing: 0.06em;
  font-size: 18px;
}
.container-booked {
  max-width: 750px;
  margin: 0 auto;
}
.booked-form-holder {
  max-width: 400px;
  margin: 0 auto;
  border: 2px solid #e7e7e7;
  padding: 20px;
}
.booked-content .nav-black {
  max-width: 300px;
  margin: 0 auto 40px;
}
.booked-content .nav-black li a {
  background-color: #000;
  color: #fff;
  border-radius: 0;
  border: 2px solid #000;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-weight: bold;
}
.booked-content .nav-black li.active a {
  background: #fff;
  color: #000;
}
.form-booked label {
  font-weight: normal;
}
.form-booked .form-control {
  border-color: #e7e7e7;
  border-width: 2px;
  box-shadow: none;
  border-radius: 0;
  min-height: 44px;
}
.form-booked .form-control:focus {
  border-color: #36aecb;
  box-shadow: none;
}
.btn-gray-stk {
  background: none;
  border-color: #e7e7e7;
  color: #000;
  border-radius: 0;
  border-width: 2px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  padding-top: 12px;
  padding-bottom: 12px;
}
.btn-gray-stk:hover {
  background-color: #36aecb;
  border-color: #36aecb;
  color: #fff;
}
.booked-title {
  margin: 0 0 40px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-weight: bold;
  font-size: 30px;
  color: #000;
  text-align: center;
}
.modal-solid {
  background-color: #fff;
}
.modal-solid .modal-content {
  box-shadow: none;
  border-radius: 0;
  border: none;
}
.modal-solid .modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: #000;
  border-color: #000;
  border-width: 2px;
  color: #fff;
  border-radius: 0;
  font-size: 18px;
}
.modal-solid .modal-close:hover {
  background: none;
  color: red;
}
/* SERVICES */
#page-service {
  background: url('../images/common/Reception.JPG') no-repeat;
  background-position: center 0;
  background-size: cover;
}
#service-explore {
  padding-bottom: 0;
}
#service-explore .serv-header {
  position: relative;
  background: #fff;
}
#service-explore .serv-header .sec-header {
  margin-bottom: 80px;
}
#service-explore .serv-header:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 30px;
  margin-left: -30px;
}
#service-explore .section-content {
  background-color: #E0E0E0;
  padding: 7em 0;
}
#service-explore .mini-hr {
  border-color: #fff;
}
#service-explore .mini-hr span {
  background-color: #e0e0e0;
  margin-bottom: -15px;
}
.serv-title h3 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.sp-hr {
  width: 100%;
  max-width: 50px;
  display: inline-block;
  border-bottom: 3px solid #333;
  margin-top: 20px;
  margin-bottom: 20px;
}
.serv-list li {
  font-size: 18px;
  padding: 7px 0 7px 20px;
  letter-spacing: 0.07em;
  position: relative;
}
.serv-list li:before {
  content: '\f192';
  font-family: 'FontAwesome';
  position: absolute;
  top: 7px;
  left: 0;
  font-size: 12px;
}
.serv-list.sList2 li {
  padding: 7px 20px 7px 0;
}
.serv-list.sList2 li:before {
  top: 7px;
  left: auto;
  right: 0;
  font-size: 12px;
}
.icon-group-list span {
  font-size: 36px;
  padding: 5px 10px;
  display: inline-block;
}
.container-min {
  max-width: 800px;
}
/* Contact */
#page-contact {
  background: url("../images/bliss-map.jpg") no-repeat;
  background-position: center 0;
  width: 100%;
  height: 100%;
  max-height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.blissmap {
  height: 400px;
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: 30px;
}
.blissmap .map-google,
.blissmap .map-static {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #000;
}
.blissmap .map-static {
  opacity: 1;
  visibility: visible;
  z-index: 10;
  background: url(../images/Bliss-Hotel-Map.png) center;
}
.blissmap.g .map-static {
  opacity: 0;
  visibility: hidden;
}
.blissmap .map-google {
  opacity: 1;
  background: url(../images/gmap.jpg) center center;
}
.blissmap .btn.gmap,
.blissmap .smap {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #000;
  border-radius: 0;
  color: #000;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  left: 40%;
  letter-spacing: 1px;
  padding: 10px;
  position: absolute;
  top: -20px;
  width: 20%;
  z-index: 15;
}
.blissmap .btn.show {
  display: block;
}
.blissmap .btn.hide {
  display: none;
}
.blissmap .btn-map {
  display: inline-block;
  width: 210px;
  opacity: 0;
}
.blissmap .map-google:hover .btn-map {
  opacity: 1;
}
.col-contact {
  padding: 30px;
  height: 100%;
  margin-bottom: 30px;
}
.col-contact.col-contact-info {
  background: url('../images/bliss-hotel-singapore.jpg') center 0 no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #fff;
}
.col-contact address {
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 1.5;
}
.col-contact address a {
  color: #0088cc;
}
.col-contact label {
  font-weight: normal;
}
.col-contact .form-control {
  border-color: #eaeaea;
  border-width: 2px;
  min-height: 44px;
  box-shadow: none;
  border-radius: 0;
}
.col-contact .form-control:focus {
  border-color: #36aecb;
}
.col-contact .btn-gray-stk {
  border-color: #eaeaea;
  background: #fff;
}
.col-contact .btn-gray-stk:hover {
  background: #36aecb;
  color: #fff;
  border-color: #36aecb;
}
.col-contact-form {
  background: none;
  border: 1px solid #eee;
}
.col-contact-form .col-contact-in {
  padding: 0;
  border: none;
}
.col-contact-in {
  border: 1px solid #fff;
  padding: 30px;
  height: 100%;
}
@media (min-width: 768px) {
  .col-contact-in {
    min-height: 448px;
  }
}
.mapChinatown {
  background: url('../images/top10-attractions-in-chinatown-singapore.jpg') center 0 no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.map2 {
  background: url('../images/sentosa_island_masthead01.jpg') center 0 no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.map3 {
  background: url('../images/tour_img-9207-48.jpg') center 0 no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.contact-col-title {
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.contact-form {
  display: block;
  height: auto;
  clear: both;
}
.cotact-overlay {
  background: url("../images/3big.png") 0 0 repeat rgba(0, 0, 0, 0.7);
  opacity: 0.9;
}
#destinations {
  background-color: #f5f5f5;
}
.intro-article-absol {
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0;
  z-index: 100;
}
.intro-article-absol h1 {
  letter-spacing: 0.1em;
  margin-bottom: 0;
}
@keyframes bounce-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(5px);
  }
}
.arrow-bounce {
  font-size: 14px;
  padding: .125em 0;
  color: #fff;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}
.is-loaded .arrow-bounce {
  animation: bounce-down 1.5s infinite;
}
.is-loaded :target {
  animation: highlight 1s ease;
}
@keyframes highlight {
  0% {
    background-color: indigo;
  }
  100% {
    background-color: white;
  }
}
.arrow-bounce:hover,
.arrow-bounce:focus {
  color: #36aecb;
}
.btn-more.btn-more-room {
  padding: 12px 30px;
}
.class-test {
  padding: 40px;
}
/* ABOUT */
#page-about {
  background: url('../images/common/Reception.JPG') center 20% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
#about-explore.section-auto {
  padding-bottom: 0;
}
#about-explore .about-header {
  position: relative;
  background-color: #fff;
}
#about-explore .about-header:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 20px;
  margin-left: -20px;
}
.about-header .sec-header {
  max-width: 650px;
  margin-bottom: 6em;
}
.about-header .sec-header h2 {
  font-family: 'Bauer Bodoni Std';
  text-transform: uppercase;
  font-weight: bold;
}
.about-header .sec-header hr {
  max-width: 50px;
  margin: 10px auto 30px;
  border-color: #111;
}
.about-content,
.pattern-bg {
  background: url("../images/3big.png") repeat scroll 0 0 #f5f5f5;
  padding: 7em 0;
}
.row-about-hold {
  background-color: #111;
  padding: 40px;
  margin-bottom: 40px;
}
.row-about-hold:last-child {
  margin-bottom: 0;
}
.col-about {
  position: relative;
}
.col-about .col-about-title {
  color: #fff;
  font-family: "Bauer Bodoni Std";
  font-size: 28px;
  font-weight: normal;
  letter-spacing: 0.1em;
  margin-bottom: 40px;
  margin-top: 0;
  position: relative;
  text-transform: uppercase;
}
.col-about .col-about-title:after {
  background: #fff;
  bottom: -20px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 10%;
}
.col-about .col-about-thumb {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 355px;
  background-repeat: no-repeat !important;
  background-position: center 0!important;
  background-size: cover!important;
}
.col-about .col-about-thumb div {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.col-about .col-about-thumb .map-static {
  opacity: 1;
}
.col-about .col-about-thumb .map-google {
  opacity: 0;
}
.col-about .col-about-cont {
  color: #fff;
}
.col-about p.p-first {
  font-size: 18px;
  margin-bottom: 20px;
}
.col-about p:last-child {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 35px;
  -moz-column-gap: 35px;
  column-gap: 35px;
  text-align: justify;
}
.common-head .sec-header {
  max-width: 700px;
}
.common-head .sec-header hr {
  max-width: 80px;
  margin: 20px auto 30px;
  border-color: #111;
}
nav .book-room {
  opacity: 0;
  left: 15px;
  top: 10px;
  position: absolute;
  background: #9695a0;
  border: 1px solid #9695a0;
  border-radius: 1px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.05em;
  padding: 6px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background 500ms ease-in-out 0s, border 500ms ease-in-out 0s;
  width: auto;
}
nav ul.top-nav {
  opacity: 0;
  position: absolute;
  right: 15px;
  top: 10px;
}
nav ul.top-nav li {
  font-size: 18px;
  display: inline-block;
  margin: 0 5px;
}
nav ul.top-nav a {
  color: #ddd;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  -ms-transition: all 1s linear;
  transition: all 1s linear;
}
nav ul.top-nav a:hover {
  opacity: 0.5;
}
.is-sticky nav .book-room,
.is-sticky nav ul.top-nav {
  opacity: 1;
}
/* Responsive style */
@media (max-width: 767px) {
  .top-nav {
    display: none;
  }
}
@media (min-width: 480px) {
  #section-3 {
    clear: both;
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
  }
}
@media (max-width: 479px) {
  #section-3 {
    position: relative;
    width: 100%;
    height: 700px;
  }
  .section-3 .left.back-img {
    width: 100%;
    height: 250px;
  }
  .section-3 .right.rContent {
    width: 100%;
    height: 450px;
    overflow: auto;
  }
}
#page-attraction {
  background: url('../images/attraction/Buddha Temple.jpg') center 20% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
#attraction-explore.section-auto {
  padding-bottom: 0;
}
#attraction-explore .attraction-header {
  position: relative;
  background-color: #fff;
}
#attraction-explore .attraction-header:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 20px;
  margin-left: -20px;
}
.col-attraction-box {
  padding-left: 5px;
  padding-right: 5px;
}
.attrac-filter a {
  background-color: #fff;
}
.col-attraction {
  margin-bottom: 30px;
  width: 100%;
  display: table;
  height: 240px;
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.col-attraction-in {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: bottom;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.col-attraction-in .col-attraction-desc {
  background-color: rgba(255, 255, 255, 0.8);
  color: #22103f;
  padding: 20px;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.col-attraction-in .col-attraction-desc h4,
.col-attraction-in .col-attraction-desc p {
  color: #22103f;
}
.col-attraction-in .col-attraction-desc h4 {
  font-family: "ProximaNovaCondensedSemibold";
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
}
.col-attraction-in .col-attraction-desc p {
  margin-bottom: 0;
  line-height: 18px;
  height: 0px;
  overflow: hidden;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.col-attraction-in:hover {
  background-color: rgba(0, 0, 0, 0);
}
.col-attraction-in:hover .col-attraction-desc {
  background-color: rgba(255, 255, 255, 0.95);
}
.col-attraction-in:hover .col-attraction-desc p {
  height: 70px;
  padding-top: 10px;
}
.btn-exp {
  position: absolute;
  bottom: 50px;
  left: 50%;
  z-index: 100;
  display: block;
  border: 1px solid #000;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.06em;
  margin-top: 10px;
  padding: 2px;
  text-transform: uppercase;
  transition: all 0.5s ease-in 0s;
  margin-left: -70px;
}
.btn-exp span {
  background: #000;
  border: 1px solid #000;
  display: block;
  padding: 5px 15px;
  transition: all 0.5s ease-in 0s;
}
.foo-address {
  margin-bottom: 10px;
}
.foo-address h5 {
  letter-spacing: 0.2em;
}
.social-list a {
  font-size: 30px;
  display: inline-block;
}
.social-list a:last-child {
  font-size: 35px;
}
#bestRate .table-holder {
  max-width: 500px;
  margin: 0 auto;
}
#bestRate hr {
  margin-bottom: 10px;
  margin-top: 0;
}
.table.table-promo {
  margin-bottom: 0;
}
.table.table-promo tr:first-child td {
  border-top: none;
}
.table.table-promo tr td {
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: #eee;
  font-size: 12px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.table.table-promo tr td:first-child {
  padding-left: 0;
}
.table.table-promo tr td:last-child {
  padding-right: 0;
  text-align: right;
}
/* STYLE CONTENT  */
html,
body {
  width: 100%;
  height: 100%;
}
/*======================================
	navbar 
======================================-*/
@media only screen and (min-width: 768px) {
  .navbar-site43 {
    text-decoration: none;
    border: 0 none;
    margin-bottom: 0;
    top: -50px;
    border-radius: 0;
    position: absolute;
    width: 100%;
    z-index: 1000;
    -webkit-transition: top 0.2s ease;
    -moz-transition: top 0.2s ease;
    -o-transition: top 0.2s ease;
    -ms-transition: top 0.2s ease;
    transition: top 0.2s ease;
  }
  .navbar-site545 {
    text-decoration: none;
    border: 0 none;
    margin-bottom: 0;
    top: -50px;
    border-radius: 0;
    position: absolute;
    width: 100%;
    z-index: 1000;
    -webkit-transition: top 0.2s ease;
    -moz-transition: top 0.2s ease;
    -o-transition: top 0.2s ease;
    -ms-transition: top 0.2s ease;
    transition: top 0.2s ease;
  }
  .navbar-site {
    text-decoration: none;
    border: 0 none;
    margin-bottom: 0;
    top: -50px;
    border-radius: 0;
    position: absolute;
    width: 100%;
    z-index: 1000;
    -webkit-transition: top 0.2s ease;
    -moz-transition: top 0.2s ease;
    -o-transition: top 0.2s ease;
    -ms-transition: top 0.2s ease;
    transition: top 0.2s ease;
  }
  .nav-inner {
    top: 22px;
  }
  .is-sticky .navbar-site .navbar-nav {
    margin-top: 150;
  }
  .navbar-inverse {
    background: #000;
  }
  .navbar-inverse #navbar {
    margin-top: 15px;
  }
  .navbar-inverse .navbar-nav {
    -webkit-transition: top 0.2s ease;
    -moz-transition: top 0.2s ease;
    -o-transition: top 0.2s ease;
    -ms-transition: top 0.2s ease;
    transition: top 0.2s ease;
    margin: 0 auto;
    float: none;
    text-align: center;
  }
  .navbar-inverse .navbar-nav > li {
    font-family: "ProximaNovaCondensed";
    display: inline-block;
    float: none;
  }
  .navbar-inverse .navbar-nav > li:first-child > a {
    border-left: 0;
  }
  .navbar-inverse .navbar-nav > li > a {
    font-size: 13px !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0 10px;
    line-height: 16px;
    border-left: 1px solid #fff;
    color: #fff;
    background-color: none;
  }
  .navbar-inverse .navbar-nav > li > a:hover,
  .navbar-inverse .navbar-nav > li > a:focus {
    color: #dddddd;
    background: none !important;
  }
  .navbar-inverse .navbar-nav > .active > a {
    color: #dddddd;
    background: none !important;
  }
  .navbar-inverse .navbar-nav > .active > a,
  .navbar-inverse .navbar-nav > .active > a:hover,
  .navbar-inverse .navbar-nav > .active > a:focus {
    color: #dddddd;
    background-color: none !important;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu {
    box-shadow: none;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    line-height: 18px ;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: none !important;
  }
  .navbar-site.nav-inner {
    background-color: transparent;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    z-index: 999999;
    top: 0;
    padding-top: 15px;
  }
  .navbar-site.nav-inner .left {
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 100;
  }
  .navbar-site.nav-inner .right {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 100;
  }
  .navbar-site.nav-inner .right ul.top-nav li {
    font-size: 18px;
    display: inline-block;
    margin: 0 5px;
  }
  .navbar-site.nav-inner .right ul.top-nav a {
    color: #ddd;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    -ms-transition: all 1s linear;
    transition: all 1s linear;
  }
  .navbar-site.nav-inner .right ul.top-nav a:hover {
    opacity: 0.5;
  }
  .navbar-site.nav-inner .book-room {
    background: #a4a9a9;
    border: 1px solid #a4a9a9;
    border-radius: 1px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.05em;
    padding: 6px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background 500ms ease-in-out 0s, border 500ms ease-in-out 0s;
    width: auto;
  }
  .navbar-site.nav-inner .book-room:hover,
  .navbar-site.nav-inner .book-room:active {
    background: none;
    border: 1px solid #666;
  }
  .navbar-site.nav-inner .logo {
    display: inline;
    border-left: none;
  }
  .navbar-site.nav-inner .logo img {
    width: 120px;
  }
  .navbar-site.nav-inner .afterLogo a {
    border-left: none;
  }
}
@media only screen and (max-width: 767px) {
  .navbar-site.navbar-site {
    background: #000;
    width: 100%;
    z-index: 999999;
  }
  .navbar-site.navbar-inner {
    position: fixed;
    background: #000;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999999;
  }
}
.welcome_text h2:after {
  background: none repeat scroll 0 0 #e4ceac;
  bottom: -25px;
  content: "";
  height: 2px;
  left: 45%;
  position: absolute;
  width: 10%;
}
.welcome_text h2:before {
  background: #e4ceac;
  top: -25px;
  content: "";
  height: 2px;
  left: 45%;
  position: absolute;
  width: 10%;
}
/*======================================
	header 
======================================-*/
.icon-icon-tripadvisor {
  font-size: 127%;
}
header {
  position: absolute ;
  text-align: center;
  background-color: transparent;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  top: 0;
  width: 100%;
}
header .left {
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 100;
}
header .right {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 100;
}
header .book-room {
  background: #a4a9a9;
  border: 1px solid #a4a9a9;
  border-radius: 1px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.05em;
  padding: 6px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background 500ms ease-in-out 0s, border 500ms ease-in-out 0s;
  width: auto;
}
header .book-room:hover,
header .book-room:active {
  background: none;
  border: 1px solid #666;
}
header ul.top-nav li {
  font-size: 18px;
  display: inline-block;
  margin: 0 5px;
}
header ul.top-nav a {
  color: #ddd;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  -ms-transition: all 1s linear;
  transition: all 1s linear;
}
header ul.top-nav a:hover {
  opacity: 0.5;
}
.logo {
  display: block;
  letter-spacing: 0.09em;
  margin: 5px auto 0;
  transition: all 0.5s ease 0s;
  width: 190px;
}
.logo img {
  max-width: 100%;
  width: 160px;
}
/*======================================
	section intro
======================================-*/
.welcome_text {
  animation-delay: 0.8s;
  animation-duration: 5s;
  animation-fill-mode: both;
  margin: 0 auto;
  opacity: 1 !important;
  color: #fff;
  position: relative;
  text-align: center;
  z-index: 203;
}
.welcome_text span {
  font-family: "Libre Baskerville Italic";
  font-size: 34px;
  font-style: italic;
  color: #e4ceac;
  line-height: 1.8;
  margin: 0 auto 15px;
  padding-bottom: 9px;
  position: relative;
  display: block;
}
.welcome_text h2 {
  font-family: 'Bauer Bodoni Std';
  font-size: 56px;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 1.1;
  position: relative;
  display: inline-block;
}
.welcome_text span:after,
.content.prdec h1:after {
  animation-delay: 1.6s;
  animation-duration: 0.5s;
}
.arrow-bottom {
  background: url(../images/arrow-bottom.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  bottom: -115px;
  clear: both;
  cursor: pointer;
  display: block;
  height: 18px;
  left: 48.99%;
  margin: 0 auto;
  opacity: 1;
  position: absolute;
  width: 34px;
  z-index: 100;
}
.arrow-bottom::after {
  bottom: 150%;
  color: #fff;
  content: "EXPLORE BLISS";
  display: block;
  left: -100%;
  position: absolute;
  white-space: nowrap;
}
.arrow-bottom-all {
  bottom: 35px;
}
.arrow-bottom-all.dark {
  background: url(../images/arrow-bottom-dark.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.arrow-bottom-all.dark:after {
  color: #000;
}
.arrow-bottom-all:after {
  content: "EXPLORE MORE";
  color: #fff;
}
#section-1 .arrow-bottom {
  animation: 2.5s ease 0s normal none infinite running bounce-down;
  -webkit-animation: 2.5s ease 0s normal none infinite running bounce-down;
  background: url(../images/arrow-01.png) no-repeat center;
  width: 53px;
  height: 23px;
  left: 48.5%;
}
#section-1 .arrow-bottom:after {
  content: "";
  left: -50%;
}
/*======================================
	section 
======================================-*/
.no-margin-bottom {
  margin-bottom: 0;
}
.section {
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
  clear: both;
}
.home .section {
  padding: 0;
}
.section-1 {
  height: 100%;
  width: 100%;
  background: url(../images/slider/1.jpg) fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.section-container {
  z-index: 2;
}
.background-overly {
  height: 100%;
  width: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4d000000, endColorstr=#4d000000);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4d000000, endColorstr=#4d000000);
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
}
.background-overly-inner {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4d000000, endColorstr=#4d000000);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4d000000, endColorstr=#4d000000);
}
/*======================================
	section-2
======================================-*/
.gray-bg {
  background: #E0E0E0;
}
.light-bg {
  background: #fff;
}
.section-2 {
  background: #fff;
}
.section-2 .textbox {
  margin-top: 10%;
}
.section-inner {
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h6,
.text-white p {
  color: #fff;
}
.textbox {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.btn-more {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.95);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f2ffffff, endColorstr=#f2ffffff);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f2ffffff, endColorstr=#f2ffffff);
  border: 0 solid #000;
  border-radius: 0;
  color: #000;
  font-family: ProximaNovaCondensed;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 14px 20px;
  text-transform: uppercase;
}
.btn-more:hover {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.95);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f2000000, endColorstr=#f2000000);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f2000000, endColorstr=#f2000000);
  color: #fff;
}
h2.typo {
  font-family: "ProximaNovaThin";
  color: #000;
  font-size: 48px;
}
@media only screen and (min-width: 992px) {
  h2.typo {
    font-size: 34px;
  }
}
.lead-para {
  font-size: 18px;
  font-family: ProximaNovalight;
  font-weight: 300;
  line-height: 1.4;
  color: #666;
  margin-bottom: 20px;
}
hr.small {
  width: 100px;
  margin-left: 0;
  border-width: 3px;
}
hr.small.center {
  margin-left: auto;
  margin-right: auto;
}
.slide-content {
  max-width: 70%;
}
.slide-content .subhead {
  line-height: 20px;
  margin-bottom: 10px;
}
.slide-content h1 {
  font-family: 'Bauer Bodoni Std';
  font-weight: normal;
  color: #fff;
  font-size: 48px;
}
.slide-content p {
  color: #fff;
  max-width: 80%;
}
.parallax-3 {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.textbox3 {
  color: #fff;
  margin-left: 60px;
  max-width: 75%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6000000, endColorstr=#e6000000);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6000000, endColorstr=#e6000000);
  padding: 30px;
}
.textbox3 h2 {
  color: #fff;
}
.textbox3 p {
  color: #ddd;
}
.re-slide,
.swiper-slide {
  height: 100%;
  width: 100%;
}
.arrow-left {
  background: url(../images/arrows.png) no-repeat left top;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
  z-index: 100;
}
.arrow-right {
  background: url(../images/arrows.png) no-repeat left bottom;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
  z-index: 100;
}
.swiper-container {
  height: 100% !important;
  width: 100%;
}
.swiper-wrapper {
  height: 100% !important;
}
.pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom: 5px;
  width: 100%;
  z-index: 10;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #999;
  box-shadow: 0px 1px 2px #555 inset;
  margin: 0 3px;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}
.swiper-slide {
  height: 100% !important;
}
.swiper-slide .left {
  width: 50%;
  height: 100%;
  display: block;
  float: left;
}
.swiper-slide .right {
  width: 50%;
  height: 100%;
  float: right;
}
hr.thin {
  border-width: 1px;
  margin-left: 0;
  width: 40px;
}
#section-3 {
  background: url(../images/accom/4.JPG) left fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.room-slider {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.room-slider div {
  height: 100%;
  width: 100%;
}
.section-inner {
  z-index: 10;
}
.swiper-slide .right {
  display: block;
  opacity: 0;
  transform: translateX(0);
  transition: opacity 0.5s linear 0s, transform 0.7s cubic-bezier(0.56, 0.48, 0, 0.99) 0s;
  -webkit-transition: opacity 0.5s linear 0s, transform 0.7s cubic-bezier(0.56, 0.48, 0, 0.99) 0s;
  -ms-transition: opacity 0.5s linear 0s, transform 0.7s cubic-bezier(0.56, 0.48, 0, 0.99) 0s;
}
.cycle-slide-active .right {
  filter: none;
  opacity: 1;
  transform: translateX(-120px);
}
.section-3 {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.section-3 .left {
  width: 50%;
  height: 100%;
  float: left;
}
.section-3 .right {
  width: 50%;
  height: 100%;
  float: left;
}
.textboxRight {
  max-width: 80%;
  margin: 0 auto;
}
@media (max-width: 767px) {
  header .left {
    display: none;
  }
  .welcome_text h2 {
    font-size: 40px;
  }
  #section-1 .arrow-bottom {
    left: 42.5%;
  }
  .section-3 h2.typo {
    font-size: 25px;
  }
  .section-3 .right {
    float: none;
    height: 100%;
    margin: 0 auto;
    width: 80%;
  }
  .textbox3 {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    margin-left: 0;
    max-width: 100%;
    padding: 30px;
  }
  .section-2 .section-about {
    padding: 80px 0;
  }
  .textbox4 {
    margin: 80px auto;
    max-width: 90%;
  }
}
.section-4 {
  background: url("../images/bg/pattern.png") repeat #f5f5f5;
}
.roomstart a {
  color: #fff;
  display: inline-block;
}
.roomstart a:hover {
  background: #fff;
  color: #333;
}
@media (min-width: 778px) {
  .section-4 .section-inner {
    background: url("../images/bg/4.png") no-repeat center center;
  }
}
.textbox4 {
  margin: 50px 0 0 118px;
  max-width: 400px;
}
.textbox4 p {
  color: #666;
  line-height: 24px;
}
.textbox4 p::first-letter {
  font-size: 200%;
}
@media only screen and (min-width: 992px) and (max-width: 1100px) {
  .textbox4 {
    margin: 50px 0 0;
  }
}
@media (min-width: 1400px) {
  .textbox4 {
    margin: 160px 0 0 66px;
  }
}
.white-text * {
  color: #fff;
}
.section-5 {
  padding: 0 0 !important;
  height: 100%;
  background: url(../images/accom/12.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.section-5 .gray-full {
  border-color: #d5d5d5 ;
  margin: 60px 0 40px;
}
.section-5 .section-inner {
  height: 100%;
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
}
.section-5 .room-section {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
  padding: 30px 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000, endColorstr=#80000000);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000, endColorstr=#80000000);
}
@media (max-width: 767px) {
  .section-5 {
    min-height: 600px;
  }
  .section-5 room-section {
    position: relative;
  }
}
.StandardSingle {
  background-image: url(../images/common/Standard%20Single.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.DeluxeDouble {
  background-image: url(../images/common/Deluxe%20King%202.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.StandardDouble {
  background-image: url(../images/common/Standard%20Double.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.roomBox {
  background-size: cover;
  display: block;
  padding: 95% 20px 0;
  position: relative;
}
.roomBox:hover .roomBoxText {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#b3ffffff, endColorstr=#b3ffffff);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#b3ffffff, endColorstr=#b3ffffff);
}
.roomBox .roomBoxText {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6ffffff, endColorstr=#e6ffffff);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6ffffff, endColorstr=#e6ffffff);
  bottom: 20px;
  display: block;
  padding: 18px;
  position: absolute;
  -webkit-transition: background 250ms ease-in;
  -moz-transition: background 250ms ease-in;
  -o-transition: background 250ms ease-in;
  -ms-transition: background 250ms ease-in;
  transition: background 250ms ease-in;
  width: calc(60%);
  width: calc(85%);
}
.roomBox .roomBoxText h5 {
  font-family: "ProximaNovaCondensedSemibold";
  color: #22103f;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
}
.roomBox .roomBoxText h6 {
  color: #22103f;
  font-family: "ProximaNova", Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1;
  margin-top: 0.5em;
}
.gray-bg h2 {
  color: #161616;
}
.btn-booking {
  border: 1px solid #000;
  border-radius: 0;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.06em;
  padding: 2px;
  text-transform: uppercase;
}
.btn-booking span {
  background: #000;
  display: block;
  padding: 10px 25px;
}
.btn-booking-white {
  border: 1px solid #fff;
}
.btn-booking-white span {
  background: #fff;
  color: #000 !important;
}
.btn-booking-white * {
  color: #000 !important;
}
.title-bar {
  margin-bottom: 20px;
}
.section-5 .col-gall-inner .gall-item {
  height: 175px;
}
.section-5 .col-gall-inner a img {
  min-height: 100%;
}
.service-list {
  margin-top: 40px;
}
.service-list li p {
  font-size: 14px;
  letter-spacing: 0.08em;
  position: relative;
}
.service-list li p span {
  display: inline-block;
  padding-right: 10px;
}
.section-6 {
  border-top: solid 1px #eee;
  height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.section-6 .inner {
  max-width: 70%;
  margin: 0 auto;
}
.section-6 .left {
  width: 50%;
  height: 100%;
  display: block;
  float: left;
  background: #fff;
}
.section-6 .right {
  width: 50%;
  height: 100%;
  display: block;
  float: right;
  background: url(../images/Bliss-Hotel-Map-952x566.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.sec-text {
  margin: 0 auto 60px;
  max-width: 750px;
  text-align: center;
}
@media (max-width: 1370px) {
  .sec-text {
    margin: 0 auto 0;
    max-width: 550px;
  }
}
@media (max-width: 1199px) {
  .sec-text {
    margin: 0 auto 0;
    max-width: 90%;
  }
}
.full {
  height: 100%;
  width: 100%;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  background-color: white;
  background-color: rgba(255, 255, 255, 0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00ffffff, endColorstr=#00ffffff);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00ffffff, endColorstr=#00ffffff);
}
.full .btn {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  opacity: 0;
}
.section-6 .right:hover .full {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.75);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#bfffffff, endColorstr=#bfffffff);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#bfffffff, endColorstr=#bfffffff);
}
.section-6 .right:hover .full .btn {
  opacity: 1;
}
.containerfull,
.section-footer2 {
  width: 100%;
}
.section-footer2 {
  padding: 0 !important;
}
.section-footer {
  background: #111619;
  color: #fff;
  padding: 30px 0 !important;
}
.section-footer a {
  color: #f5f5f5;
}
.section-footer h6 {
  color: #fff;
  font-family: ProximaNovacondensed;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.section-footer h3 {
  font-size: 30px;
  font-weight: normal;
}
.section-footer h4,
.section-footer h5,
.section-footer h3 {
  font-weight: normal;
}
.section-footer .social a {
  display: inline-block;
  font-size: 18px;
}
.section-footer .left {
  width: 50%;
  display: block;
  float: left;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.section-footer .right {
  width: 50%;
  float: left;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #9b9cae;
  background-color: rgba(155, 156, 174, 0.4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#669b9cae, endColorstr=#669b9cae);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#669b9cae, endColorstr=#669b9cae);
}
