@import url('../css/animate.css');
@import url('../css/proximanova.css');
@import url('../fonts/fonts.css');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url('../css/font-awesome.min.css');
@import url('../css/icon-moon.css');
@import url('../css/gradient.css');
/* EMBED / IMPORT FILE x */
/*
   usage
*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hide-md {
    display: none;
  }
}
@media (max-width: 480px) {
  .col-xxs-12 {
    width: 100%;
  }
}
#someMedia {
  width: 100%;
}
@media only screen and (min-width: 992px) and (max-width: 1100px) {
  #someMedia {
    width: 768px;
  }
  #someMedia .hide-md {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  #someMedia {
    width: 940px;
  }
}
/* UTILITIES */
.hw100 {
  height: 100%;
  width: 100%;
}
.w100 {
  width: 100%;
}
.h100 {
  height: 100%;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.no-margin-padding {
  margin: 0;
  padding: 0;
}
.relative {
  position: relative;
}
.zindex10 {
  z-index: 10;
}
.container-fluid-site {
  padding-left: 30px;
  padding-right: 30px;
}
.cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.wh100 {
  width: 100%;
  height: 100%;
}
.display-table {
  display: table;
}
.display-table-cell {
  display: table-cell;
  vertical-align: middle;
}
.btn-white {
  background-color: #fff;
}
.relative {
  position: relative;
}
.display-table {
  display: table;
  width: 100%;
  height: 100%;
}
.display-table-cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.secton-semi {
  padding: 4em 0;
}
.section-header {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  text-align: center;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
}
.room-item-hr {
  width: 100;
  height: 1px;
  background-color: #333;
  margin: 10px auto;
  opacity: 1;
}
.section-dark {
  color: #fff;
}
.section-dark .section-header {
  color: #fff;
}
.section-dark .item-sm {
  color: #fff;
}
.section-dark .foo-col-title {
  color: #53565f;
}
.section-dark .foo-list li a {
  color: #53565f;
}
.section-dark h1,
.section-dark h2,
.section-dark h3,
.section-dark h4,
.section-dark h5,
.section-dark h6 {
  color: #fff;
}
.section-dark p {
  color: #fff;
}
.section-light h1,
.section-light h2,
.section-light h3,
.section-light h4,
.section-light h5,
.section-light h6 {
  color: #333;
}
.mini-hr {
  max-width: 120px;
  border-bottom: 3px solid #eee;
  margin: 20px auto;
  text-align: center;
}
.mini-hr span {
  background-color: #eee;
  border: 2px solid #fff;
  border-radius: 14px;
  display: inline-block;
  height: 14px;
  margin-bottom: -14px;
  width: 14px;
}
@media (min-width: 768px) {
  .hide-lg {
    display: none;
  }
  .text-right-lg {
    text-align: right;
  }
}
@media (max-width: 767px) {
  .hide-sm {
    display: none;
  }
}
body {
  background: #fff;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}
h1.font-xlight,
h2.font-xlight,
h3.font-xlight,
h4.font-xlight,
h5.font-xlight,
h6.font-xlight {
  font-weight: 300;
}
a {
  color: #2A3744;
  outline: 0;
  transition: all 0.2s linear 0s, letter-spacing 0s linear 0s;
  -webkit-transition: all 0.2s linear 0s, letter-spacing 0s linear 0s;
}
a:focus,
a:hover,
a:active {
  outline: none;
  text-decoration: none;
  color: #E24E60;
}
/* Mixin */
/* Implementation */
#div {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
/* Implementation */
#div {
  -webkit-border-radius: 20px 20px 0px 0px;
  -moz-border-radius: 20px 20px 0px 0px;
  border-radius: 20px 20px 0px 0px;
}
/* Implementation */
#div {
  -webkit-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
}
/* Implementation */
.transition-all {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
#div:hover {
  opacity: 0;
}
/* Implementation */
#div {
  -webkit-transform: rotate(5deg) scale(0.5) skew(1deg) translate(0px);
  -moz-transform: rotate(5deg) scale(0.5) skew(1deg) translate(0px);
  -o-transform: rotate(5deg) scale(0.5) skew(1deg) translate(0px);
  -ms-transform: rotate(5deg) scale(0.5) skew(1deg) translate(0px);
  transform: rotate(5deg) scale(0.5) skew(1deg) translate(0px);
}
/* gradient Implementation */
#div {
  background-color: #663333;
  background-image: -webkit-linear-gradient(left, #663333, #333333);
  background-image: -moz-linear-gradient(left, #663333, #333333);
  background-image: -o-linear-gradient(left, #663333, #333333);
  background-image: -ms-linear-gradient(left, #663333, #333333);
  background-image: linear-gradient(left, #663333, #333333);
}
/* Implementation */
#div {
  background-color: #BADA55;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}
#div {
  background-color: #ff0000;
  background-color: rgba(255, 0, 0, 0.2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ff0000, endColorstr=#33ff0000);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ff0000, endColorstr=#33ff0000);
}
/*Color Math*/
/* Implementation */
.one {
  color: #b1b0b8;
}
.two {
  color: #b7b8b0;
}
.three {
  color: #abaca3;
}
.four {
  color: #d9d8dc;
}
.five {
  color: #ffffff;
}
/* Implementation */
.base-color {
  color: #b1b0b8;
}
.base-lighter {
  color: #cccbd0;
}
.base-lighter2 {
  color: #e6e6e8;
}
.base-darker {
  color: #a4a9a9;
}
.base-darker2 {
  color: #7a7b88;
}
/* STYLE CONTENT  */
html {
  height: auto;
  width: 100%;
}
body {
  width: 100%;
  height: auto !important;
}
/*======================================
	navbar 
======================================-*/
.slides-footer {
  bottom: 75px;
  position: fixed;
  height: 30px;
  left: 75px;
  right: 75px;
  z-index: 10;
  color: #ffffff;
  z-index: 100;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 16px;
}
.slides-footer div {
  color: rgba(255, 255, 255, 0.8);
}
.slides-footer div i {
  display: inline;
  font-size: 24px;
  margin: 0 5px;
}
.slides-footer div span {
  color: #ffffff;
}
header {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 30px;
  z-index: 1000;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
header .left {
  position: absolute;
  left: 60px;
  top: 0;
}
header .right {
  position: absolute;
  right: 60px;
  top: 0;
}
header .right img {
  height: 48px;
}
header.active {
  opacity: 0;
}
.logo {
  display: block;
}
.section-content {
  max-width: 80%;
  margin: 0 auto;
  -webkit-transform: rotate(0) scale(0.95) skew(0deg) translateY(120px);
  -moz-transform: rotate(0) scale(0.95) skew(0deg) translateY(120px);
  -o-transform: rotate(0) scale(0.95) skew(0deg) translateY(120px);
  -ms-transform: rotate(0) scale(0.95) skew(0deg) translateY(120px);
  transform: rotate(0) scale(0.95) skew(0deg) translateY(120px);
  transition: opacity 0.8s ease 0s, transform 0.8s ease 0.15s;
  -webkit-transition: opacity 0.8s ease 0s, transform 0.8s ease 0.15s;
}
.active .section-content {
  -webkit-transform: rotate(0) scale(1) skew(0deg) translateY(0px);
  -moz-transform: rotate(0) scale(1) skew(0deg) translateY(0px);
  -o-transform: rotate(0) scale(1) skew(0deg) translateY(0px);
  -ms-transform: rotate(0) scale(1) skew(0deg) translateY(0px);
  transform: rotate(0) scale(1) skew(0deg) translateY(0px);
}
.section-one-bg {
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
}
.section-container {
  z-index: 10;
}
.background-overly {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .2;
}
.background-overly-inner {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4d000000, endColorstr=#4d000000);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4d000000, endColorstr=#4d000000);
}
.overlay-shade {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.relative1 {
  position: relative;
  z-index: 2;
}
.relative5 {
  position: relative;
  z-index: 5;
}
.introContent h1 {
  font-size: 72px;
  font-weight: 100;
}
.introContent p {
  font-size: 20px;
  opacity: .9;
}
/* Centered texts in each section
* --------------------------------------- */
.section {
  background-repeat: no-repeat;
  background-position: center top;
}
h1 {
  font-weight: 100;
  font-size: 140px;
  color: #fff;
}
/* Backgrounds will cover all the section
* --------------------------------------- */
#section0,
#section1,
#section2,
#section3,
.cover1 {
  background-size: cover;
  background-attachment: scroll;
}
/* Defining each sectino background and styles
* --------------------------------------- */
#section4 {
  background-size: cover;
  background-attachment: scroll;
  background-color: #f2f2f0;
}
/*Adding background for the slides
* --------------------------------------- */
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  color: #fff;
  background: #fff;
}
#fp-nav.right {
  right: 60px;
}
.fp-controlArrow.fp-prev {
  left: 250px;
  border: 0 none;
  height: 48px;
  right: 250px;
  width: 48px;
  background: url("../images/prev.png") no-repeat center !important;
}
.fp-controlArrow.fp-next {
  border: 0 none;
  height: 48px;
  right: 250px;
  width: 48px;
  background: url("../images/next.png") no-repeat center !important;
}
@media (max-width: 1300px) {
  .fp-controlArrow.fp-prev {
    left: 150px;
  }
  .fp-controlArrow.fp-next {
    right: 150px;
  }
}
#section3 h3 {
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  margin: 40px;
}
.form-control::-moz-placeholder {
  color: #ddd;
  opacity: 1;
}
.form-control::-webkit-placeholder {
  color: #ddd;
  opacity: 1;
}
.form {
  max-width: 400px;
  display: block;
  margin: 0 auto;
}
.form input.subscribe_email {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  box-shadow: none !important;
  color: #ffffff !important;
  font-size: 20px;
  height: auto;
  margin-bottom: 10px;
  padding: 10px 15px;
}
.form .add-subscriber {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6ffffff, endColorstr=#e6ffffff);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6ffffff, endColorstr=#e6ffffff);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  box-shadow: none !important;
  font-size: 18px;
  height: auto;
  color: #444;
  margin-bottom: 10px;
  padding: 10px 15px;
}
/* NeW STYLE 
----------------------------------------------------------- */
.clear {
  display: block;
  clear: both;
}
.sec-heading {
  font-size: 40px;
}
.text-bold {
  font-weight: 700;
}
.subtitle-lead {
  font-size: 18px;
  line-height: 1.6;
  color: #fff;
  max-width: 800px;
  margin: 0 auto;
}
.about-item {
  margin-top: 50px;
}
.about-item .about-icon {
  font-size: 44px;
  float: left;
  line-height: 1;
}
.about-item .about-denote {
  overflow: hidden;
  padding-left: 15px;
}
.about-item .about-denote h4 {
  margin-top: 0;
  font-weight: 400;
  font-style: 18px;
  margin-bottom: 15px;
}
.feat-item {
  margin-top: 50px;
  text-align: center;
}
.feat-item .feat-item-icon {
  font-size: 50px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border: 2px solid #fff;
  margin: 0 auto;
  border-radius: 50%;
}
.feat-item .feat-denote .title {
  font-weight: 600;
  margin-top: 15px;
}
.item-single .title {
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: 700;
}
.item-single .denote p {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 20px;
}
.btn.btn-stk {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 0;
  position: relative;
}
.btn.btn-stk span {
  position: relative;
}
.btn.btn-stk:before {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  background-color: #fff;
  left: 0;
  top: 0;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.btn.btn-stk:hover {
  color: #67cbf0;
}
.btn.btn-stk:hover:before {
  width: 100%;
}
.gallery-container {
  margin-top: 50px;
}
.gallery-container .row {
  margin-left: -10px;
  margin-right: -10px;
}
.gallery-container .row .gall {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}
.gallery-container .row .gall a {
  display: block;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.gallery-container .row .gall a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.gallery-container .row .gall a img {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.gallery-container .row .gall a:hover:before {
  background-color: rgba(0, 0, 0, 0);
}
.gallery-container .row .gall a:hover img {
  transform: scale(1.1);
}
.item-center {
  max-width: 800px;
  margin: 0 auto;
}
.fr-window.fr-window-fresco canvas {
  display: none !important;
}
.fr-bubble canvas {
  display: none !important;
}
@media only screen and (max-width: 767px) {
  .section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .section#section0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .xs-noTable .display-table {
    display: block;
  }
  .xs-noTable .display-table-cell {
    display: block;
  }
}
header {
  height: 60px !important;
  left: 0;
  position: fixed;
  top: 0 !important;
  width: 100%;
  z-index: 1000;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#33000000);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#33000000);
}
header .navbar-brand {
  color: #fff;
  float: left;
  font-size: 24px;
  font-weight: 100;
  height: auto;
  letter-spacing: 2px;
  line-height: 20px;
  padding: 20px;
}
#main-nav li a {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding: 20px;
  text-transform: uppercase;
}
#main-nav li a:hover {
  background: none;
  color: #ddd;
}
#main-nav > li > a:hover,
#main-nav > li > a:focus {
  background: none;
  color: #ddd;
  text-decoration: none;
}
#main-nav li > a:hover,
#main-nav li > a:focus,
#main-nav li > a:active {
  background: none;
  color: #ddd;
  text-decoration: none;
}
.slides-footer div i {
  display: inline;
  font-size: 18px;
  margin: 0 5px;
}
.slides-footer {
  bottom: 20px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  height: 30px;
  left: 20px;
  letter-spacing: 0.5px;
  position: fixed;
  z-index: 100;
}
#section0 .display-table {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#33000000);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#33000000);
}
.color-white {
  color: #fff;
}
.section-slider .section-content {
  max-width: 50%;
  color: #f5f5f5;
}
.section-slider .section-content h1 {
  font-size: 42px;
}
.section-slider .section-content h2,
.section-slider .section-content .h2 {
  display: block;
  font-size: 24px;
  font-weight: 600 !important;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.section-slider .section-content p {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5;
  margin-top: 25px;
}
.section-slider .section-content img {
  max-width: 100%;
}
.section-white {
  background: #fff !important;
}
.hasStory .imgsContainer {
  display: block;
  height: 696px;
  left: 58%;
  margin-left: -747px;
  margin-top: -325px;
  position: absolute;
  top: 42%;
  width: 800px;
  z-index: 1;
}
.hasStory .imgsContainer img {
  display: block;
  height: auto;
  margin-top: 20%;
  max-width: 78%;
  border-radius: 10px;
}
.hasStory .wrap {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 1180px;
}
.hasStory .box {
  left: 50%;
  margin-left: 89px;
  margin-top: -192px;
  position: absolute;
  top: 50%;
  width: 395px;
  z-index: 1;
}
.hasStory .box {
  color: #808080;
  font-size: 1.2em;
  line-height: 1.6em;
  text-align: left;
}
.hasStory .box h2,
.hasStory .box h1,
.hasStory .box h3,
.hasStory .box h4,
.hasStory .box h5,
.hasStory .box h6 {
  color: #111;
}
.hasStory .section-content {
  color: #f5f5f5;
}
.hasStory .section-content h2,
.hasStory .section-content .h2 {
  display: block;
  font-size: 24px;
  font-weight: 600 !important;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.hasStory .section-content p {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5;
  margin-top: 25px;
}
.hasStory .section-content img {
  max-width: 100%;
}
@media all and (min-width: 620px) and (max-width: 800px) {
  .imgsContainer {
    height: 563px;
    margin-left: -685px;
    margin-top: -278px;
    width: 647px;
  }
}
@media all and (max-width: 620px) {
  .imgsContainer {
    height: 464px;
    margin-left: -516px;
    margin-top: -208px;
    width: 534px;
  }
}
.background-overly-bg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000);
}
.gray-bg {
  background: #f7f7f7 !important;
}
.cover {
  background-size: cover;
  background-attachment: scroll;
}
/* Defining each sectino background and styles
* --------------------------------------- */
.section31 {
  background-image: url(../images/photo/31.jpg) !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
}
.future {
  background-image: url("../images/photo/6.jpg") !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
}
@media (max-width: 991px) {
  #main-nav li a {
    padding: 20px 10px;
  }
}
.hasStory .wrap {
  max-width: 1180px;
}
/* */
@media only screen and (max-width: 767px) {
  .section-content {
    transform: none !important;
    transition: none 0s ease 0s !important;
    max-width: 90%!important;
  }
  .section {
    min-height: 800px;
    position: relative;
    display: block;
  }
  .section,
  .slide {
    height: auto !important;
  }
  .hasStory .wrap {
    max-width: 90%;
  }
  .hasStory .imgsContainer {
    display: block;
    height: auto;
    left: 0;
    margin-left: 0;
    margin-top: 0;
    position: relative;
    top: auto;
    width: auto;
    max-width: 100%;
    z-index: 1;
  }
  .hasStory .imgsContainer img {
    max-width: 100%;
    margin-top: 20px;
  }
  .hasStory .box {
    left: 0;
    margin-left: 0;
    margin-top: 20px;
    position: relative;
    top: 0;
    width: 100%;
    max-width: 100%;
    z-index: 1;
  }
}
@media only screen and (max-width: 767px) {
  header .navbar-brand {
    font-size: 14px;
    font-weight: 600;
  }
}
