@import url('../css/proximanova.css');
@import url('../fonts/fonts.css');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
body {
  background: #fff;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}
h1.font-xlight,
h2.font-xlight,
h3.font-xlight,
h4.font-xlight,
h5.font-xlight,
h6.font-xlight {
  font-weight: 300;
}
a {
  color: #2A3744;
  outline: 0;
  transition: all 0.2s linear 0s, letter-spacing 0s linear 0s;
  -webkit-transition: all 0.2s linear 0s, letter-spacing 0s linear 0s;
}
a:focus,
a:hover,
a:active {
  outline: none;
  text-decoration: none;
  color: #E24E60;
}
