/*
   usage
*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hide-md {
    display: none;
  }
}
@media (max-width: 480px) {
  .col-xxs-12 {
    width: 100%;
  }
}
#someMedia {
  width: 100%;
}
@media only screen and (min-width: 992px) and (max-width: 1100px) {
  #someMedia {
    width: 768px;
  }
  #someMedia .hide-md {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  #someMedia {
    width: 940px;
  }
}
