

.btn {
	transition: all 0.25s linear 0s;
}
.btn:hover, .btn:focus {
	color: #FFFFFF;
}
.btn:active, .btn.active {
	box-shadow: none;
	outline: medium none;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
	background-color: #BDC3C7;
	color: rgba(255, 255, 255, 0.75);
	opacity: 0.7;
}

.btn-primary {
	background-color: #1ABC9C;
	color: #FFFFFF;
	border-color: #1ABC9C;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	background-color: #48C9B0;
	border-color: #48C9B0;
	color: #FFFFFF;
}
.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	background: none repeat scroll 0 0 #16A085;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary.active {
	background-color: #1ABC9C;
}
.btn-info {
	background-color: #3498DB;
	color: #FFFFFF;
	border-color: #3498DB;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
	background-color: #5DADE2;
	border-color: #5DADE2;
	color: #FFFFFF;
}
.btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
	background: none repeat scroll 0 0 #2C81BA;
}
.btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus, .btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, .btn-info.disabled.active, .btn-info.active[disabled], fieldset[disabled] .btn-info.active {
	background-color: #3498DB;
}
.btn-danger {
	background-color: #E74C3C;
	color: #FFFFFF;
	border-color: #E74C3C;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
	background-color: #EC7063;
	border-color: #EC7063;
	color: #FFFFFF;
}
.btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
	background: none repeat scroll 0 0 #C44133;
}
.btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger, .btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover, .btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus, .btn-danger.disabled:active, .btn-danger[disabled]:active, fieldset[disabled] .btn-danger:active, .btn-danger.disabled.active, .btn-danger.active[disabled], fieldset[disabled] .btn-danger.active {
	background-color: #E74C3C;
}
.btn-success {
	background-color: #2ECC71;
	color: #FFFFFF;
	border-color: #2ECC71;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
	background-color: #58D68D;
	border-color: #58D68D;
	color: #FFFFFF;
}
.btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
	background: none repeat scroll 0 0 #27AD60;
}
.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success.active[disabled], fieldset[disabled] .btn-success.active {
	background-color: #2ECC71;
}
.btn-warning {
	background-color: #F1C40F;
	border-color: #F1C40F;
	color: #FFFFFF;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
	background-color: #F5D313;
	border-color: #F5D313;
	color: #FFFFFF;
}
.btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
	background: none repeat scroll 0 0 #CDA70D;
}
.btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning, .btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled:active, .btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active, .btn-warning.disabled.active, .btn-warning.active[disabled], fieldset[disabled] .btn-warning.active {
	background-color: #F1C40F;
}
.btn-inverse {
	background-color: #34495E;
	color: #FFFFFF;
}
.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active, .open .dropdown-toggle.btn-inverse {
	background-color: #415B76;
	border-color: #415B76;
	color: #FFFFFF;
}
.btn-inverse:active, .btn-inverse.active, .open .dropdown-toggle.btn-inverse {
	background: none repeat scroll 0 0 #2C3E50;
}
.btn-inverse.disabled, .btn-inverse[disabled], fieldset[disabled] .btn-inverse, .btn-inverse.disabled:hover, .btn-inverse[disabled]:hover, fieldset[disabled] .btn-inverse:hover, .btn-inverse.disabled:focus, .btn-inverse[disabled]:focus, fieldset[disabled] .btn-inverse:focus, .btn-inverse.disabled:active, .btn-inverse[disabled]:active, fieldset[disabled] .btn-inverse:active, .btn-inverse.disabled.active, .btn-inverse.active[disabled], fieldset[disabled] .btn-inverse.active {
	background-color: #34495E;
}
.btn-embossed {
	box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15) inset;
}
.btn-embossed.active, .btn-embossed:active {
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15) inset;
}
.btn-wide {
	min-width: 140px;
	padding-left: 30px;
	padding-right: 30px;
}
.btn-link {
	color: #16A085;
}
.btn-link:hover, .btn-link:focus {
	background-color: rgba(0, 0, 0, 0);
	color: #1ABC9C;
	text-decoration: underline;
}
.btn-link[disabled]:hover, fieldset[disabled] .btn-link:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:focus {
	color: #BDC3C7;
	text-decoration: none;
}
.btn-block {
	white-space: normal;
}

.btn-stroke {
  background: none;
  border-color: #ccc;
  border-width: 2px;
  color: #fff;
}

.btn {
	&.btn-fix {
		min-width: 220px;
	}
	&.btn-square {
		border-radius: 0;
	}
	&.btn-log-submit {
		padding: 16px;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		font-size: 12px;
		font-weight: 600;
	}
	&.btn-tooltype {
		text-align: right;
		position: relative;
		padding: 5px 10px;

		.span-ckr {
			display: inline-block;
			position: absolute;
			left: 10px;
		}
	}
	&.btn-blk {
		background-color: #222;
		border-color: #111;
		color: #fff;

		&:hover {
			background-color: #111;
			border-color: #222;
		}
	}
	&.btn-conti {
		max-width: 250px;
		margin: 30px auto 0;
		padding: 15px;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 13px;
		letter-spacing: 0.05em;
	}
}