// header
header {
  height: 60px !important;
  left: 0;
  position: fixed;
  top: 0 !important;
  width: 100%;
  z-index: 1000;
  .crossbrowseropacity(black,.2);

  .navbar-brand {
    color: #fff;
    float: left;
    font-size: 24px;
    font-weight: 100;
    height: auto;
    letter-spacing: 2px;
    line-height: 20px;
    padding: 20px;
  }
}

#main-nav {
  li a {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 20px;
    text-transform: uppercase;

    &:hover {
      background: none;
      color:#ddd;
    }





  }

  > li > a:hover, > li > a:focus,  {
    background: none;
    color:#ddd;
    text-decoration: none;
  }

  li > a:hover,  li > a:focus, li > a:active {
    background: none;
    color:#ddd;
    text-decoration: none;
  }


}


.slides-footer div i {
  display: inline;
  font-size: 18px;
  margin: 0 5px;
}

.slides-footer {
  bottom: 20px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  height: 30px;
  left: 20px;
  letter-spacing: 0.5px;
  position: fixed;
  z-index: 100;
}

#section0 {
  .display-table {
    .crossbrowseropacity(black,.2);
  }
}


.color-white {
  color: #fff;
}


.section-slider {

  .section-content {
    max-width: 50%;

    h1 {
      font-size: 42px;
    }

    h2, .h2 {
      display: block;
      font-size: 24px;
      font-weight: 600 !important;
      letter-spacing: 1.5px;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    color: #f5f5f5;


    p {
      font-size: 18px;
      font-weight: normal;
      line-height: 1.5;
      margin-top: 25px;

    }

    img {
      max-width: 100%;
    }

  }


}

.section-white {
  background: #fff !important;
}

.hasStory {

  .imgsContainer {
    display: block;
    height: 696px;
    left: 58%;
    margin-left: -747px;
    margin-top: -325px;
    position: absolute;
    top: 42%;
    width: 800px;
    z-index: 1;

    img {
      display: block;
      height: auto;
      margin-top: 20%;
      max-width: 78%;
      border-radius: 10px;
    }
  }


  .wrap {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 1180px;
  }

  .box {
    left: 50%;
    margin-left: 89px;
    margin-top: -192px;
    position: absolute;
    top: 50%;
    width: 395px;
    z-index: 1;
  }
  .box {
    color: #808080;
    font-size: 1.2em;
    line-height: 1.6em;
    text-align: left;
    h2,h1,h3,h4,h5,h6 {
      color: #111;
    }
  }
  .section-content {


    h2, .h2 {
      display: block;
      font-size: 24px;
      font-weight: 600 !important;
      letter-spacing: 1.5px;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
    color: #f5f5f5;

    p {
      font-size: 18px;
      font-weight: normal;
      line-height: 1.5;
      margin-top: 25px;

    }

    img {
      max-width: 100%;
    }

  }

}

@media all and (min-width: 620px) and (max-width: 800px) {
  .imgsContainer {
    height: 563px;
    margin-left: -685px;
    margin-top: -278px;
    width: 647px;
  }
}
@media all and (max-width: 620px) {
  .imgsContainer {
    height: 464px;
    margin-left: -516px;
    margin-top: -208px;
    width: 534px;
  }
}


.background-overly-bg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
  .crossbrowseropacity(black,.4);
}


.gray-bg {
  background: #f7f7f7 !important;
}

.cover {
  background-size: cover;
  background-attachment: scroll;
}

/* Defining each sectino background and styles
* --------------------------------------- */
.section31{
  background-image: url(../images/photo/31.jpg) !important;
  .cover;
}

.future{
  background-image: url("../images/photo/6.jpg") !important;
  .cover;
}

@media (max-width: 991px) {
  #main-nav li a {
    padding: 20px 10px;
  }
}


.hasStory .wrap {
  max-width: 1180px;
}

/* */

@media @xsOnly{

  .section-content{
    transform: none !important;
    transition: none 0s ease 0s !important;
    max-width: 90%!important;
  }



  .section {
    min-height: 800px;
    position: relative;
    display: block;
  }

  .section, .slide{
    height: auto !important;
  }




  .hasStory {
    .wrap {
      max-width: 90%;
    }
    .imgsContainer {
      display: block;
      height: auto;
      left: 0;
      margin-left: 0;
      margin-top: 0;
      position:  relative;
      top: auto;
      width: auto;
      max-width: 100%;
      z-index: 1;

      img {
        max-width: 100%;
        margin-top: 20px;
      }
    }

   .box {
      left: 0;
      margin-left: 0;
      margin-top: 20px;
      position: relative;
      top:  0;
      width: 100%;
     max-width: 100%;
      z-index: 1;
    }
  }



}