
#section-1 {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}
.section-holder {
  background-color: #fff;
  position: relative;
  width: 100%;
  height: auto;
  z-index: 10;
}
#ScrollDown {
  bottom: 100px;
  color: #fff;
  display: inline-block;
  font-size: 9px;
  height: 50px;
  letter-spacing: 3px;
  line-height: 50px;
  margin-left: 43%;
  min-width: 160px;
  padding: 0 15px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  transition: background 0.5s ease 0s;
  z-index: 11;
}
.cd-logo img {
  margin-top: 18px;
}
.cd-main-nav {
  &.navmain-site {
    z-index: 1000;
    li {
      a {
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 12px;
        padding: 20px;
        color: #fff;
        &:hover {
          color: #F2C230;
          opacity: 1;
        }
      }
    }
  }
}
.main-header {
  .transition(top, 0.2s, ease);
  .gradient0(bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));

  &.main-header-page {
    background: #fff;
    border: 1px solid #e7e7e7;

      .cd-main-nav {
      &.navmain-site {
        li {
          a {
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            font-size: 12px;
            padding: 20px;
            color: #000;
            &:hover {
              color: #F2C230;
              opacity: 1;
            }
          }
        }
      }
    }

  }
}

.navbar {
  &.navbar-site {
    #main-menu {
      li {
        a {
          text-transform: uppercase;
          color: #fff;
          font-weight: bold;
          letter-spacing: 0.1em;
          font-size: 12px;
        }

        @media (min-width: 768px) {
          a {
            background: none;
            padding-top: 40px;
            padding-bottom: 40px;
          }
        }


      }
    }
  }
}

.cd-main-content {
  &.cd-main-content-page {
    
  }
}

.section-auto {
  padding: 7em 0;
}
.section-page {
  min-height: 500px;
}
.ext-hr {
  margin: 6em 0;
}
.section-header {
  margin-bottom: 10em;
  h2 {
    font-size: 3em;
    margin: 0;
  }
  p {
    margin: 40px 0 0;
    font-size: 16px;
    line-height: 1.7;
    font-weight: 400;
    color: #777;
  }
}
.article-intro {
  padding-right: 7em;
  padding-top: 40px;

  h3 {
    margin: 0 0 20px;
  }
  p {
    font-size: 16px;
    line-height: 1.7;
    font-weight: 400;
    color: #777;
  }
}
#teams {
  .section-header {
    margin-bottom: 7em;
  }

  .team-hold {
    .col-team {
      margin-bottom: 40px;
      .team-item {
        padding: 0 50px;

        .team-info {
          text-align: center;
          padding-top: 20px;
          h4 {
            font-weight: 700;
            font-size: 14px;
            margin: 0 0 2px;
          }
          span {
            color: #777;
          }
        }

        &:hover {
          .team-overlay {
            height: 34px;
            background-color: rgba(255, 255, 255, 0.7);
          }
        }
      }
    }
  }

  .team-avater {
    position: relative;
    overflow: hidden;

    .team-overlay {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.5);
      .transition(all, 0.3s, ease-in);

      .team-share {
        a {
          display: inline-block;
          line-height: 34px;
          padding: 0 4px;
          color: #000;
        }
      }
    }
  }
}

#payment {
  background-color: #F1F1F1;

  .payment-list {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 850px;
    margin: 0 auto;

    li {
      display: table;
      float: left;
      width: 33.3333%;

      height: 280px;
      border: 1px solid #ddd;
      text-align: center;
      border-left-color: transparent;
      border-top-color: transparent;

      .payment-item {
        width: 100%;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        padding: 30px;

        .payment-item-icon {
          img {
            max-width: 150px;
            height: auto;
            margin-bottom: 20px;
          }
          font-size: 10em;
        }
        h4 {
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
    @media(min-width: 768px) {
      li {
        &:nth-child(3n+3) {
          border-right-color: transparent;
        }
        &:nth-child(6n+6) {
          border-bottom-color: transparent;
        }
        &:nth-child(6n+5) {
          border-bottom-color: transparent;
        }
        &:nth-child(6n+4) {
          border-bottom-color: transparent;
        }
      }
    }
  }


}
#location {
  background-color: #344C62;
  .section-header {
    margin-bottom: 0;
  }
  .find-team-box {
    max-width: 200px;
    margin: 0 auto;
    padding-top: 50px;

    .form-control {
      background-color: #344C62;
      height: 54px;
      box-shadow: none;
      border-width: 2px;
      border-color: #1abc9c;
      color: #fff;
    }
    .btn {
      padding: 20px 15px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-weight: 600;
      border-radius: 2px;
      &.btn-primary {

      }
    }


  }
}
.section-auto {
  &.dark {
    h1, h2, h3, h4, h5, h6 , p {
      color: #fff;
    }
    .section-header {
      h2, p {
        color: #fff;
      }
    }
  }
}

#hWorks {
  background-color: #fff;

  .hWork-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      float: left;
      width: 25%;
    }
  }

  .hWork-item {
    display: table;
    height: 160px;
    .hWork-item-in {
      display: table-cell;
      height: 100%;
      vertical-align: middle;
      width: 100%;
      h5 {
        color: #555;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 0.1em;
      }
      i {
        font-size: 5em;
      }
    }
    .hWork-arrow {
      color: #999;
      display: table-cell;
      font-size: 2.5em;
      vertical-align: middle;
    }
  }
}

#punch-email {
  background-color: #182244;
  .section-header {
    margin-bottom: 0;
    max-width: 800px;
    h2 {
      font-size: 2em;
      line-height: 1.4;
    }
  }

  .send-mail {
    margin: 0 auto;
    max-width: 200px;
    padding-top: 50px;

    .btn {
      letter-spacing: 0.1em;
      padding: 20px 15px;
      text-transform: uppercase;
      &.btn-default {
        border: none;
        position: relative;
        overflow: hidden;
        font-weight: 600;
        border-radius: 2px;
        span {
          position: relative;
          z-index: 2;
        }

        &:after {
          content: '';
          background-color: none;
          position: absolute;
          width: 20px;
          top: 0;
          left: 0;
          height: 100%;
          .transition(all, 0.5s, ease-in);
          z-index: 1;
        }
        &:hover {
          border: none;
          color: #fff;
          &:after {
            width: 100%;
            background-color: #F2C230;
          }
        }
      }
    }
  }
}


.modal-about {
  background-color: #fefefe;
  .modal-content-hold {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
  .container {
    max-width: 750px;
  }
  .modal-cancel {
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    right: 30px;
    top: 30px;
    opacity: 0.4;
    &:hover {
      opacity: 1;
    }
  }
  .modal-content-in {
    padding: 4em 0 130px;
    .modal-head-title {
      text-align: center;
      font-size: 3em;
      margin: 0 0 1em;
    }
    article {
      p {
        color: #777;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.8;
        margin-bottom: 20px;
      }
    }
  }


}
.modal-bottom-bar {
  background-color: #E64C2E;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  .mod-link {
    margin: 0;
    li {
      a {
        color: #fff;
        display: inline-block;
        padding: 18px;
      }
    }
  }

}



.btn-log-hold {
  margin-top: 40px;

  .btn {
    margin: 0 3px;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 600;
  }
}

.log-box {
  max-width: 550px;
  margin: auto;

}
.log-form {
  label {
    font-weight: 400;
    font-size: 12px;
  }
  .form-control {
    box-shadow: none;
    border-radius: 0;
    border-color: transparent;
    height: 54px;
    padding: 10px 15px;
  }
  textarea {
    &.form-control {
      height: auto;
    }
  }
}

.page-heading {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 36px;
  color: #111;
}
.page-heading-p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}
.col-usr-item {
  .usr-item {
    padding: 0 15px;
    text-align: center;
    display: block;
    margin: 60px auto 0;

    .usr-item-avater {
      img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: auto;
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        filter: gray;
        .transition(all, 0.3s, ease-in);
      }
    }

    .usr-item-info {
      h3 {
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 5px;
        color: #111;
      }
      p {
        color: #555;
        margin-bottom: 0;
      }
    }

    &:hover {
      .usr-item-avater {
        img {
          -webkit-filter: grayscale(0);
          -moz-filter: grayscale(0);
          -ms-filter: grayscale(0);
          -o-filter: grayscale(0);
          filter: grayscale(0);
          filter: gray;
        }
      }
    }
  }
}
.heading-center {
  text-align: center;
}

.col-w-pro {
  text-align: center;
  .col-w-pro-item {
    margin-top: 30px;
    .w-pro-item-icon {
      color: #111;
      i {
        font-size: 3.5em;
      }
      h4 {
        font-size: 16px;
        font-weight: 400;
      }
    }
    p {
      color: #555;
    }
  }
}
.col-cus-opt {
  margin-top: 15px;
}
.ownBud-field {
  margin: 0 auto;
  max-width: 600px;
}

.ownBudget {
  .form-control {
    box-shadow: none;
  }
}
.filter-form-hold {
  label {
    font-weight: 400;
  }
  .form-control {
    box-shadow: none;
  }
}
.sidebar-usr {
  padding-top: 50px;
}



.footer {
  border-top: 1px solid #eee;
  padding: 2em 0;
  background-color: #fff;

  .footer-content {
    text-align: center;
  }
  .foo-share {
    a {
      display: inline-block;
      font-size: 1.5em;
      margin: 0 7px;
    }
  }
}