/* EMBED / IMPORT FILE x */

@import url('../less/variables.less');
@import url('../css/animate.css');
@import url('../less/utilities.less');
@import url('../less/typography.less');
@import url('../less/mixins.less');
@import url('../css/font-awesome.min.css');
@import url('../css/icon-moon.css');
@import url('../css/gradient.css');


/* STYLE CONTENT  */
html { height: auto; width: 100%}
body { width: 100%; height: auto !important; }

/*======================================
	navbar 
======================================-*/
.slides-footer {
  bottom: 75px;
  position: fixed;
  height: 30px;
  left: 75px;
  right: 75px;
  z-index: 10;
  color: #ffffff;
  z-index: 100;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 16px;
  div {
    color: rgba(255,255,255,.8);
    i {
      display: inline;
      font-size: 24px;
      margin: 0 5px;
    }
    span {
      color:#fff
    }
  }
}
header {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 30px;
  z-index: 1000;
  .left {
    position: absolute;
    left:60px;
    top: 0;
  }

  .right {
    position: absolute;
    right: 60px;
    top: 0;
    img {
      height: 48px;
    }
  }
  .transition(all,0.25s,ease);

  &.active {
    opacity: 0;
  }

} // header


.logo {
  display: block;
  img {
  }
}


.section-content {
  max-width: 80%;
  margin: 0 auto;
  .transformY(0, 0.95, 0deg, 120px);
  transition: opacity 0.8s ease 0s, transform 0.8s ease 0.15s;
 -webkit-transition: opacity 0.8s ease 0s, transform 0.8s ease 0.15s;
}

.active {
  .section-content {
    .transformY(0, 1, 0deg, 0px);
  }
}

.section-one-bg {
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 0;
  .hw100;
  background-repeat: no-repeat;
  background-position: center center;
  .cover;
}



.section-container {
  z-index:10;
}



.background-overly {
  .hw100;
  // .crossbrowseropacity (black, .2);
  z-index:1;
  position:absolute;
  left:0;
  top:0;
  opacity: .2;
}
.background-overly-inner {
  .crossbrowseropacity (black, .3);
}

.overlay-shade {
  z-index:0;
  position:absolute;
  left:0;
  top:0;
  .hw100;
  z-index: 2;
}
.relative1 {
  position: relative;;
  z-index: 2;
}
.relative5 {
   position: relative;;
   z-index: 5;
 }

// tanim


.introContent {
  h1 {
    font-size: 72px;
    font-weight: 100;
  }
  p{
    font-size: 20px;
    opacity: .9;
  }
}

// about modal


/* Centered texts in each section
* --------------------------------------- */
.section{
  background-repeat: no-repeat;
  background-position: center top; 
}

h1 {
  font-weight: 100;
  font-size: 140px;
  color: #fff;
}


/* Backgrounds will cover all the section
* --------------------------------------- */
#section0,
#section1,
#section2,
#section3, .cover1{
  background-size: cover;
  background-attachment: scroll;
}

/* Defining each sectino background and styles
* --------------------------------------- */


#section4 {
  .cover1;
  background-color: #f2f2f0;
}


/*Adding background for the slides
* --------------------------------------- */
#slide1{
}
#slide2{
}



#fp-nav ul li a span, .fp-slidesNav ul li a span {
  color: #fff;
  background: #fff;
}

#fp-nav.right {
  right: 60px;
}

.fp-controlArrow.fp-prev {
  left: 250px;
  border: 0 none;
  height: 48px;
  right: 250px;
  width: 48px;
  background: url("../images/prev.png") no-repeat center !important;

}

.fp-controlArrow.fp-next {
  right: 250px;
  border: 0 none;
  height: 48px;
  right: 250px;
  width: 48px;
  background: url("../images/next.png") no-repeat center !important;
}


@media (max-width: 1300px) {

  .fp-controlArrow.fp-prev {
    left: 150px;
  }

  .fp-controlArrow.fp-next {
    right: 150px;

  }

}


#section3 {
  h3 {
    color: #fff;
    font-size: 24px;
    font-weight: normal;
    margin: 40px;
  }
  #slide1 {

  }

  #slide2 {

  }
  #slide3 {

  }
  #slide4 {

  }
}




.form-control::-moz-placeholder {
  color: #ddd;
  opacity: 1;
}
.form-control::-webkit-placeholder {
  color: #ddd;
  opacity: 1;
}

.form {
  max-width: 400px;
  display: block;;
  margin: 0 auto;

 input.subscribe_email {
   background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
   border: 1px solid rgba(255, 255, 255, 0.5);
   border-radius: 50px;
   box-shadow: none !important;
   color: #ffffff !important;
   font-size: 20px;
   height: auto;
   margin-bottom: 10px;
   padding: 10px 15px;

 }

  .add-subscriber {
    .crossbrowseropacity(white,.9);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  box-shadow: none !important;
  font-size: 18px;
  height: auto;
    color: #444;
  margin-bottom: 10px;
  padding: 10px 15px;
  }
}



/* NeW STYLE 
----------------------------------------------------------- */
.clear {
  display: block;
  clear: both;
}
.sec-heading {
  font-size: 40px;
}
.text-bold {
  font-weight: 700;
}
.subtitle-lead {
  font-size: 18px;
  line-height: 1.6;
  color: #fff;
  max-width: 800px;
  margin: 0 auto;
}
.about-item {
  margin-top: 50px;

  .about-icon {
    font-size: 44px;
    float: left;
    line-height: 1;
  }
  .about-denote {
    overflow: hidden;
    padding-left: 15px;

    h4 {
      margin-top: 0;
      font-weight: 400;
      font-style: 18px;
      margin-bottom: 15px;
    }
  }
}

.feat-item {
  margin-top: 50px;
  text-align: center;
  .feat-item-icon {
    font-size: 50px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border: 2px solid #fff;
    margin: 0 auto;
    border-radius: 50%;
  }
  .feat-denote {
    .title {
      font-weight: 600;
      margin-top: 15px;
    }
  }
}


.item-single {
  .title {
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: 700;
  }
  .denote {
    p {
      font-size: 16px;
      line-height: 1.7;
      margin-bottom: 20px;
    }
  }
}

.btn {
  &.btn-stk {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 0;
    position: relative;
    span {
      position: relative;
    }

    &:before {
      position: absolute;
      content: "";
      width: 0;
      height: 100%;
      background-color: #fff;
      left: 0;
      top: 0;
      .transition(all, 0.5s, ease-in);
    }

    &:hover {
      color: #67cbf0;
      &:before {
        width: 100%;
      }
    }
  }
}

.gallery-container {

  margin-top: 50px;


  .row {

    margin-left: -10px;
    margin-right: -10px;

    .gall {
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 20px;


      a {

        display: block;
        position: relative;
        overflow: hidden;
        .transition(all, 0.5s, ease-in);

        &:before {

          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          background-color: rgba(0, 0, 0, .5);

        }


        img {

          .transition(all, 0.5s, ease-in);
        }
        &:hover {
          &:before {
            background-color: rgba(0, 0, 0, 0);
          }
          img {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

.item-center {

  max-width: 800px;
  margin: 0 auto;

}


.fr-window { 

  &.fr-window-fresco {

    canvas {

      display: none !important;

    }

  }

}

.fr-bubble {

  canvas {

      display: none !important;

    }

}

@media @xsOnly{
  .section {
    padding-top: 20px;
    padding-bottom: 20px;

    &#section0 {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  .xs-noTable {
    .display-table {
      display: block;
    }
    .display-table-cell {
      display: block;
    }
  }

  
}




@import url('header.less');


@media @xsOnly{
  header {
    .navbar-brand {
      font-size: 14px;
      font-weight: 600;
    }
  }
}