@import url('../css/proximanova.css');
@import url('../fonts/fonts.css');

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Montserrat);

@base-font: 'Open Sans', sans-serif;

body {
	background: #fff;
	color: #333333;
	font-family:@base-font;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
	margin: 0;
	padding: 0;

}

h1, h2, h3, h4, h5, h6 {
  font-family:@base-font;
  font-weight: 800;

  &.font-xlight {
  	font-weight: 300;
  }
}




a {
	color: #2A3744;
	outline: 0;
	transition: all 0.2s linear 0s, letter-spacing 0s linear 0s;
	-webkit-transition: all 0.2s linear 0s, letter-spacing 0s linear 0s;
}

a:focus, a:hover, a:active {
	outline: none;
	text-decoration: none;
	color: #E24E60;
}
