/* UTILITIES */

// common class

.hw100 { height:100%; width:100%;}
.w100{ width:100%;}
.h100{ height:100%; }
.no-margin { margin:0; }
.no-padding {  padding:0;}
.no-margin-padding { margin:0;  padding:0;}
.relative {position:relative;}
.zindex10 { z-index:10}
.container-fluid-site {
    padding-left: 30px;
    padding-right: 30px;
}
.transition {
}
.cover {
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.wh100 {
    width: 100%;
    height: 100%;
}
.display-table {
	display: table;
}
.display-table-cell {
	display: table-cell;
	vertical-align: middle;
}

.btn-white {
    background-color: #fff;
}
.relative { position: relative; }
.display-table { 
    display: table; 
    width: 100%; 
    height: 100%; 
}
.display-table-cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}


.secton-semi { padding: 4em 0; }
.section-header {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    text-align: center; 
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
}

.room-item-hr {
    width: 100;
    height: 1px;
    background-color: #333;
    margin: 10px auto;
    opacity: 1;
}

.section-dark {
    color: #fff;
    .section-header {
        color: #fff;
    }
    .item-sm {
        color: #fff;   
    }
    .foo-col-title {
        color: #53565f;
    }
    .foo-list li a {
        color: #53565f;
    }
    h1, h2, h3, h4, h5, h6 {
        color: #fff;
    }
    p {
        color: #fff;
    }
}
.section-light {
    h1, h2, h3, h4, h5, h6 {
        color: #333;
    }
}


.mini-hr {
    max-width: 120px;
    border-bottom: 3px solid #eee;
    margin: 20px auto;
    text-align: center;
    
    span {
        background-color: #eee;
        border: 2px solid #fff;
        border-radius: 14px;
        display: inline-block;
        height: 14px;
        margin-bottom: -14px;
        width: 14px;
    }
}

@media (min-width: 768px) {
  .hide-lg {
    display: none;
  }
  .text-right-lg {
    text-align: right;
  }
}
@media (max-width: 767px) {
  .hide-sm {
    display: none;
  }
}