// VARIABLES 

// Global values
// --------------------------------------------------

@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              lighten(@gray-base, 20%);   // #333
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             lighten(@gray-base, 46.7%); // #777
@gray-lighter:           lighten(@gray-base, 93.5%); // #eee

@brand-primary:         #428bca;
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;

@base-primary:          #36aecb;
@site-primary:          #36aecb;
@site-gray:             lighten(@gray-base, 96.5%);
@base-border-color:     lighten(@gray-base, 93.3%);


@base-font-color:       lighten(@gray-base, 50.6%);

// Links
// -------------------------
@linkColor:             #08c;
@linkColorHover:        darken(@linkColor, 15%);

// Typography
// -------------------------

@sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;
@serifFontFamily:        Georgia, "Times New Roman", Times, serif;
@proximaFontFamily:      "ProximaNova",Helvetica Neue, Helvetica, Arial, sans-serif;

@baseFontSize:          14px;
@baseFontFamily:        @proximaFontFamily;
@baseLineHeight:        20px;
@altFontFamily:         @sansFontFamily;
 
@base-font: 			@baseFontFamily;
@base-font-bold: 		"ProximaNova";
@base-font-light: 		"ProximaNovaLight";
@base-font-lighter:		"ProximaNovalighter";
@base-font-thin: 		"ProximaNovaThin";
@base-font-black: 		"ProximaNovaBlack";
@base-font-bold: 		"ProximaNovabold";
@base-font-bolder: 		"ProximaNovaExtrabold";
@base-font-semibold: 	"ProximaNovaSemibold";
@base-font-condensed: "ProximaNovaCondensed";
@base-font-condensed-light: "ProximaNovaCondensedLight";
@base-font-condensed-semibold: "ProximaNovaCondensedSemibold";





// Component sizing
// -------------------------
// Based on 14px font-size and 20px line-height

@fontSizeLarge:         @baseFontSize * 1.25; // ~18px
@fontSizeSmall:         @baseFontSize * 0.85; // ~12px
@fontSizeMini:          @baseFontSize * 0.75; // ~11px

@paddingLarge:          11px 19px; // 44px
@paddingSmall:          2px 10px;  // 26px
@paddingMini:           0 6px;   // 22px

@baseBorderRadius:      4px;
@borderRadiusLarge:     6px;
@borderRadiusSmall:     3px;



// NAV
// -------------------------

@navbar-link-color:              #fff;
@navbar-link-hover-color:        #ddd;
@navbar-link-bg:           none;
@navbar-link-hover-bg:           none !important;
@navbar-link-active-color:       #ddd;
@navbar-link-active-bg:          none !important;



// Media
// -------------------------

@desktopOnly:   ~"only screen and (min-width: 768px)";
@xsOnly:    ~"only screen and (max-width: 767px)";
@mdOnly:    ~"only screen and (min-width: 991px) and (max-width: 1199px)";
@tabletx:    ~"only screen and (min-width: 720px) and (max-width: 959px)";
@xmobile: ~"only screen and (max-width: 320px)";
@lgmax: ~"only screen and (max-width: 1199px)";
@mdmax: ~"only screen and (max-width: 1199px)";


@xs-min: 480px;
@sm-min: 768px;
@md-min: 992px;
@lg-min: 1200px;

@xs-max: (767px);
@sm-max: (991px);
@md-max: (1100px);

@phone:          ~"only screen and (min-width: @{xs-min})";
@phone-strict:   ~"only screen and (min-width: @{xs-min}) and (max-width: @{xs-max})";
@tablet:         ~"only screen and (min-width: @{sm-min})";
@tablet-strict:  ~"only screen and (min-width: @{sm-min}) and (max-width: @{sm-max})";
@desktop:        ~"only screen and (min-width: @{md-min})";
@desktop-strict: ~"only screen and (min-width: @{md-min}) and (max-width: @{md-max})";
@large:          ~"only screen and (min-width: @{lg-min})";
@max-lg:         ~"only screen and (max-width: @{md-max})";

/*
   usage
*/
@media @tablet-strict {
  .hide-md { display: none}
}

@media (max-width: 480px) {
  .col-xxs-12 {
    width: 100%;
  }
}

#someMedia {
  width: 100%;
  @media @desktop-strict {
    width: 768px;
    .hide-md { display: none}
  }
  @media @desktop {
    width: 940px;
  }
}




// RESPONSIVE FONT SIZe HACK
// -------------------------

@fontSizeXtraLarge:      @baseFontSize * 4; // ~54px
@fontSizeLarge:         @baseFontSize * 1.25; // ~18px
@fontSizeSmall:         @baseFontSize * 0.85; // ~12px
@fontSizeMini:          @baseFontSize * 0.75; // ~11px

























































































