.form-control {
  border: 1px solid #ccc;
  border-radius: 2px;
  background: none repeat scroll 0 0 white;
  color: #546673;
  display: inline-block;
  font-size: 14px;
  height: 42px;
  line-height: 26px;
  padding: 4px 10px;
  border: 1px solid #c2c9d4;
  border-radius: 3px;
  box-shadow: none;
}
.logmodal {
  max-width: 400px;
  display: block;
  border-radius: 0px;
}
.logmodal .modal-dialog {
  background-color: #f7f7f7;
  border-radius: 0px;
}
.logmodal form {
  margin-bottom: 0;
}
.main {
  padding: 38px;
}
.social-box {
  margin: 0 auto;
  padding: 38px;
  border-bottom: 1px #ccc solid;
}
.social-box a {
  font-weight: 600;
  font-size: 14px;
  padding: 8px;
}
.social-box a i {
  font-weight: bold;
  font-size: 20px;
}
.heading-desc {
  font-size: 20px;
  font-weight: bold;
  padding: 0 20px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 14px;
  color: #8a8a8a;
  padding-left: 15px;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-radius: 5px;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 5px;
}
.login-footer {
  background: #f0f0f0;
  margin: 0 auto;
  border-top: 1px solid #dadada;
  padding: 20px;
}
.login-footer .left-section a {
  font-weight: bold;
  color: #8a8a8a;
  line-height: 19px;
}
.mg-btm {
  margin-bottom: 20px;
}
