/* EMBED / IMPORT FILE  */
@import url('../css/open-iconic-bootstrap.css');
@import url('../css/ionicons.css');
@import url('../fonts/lineicon/style.css');
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700,400italic,300italic,900,700italic,100,900italic);
@import url('pace.css');
.g1 {
  background: -moz-linear-gradient(-45deg, #333973 0, #673a5d 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #333973), color-stop(100%, #673a5d));
  background: -webkit-linear-gradient(-45deg, #333973 0, #673a5d 100%);
  background: -o-linear-gradient(-45deg, #333973 0, #673a5d 100%);
  background: -ms-linear-gradient(-45deg, #333973 0, #673a5d 100%);
  background: linear-gradient(135deg, #333973 0, #673a5d 100%);
}
.g2 {
  background: -webkit-linear-gradient(90deg, #24c6dc 10%, #514a9d 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #24c6dc 10%, #514a9d 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #24c6dc 10%, #514a9d 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #24c6dc 10%, #514a9d 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #24c6dc 10%, #514a9d 90%);
  /* W3C */
}
.g3 {
  background: -webkit-linear-gradient(90deg, #f0c27b 10%, #4b1248 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #f0c27b 10%, #4b1248 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #f0c27b 10%, #4b1248 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #f0c27b 10%, #4b1248 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #f0c27b 10%, #4b1248 90%);
  /* W3C */
}
.g4 {
  background: -webkit-linear-gradient(90deg, #f0c27b 10%, #4b1248 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #f0c27b 10%, #4b1248 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #f0c27b 10%, #4b1248 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #f0c27b 10%, #4b1248 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #f0c27b 10%, #4b1248 90%);
  /* W3C */
}
.g5 {
  background: -webkit-linear-gradient(90deg, #000000 10%, #53346d 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #000000 10%, #53346d 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #000000 10%, #53346d 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #000000 10%, #53346d 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #000000 10%, #53346d 90%);
  /* W3C */
}
.g6 {
  background: -webkit-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
  /* W3C */
}
.g7 {
  background: -webkit-linear-gradient(90deg, #c9ffbf 10%, #ffafbd 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #c9ffbf 10%, #ffafbd 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #c9ffbf 10%, #ffafbd 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #c9ffbf 10%, #ffafbd 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #c9ffbf 10%, #ffafbd 90%);
  /* W3C */
}
.g8 {
  background: -webkit-linear-gradient(90deg, #649173 10%, #dbd5a4 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #649173 10%, #dbd5a4 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #649173 10%, #dbd5a4 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #649173 10%, #dbd5a4 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #649173 10%, #dbd5a4 90%);
  /* W3C */
}
.g9 {
  background: -webkit-linear-gradient(90deg, #b993d6 10%, #8ca6db 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #b993d6 10%, #8ca6db 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #b993d6 10%, #8ca6db 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #b993d6 10%, #8ca6db 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #b993d6 10%, #8ca6db 90%);
  /* W3C */
}
.g10 {
  background: -webkit-linear-gradient(90deg, #870000 10%, #190a05 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #870000 10%, #190a05 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #870000 10%, #190a05 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #870000 10%, #190a05 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #870000 10%, #190a05 90%);
  /* W3C */
}
.g11 {
  background: -webkit-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%);
  /* W3C */
}
.g12 {
  background: -webkit-linear-gradient(90deg, #d3959b 10%, #bfe6ba 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #d3959b 10%, #bfe6ba 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #d3959b 10%, #bfe6ba 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #d3959b 10%, #bfe6ba 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #d3959b 10%, #bfe6ba 90%);
  /* W3C */
}
.g13 {
  background: -webkit-linear-gradient(90deg, #dad299 10%, #b0dab9 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #dad299 10%, #b0dab9 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #dad299 10%, #b0dab9 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #dad299 10%, #b0dab9 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #dad299 10%, #b0dab9 90%);
  /* W3C */
}
.g14 {
  background: -webkit-linear-gradient(90deg, #e6dada 10%, #274046 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #e6dada 10%, #274046 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #e6dada 10%, #274046 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #e6dada 10%, #274046 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #e6dada 10%, #274046 90%);
  /* W3C */
}
.g15 {
  background: -webkit-linear-gradient(90deg, #c21500 10%, #ffc500 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #c21500 10%, #ffc500 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #c21500 10%, #ffc500 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #c21500 10%, #ffc500 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #c21500 10%, #ffc500 90%);
  /* W3C */
}
.g16 {
  background: -webkit-linear-gradient(90deg, #348f50 10%, #56b4d3 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #348f50 10%, #56b4d3 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #348f50 10%, #56b4d3 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #348f50 10%, #56b4d3 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #348f50 10%, #56b4d3 90%);
  /* W3C */
}
.g17 {
  background: -webkit-linear-gradient(90deg, #003973 10%, #909069 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #003973 10%, #909069 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #003973 10%, #909069 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #003973 10%, #909069 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #003973 10%, #909069 90%);
  /* W3C */
}
.g18 {
  background: -webkit-linear-gradient(90deg, #003973 10%, #e5e5be 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #003973 10%, #e5e5be 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #003973 10%, #e5e5be 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #003973 10%, #e5e5be 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #003973 10%, #e5e5be 90%);
  /* W3C */
}
.s1 {
  background: -moz-linear-gradient(-45deg, #333973 0, #673a5d 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #333973), color-stop(100%, #673a5d));
  background: -webkit-linear-gradient(-45deg, #333973 0, #673a5d 100%);
  background: -o-linear-gradient(-45deg, #333973 0, #673a5d 100%);
  background: -ms-linear-gradient(-45deg, #333973 0, #673a5d 100%);
  background: linear-gradient(135deg, #333973 0, #673a5d 100%);
}
.s2 {
  background: -webkit-linear-gradient(90deg, #673a5d 10%, #4b1248 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #673a5d 10%, #4b1248 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #673a5d 10%, #4b1248 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #673a5d 10%, #4b1248 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #673a5d 10%, #4b1248 90%);
  /* W3C */
}
.s3 {
  background: -webkit-linear-gradient(90deg, #4b1248 10%, #f0c27b 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #4b1248 10%, #f0c27b 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #4b1248 10%, #f0c27b 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #4b1248 10%, #f0c27b 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #4b1248 10%, #f0c27b 90%);
  /* W3C */
}
/* UTILITIES */
.no-margin {
  margin: 0 !important;
}
.btn-white {
  background-color: #fff;
}
.relative {
  position: relative;
}
.dtable {
  display: table;
}
.dtable-cell {
  display: table-cell;
  vertical-align: middle;
}
.hw-100 {
  width: 100%;
  height: 100%;
}
.gray {
  background-color: #f6f6f6;
}
.section {
  padding: 0 0;
}
.secton-semi {
  padding: 4em 0;
}
.section-header {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  text-align: center;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
}
/* UTILITIES */
.hw100 {
  height: 100%;
  width: 100%;
}
.w100 {
  width: 100%;
}
.h100 {
  height: 100%;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.no-margin-padding {
  margin: 0;
  padding: 0;
}
.relative {
  position: relative;
}
.zindex10 {
  z-index: 10;
}
.container-fluid-site {
  padding-left: 30px;
  padding-right: 30px;
}
.cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.wh100 {
  width: 100%;
  height: 100%;
}
.display-table {
  display: table;
}
.display-table-cell {
  display: table-cell;
  vertical-align: middle;
}
.btn-white {
  background-color: #fff;
}
.relative {
  position: relative;
}
.display-table {
  display: table;
  width: 100%;
  height: 100%;
}
.display-table-cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
body {
  background: #fff;
  color: #231f20;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 22px;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}
a {
  color: #231f20;
  outline: 0;
  transition: all 0.2s linear 0s, letter-spacing 0s linear 0s;
  -webkit-transition: all 0.2s linear 0s, letter-spacing 0s linear 0s;
}
a:focus,
a:hover,
a:active {
  outline: none;
  text-decoration: none;
  color: #26479e;
}
/* Mixin */
/* Implementation */
#div {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
/* Implementation */
#div {
  -webkit-border-radius: 20px 20px 0px 0px;
  -moz-border-radius: 20px 20px 0px 0px;
  border-radius: 20px 20px 0px 0px;
}
/* Implementation */
#div {
  -webkit-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
}
/* Implementation */
.transition-all {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
#div:hover {
  opacity: 0;
}
/* Implementation */
#div {
  -webkit-transform: rotate(5deg) scale(0.5) skew(1deg) translate(0px);
  -moz-transform: rotate(5deg) scale(0.5) skew(1deg) translate(0px);
  -o-transform: rotate(5deg) scale(0.5) skew(1deg) translate(0px);
  -ms-transform: rotate(5deg) scale(0.5) skew(1deg) translate(0px);
  transform: rotate(5deg) scale(0.5) skew(1deg) translate(0px);
}
/* gradient Implementation */
#div {
  background-color: #663333;
  background-image: -webkit-linear-gradient(left, #663333, #333333);
  background-image: -moz-linear-gradient(left, #663333, #333333);
  background-image: -o-linear-gradient(left, #663333, #333333);
  background-image: -ms-linear-gradient(left, #663333, #333333);
  background-image: linear-gradient(left, #663333, #333333);
}
/* Implementation */
#div {
  background-color: #BADA55;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}
.cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#div {
  background-color: red;
  background-color: rgba(255, 0, 0, 0.2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ff0000, endColorstr=#33ff0000);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ff0000, endColorstr=#33ff0000);
}
/*Color Math*/
/* Implementation */
.one {
  color: #b1b0b8;
}
.two {
  color: #b7b8b0;
}
.three {
  color: #abaca3;
}
.four {
  color: #d9d8dc;
}
.five {
  color: #ffffff;
}
/* Implementation */
.base-color {
  color: #b1b0b8;
}
.base-lighter {
  color: #cccbd0;
}
.base-lighter2 {
  color: #e6e6e8;
}
.base-darker {
  color: #a4a9a9;
}
.base-darker2 {
  color: #7a7b88;
}
.form-control {
  border: 1px solid #ddd;
  height: 44px;
  padding: 10px;
  background-position: center bottom, center calc(100% - -1px);
}
.form-control:focus {
  border: 1px solid #ddd;
  height: 44px;
  padding: 10px;
}
.logmodal {
  max-width: 400px;
  display: block;
  border-radius: 0px;
}
.logmodal .modal-dialog {
  background-color: #f7f7f7;
  border-radius: 0px;
}
.logmodal form {
  margin-bottom: 0;
}
.main {
  padding: 38px;
}
.social-box {
  margin: 0 auto;
  padding: 38px;
  border-bottom: 1px #ccc solid;
}
.social-box a {
  font-weight: 600;
  font-size: 14px;
  padding: 8px;
}
.social-box a i {
  font-weight: bold;
  font-size: 20px;
}
.heading-desc {
  font-size: 20px;
  font-weight: bold;
  padding: 0 20px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 14px;
  color: #8a8a8a;
  padding-left: 15px;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-radius: 5px;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 5px;
}
.login-footer {
  background: #f0f0f0;
  margin: 0 auto;
  border-top: 1px solid #dadada;
  padding: 20px;
}
.login-footer .left-section a {
  font-weight: bold;
  color: #8a8a8a;
  line-height: 19px;
}
.mg-btm {
  margin-bottom: 20px;
}
.navbar.navbar-site {
  background: none;
  border-radius: 0;
}
.navbar.navbar-site .navbar-nav li a {
  color: #333;
}
@media only screen and (min-width: 768px) {
  .navbar.navbar-site {
    text-decoration: none;
    border: 0 none;
    margin-bottom: 0;
    border-radius: 0;
    width: 100%;
    border-bottom: none;
  }
  .navbar.navbar-site .navbar-brand {
    padding: 0;
  }
  .navbar.navbar-site .navbar-collapse {
    padding-right: 15px;
  }
  .navbar.navbar-site .navbar-nav li a {
    color: #333;
    padding-top: 0;
    padding-bottom: 0;
  }
}
/* HEADER STYLE 
/* HEADER STYLE
-------------------------------------------------- */
.header {
  padding: 25px 0;
}
.header .general-icon {
  margin-top: 20px;
}
.header .general-icon a {
  padding: 5px 10px;
  display: inline-block;
  font-size: 20px;
  border: 0;
  text-align: center;
  margin-left: 3px;
}
.brand-icon a {
  display: block;
  max-width: 120px;
}
.header .has-navmenu .brand-icon {
  float: left;
}
.header .has-navmenu .brand-icon a {
  padding-right: 20px;
}
.header .has-navmenu .nav-crate {
  margin-top: 28px;
  margin-bottom: 0;
}
.header .has-navmenu .nav-crate li a {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  line-height: 1;
  position: relative;
  padding-left: 18px;
}
.header .has-navmenu .nav-crate li a:before {
  background-color: #231f20;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: "";
  height: 9px;
  line-height: 1;
  position: absolute;
  left: 0;
  top: 2px;
  width: 9px;
}
.header .has-navmenu .nav-crate li.art a:before {
  background-color: #c06668;
}
.header .has-navmenu .nav-crate li.design a:before {
  background-color: #555f53;
}
.header .has-navmenu .nav-crate li.trvl a:before {
  background-color: #742c75;
}
.header .has-navmenu .nav-crate li.food a:before {
  background-color: #67cbf0;
}
/* HOME STYLE 
--------------------------------------------------- */
.section-content {
  padding-bottom: 30px;
}
.section-title {
  text-transform: uppercase;
  margin-top: 70px;
  font-size: 20px;
}
.slider-item {
  position: relative;
}
.slider-item .img-responsive {
  width: 100%;
}
.slider-item .slider-item-caption {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  width: 100%;
  display: table;
  padding-left: 20%;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: transparent;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}
.slider-item .slider-item-caption .slider-item-caption-text,
.slider-item .slider-item-caption .slider-item-caption-icon {
  display: table-cell;
  vertical-align: middle;
}
.slider-item .slider-item-caption .slider-item-caption-text {
  text-align: right;
  padding-right: 15px;
}
.slider-item .slider-item-caption .slider-item-caption-text h3 {
  margin-top: 0;
  font-weight: 600;
}
.slider-item .slider-item-caption .slider-item-caption-text p {
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
}
.slider-item .slider-item-caption .slider-item-caption-icon {
  width: 80px;
  height: 80px;
  font-size: 40px;
  border: 1px solid #fff;
  text-align: center;
}
.panel.panel-item {
  margin-top: 30px;
  margin-bottom: 0;
  -webkit-border-radius: 0px 0px 15px 0px;
  -moz-border-radius: 0px 0px 15px 0px;
  border-radius: 0px 0px 15px 0px;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.panel.panel-item .panel-img {
  padding: 5px;
  position: relative;
}
.panel.panel-item .panel-img .panel-crate-name {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  left: 5px;
  top: 5px;
  right: 5px;
  bottom: 5px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
.panel.panel-item .panel-img .panel-crate-name span {
  display: block;
  padding: 35% 20px 20px;
}
.panel.panel-item .panel-denote {
  padding: 15px;
}
.panel.panel-item .panel-denote .panel-denote-text {
  font-size: 16px;
  line-height: 1.3;
}
.panel.panel-item .panel-denote .category {
  position: relative;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  margin-top: 15px;
}
.panel.panel-item .panel-denote .category:after {
  background-color: #231f20;
  border-radius: 50%;
  content: "";
  height: 9px;
  line-height: 1;
  position: absolute;
  right: 0;
  top: 1px;
  width: 9px;
}
.panel.panel-item.art .category {
  color: #c06668;
}
.panel.panel-item.art .category:after {
  background-color: #c06668;
}
.panel.panel-item.design .category {
  color: #555f53;
}
.panel.panel-item.design .category:after {
  background-color: #555f53;
}
.panel.panel-item.food .category {
  color: #67cbf0;
}
.panel.panel-item.food .category:after {
  background-color: #67cbf0;
}
.panel.panel-item:hover.art .panel-crate-name {
  background-color: #c06668;
  background-color: rgba(192, 102, 104, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80c06668, endColorstr=#80c06668);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80c06668, endColorstr=#80c06668);
}
.panel.panel-item:hover.design .panel-crate-name {
  background-color: #555f53;
  background-color: rgba(85, 95, 83, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80555f53, endColorstr=#80555f53);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80555f53, endColorstr=#80555f53);
}
.panel.panel-item:hover.food .panel-crate-name {
  background-color: #67cbf0;
  background-color: rgba(103, 203, 240, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8067cbf0, endColorstr=#8067cbf0);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8067cbf0, endColorstr=#8067cbf0);
}
.panel.panel-item.active {
  position: relative;
}
.panel.panel-item.active:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-border-radius: 0 0 15px 0px;
  -moz-border-radius: 0 0 15px 0px;
  border-radius: 0 0 15px 0px;
  background-color: #231f20;
  background-color: rgba(35, 31, 32, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80231f20, endColorstr=#80231f20);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80231f20, endColorstr=#80231f20);
}
.panel.panel-item.active.design:hover .panel-crate-name {
  background-color: #555f53;
  background-color: rgba(85, 95, 83, 0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00555f53, endColorstr=#00555f53);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00555f53, endColorstr=#00555f53);
  visibility: hidden;
  opacity: 0;
}
.panel.panel-item.active.art:hover .panel-crate-name {
  background-color: #c06668;
  background-color: rgba(192, 102, 104, 0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00c06668, endColorstr=#00c06668);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00c06668, endColorstr=#00c06668);
  opacity: 0;
}
.panel.panel-item.active.food:hover .panel-crate-name {
  background-color: #67cbf0;
  background-color: rgba(103, 203, 240, 0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0067cbf0, endColorstr=#0067cbf0);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0067cbf0, endColorstr=#0067cbf0);
  opacity: 0;
}
.panel.panel-item.active.design:after {
  background-color: #555f53;
  background-color: rgba(85, 95, 83, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80555f53, endColorstr=#80555f53);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80555f53, endColorstr=#80555f53);
}
.panel.panel-item.active.art:after {
  background-color: #c06668;
  background-color: rgba(192, 102, 104, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80c06668, endColorstr=#80c06668);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80c06668, endColorstr=#80c06668);
}
.panel.panel-item.active.food:after {
  background-color: #67cbf0;
  background-color: rgba(103, 203, 240, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8067cbf0, endColorstr=#8067cbf0);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8067cbf0, endColorstr=#8067cbf0);
}
.panel.panel-full .panel-denote .panel-denote-text .title {
  margin-bottom: 20px;
  margin-top: 0;
  text-transform: uppercase;
}
.panel.panel-full .panel-denote .icon-hold {
  margin-top: 30px;
}
.panel.panel-full .panel-denote .icon-hold span {
  display: inline-block;
  border: 0;
  padding: 4px 10px;
  margin-right: 4px;
  cursor: pointer;
}
.panel.panel-dark {
  background-color: #d5d7d4;
}
.panel.panel-dark.active {
  background-color: #fff;
}
.content-bar {
  padding-top: 60px;
}
.content-bar .content-bar-meta {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}
.content-bar .content-bar-meta li a {
  border-right: 1px solid #231f20;
  padding-right: 12px;
}
.content-bar .content-bar-meta li:last-child a {
  border-right: none;
  padding-right: 0;
}
.dropdown.filter-dropdown .filter-btn {
  border: 1px solid #231f20;
  padding: 5px 10px;
}
/* PROFILE STYLE 
---------------------------------------------------- */
.section-slider.section-slider-profile .slider-item {
  -webkit-border-radius: 0 15px 0px 0px;
  -moz-border-radius: 0 15px 0px 0px;
  border-radius: 0 15px 0px 0px;
  overflow: hidden;
}
.section-slider.section-slider-profile .slider-item .slider-item-caption {
  padding: 20px 20px 0;
  height: 100%;
  display: inherit;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
.section-slider.section-slider-profile .slider-item .slider-item-caption .slider-item-caption-text {
  max-width: 600px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 20% auto 0;
  text-align: center;
  display: block;
}
.section-slider.section-slider-profile .slider-item .slider-item-caption .slider-item-caption-text .title {
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}
.section-slider.section-slider-profile .slider-item .slider-item-caption .slider-item-caption-text .denote {
  font-size: 16px;
}
.section-slider.section-slider-profile .slider-item .slider-item-caption .slider-item-caption-text .crate-owner {
  display: inline-block;
  margin-top: 30px;
  color: #fff;
}
.section-slider.section-slider-profile .slider-item .slider-item-caption .status-counter-btm {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.section-slider.section-slider-profile .slider-item .slider-item-caption .status-counter {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border: 2px solid #fff;
  border-bottom: none;
  -webkit-border-radius: 0 15px 0px 0px;
  -moz-border-radius: 0 15px 0px 0px;
  border-radius: 0 15px 0px 0px;
}
.section-slider.section-slider-profile .slider-item .slider-item-caption .status-counter span {
  display: table-cell;
  vertical-align: middle;
  width: 1%;
  text-align: center;
  padding: 10px 10px;
  border-right: 2px solid #fff;
}
.section-slider.section-slider-profile .slider-item .slider-item-caption .status-counter span:last-child {
  border-right: none;
}
.panel.panel-crate {
  background-color: #f2f2f0;
  box-shadow: none;
  border: 5px solid #fff;
}
.panel.panel-crate .panel-img {
  padding: 0;
}
.panel.panel-crate .panel-img .panel-crate-name {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* NAV 
---------------------------------------------------------- */
.nav.content-area-meta-nav {
  background-color: #fff;
  border: 0;
}
.nav.content-area-meta-nav li {
  width: 50%;
}
.nav.content-area-meta-nav li a {
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  line-height: normal;
}
.nav.content-area-meta-nav li a:after {
  background-color: #f2f2f2;
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
}
.nav.content-area-meta-nav li a i {
  font-size: 34px;
  display: block;
}
.nav.content-area-meta-nav li a.active {
  background: #f2f2f2;
}
.nav.content-area-meta-nav li:last-child a:after {
  display: none;
}
.absolute {
  position: absolute;
}
.userbar .userbar-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.userbar .userbar-list li {
  display: table-cell;
  vertical-align: middle;
  color: #;
}
/* MODAL STYLE 
------------------------------------------------------- */
.modal.modal-base .modal-content {
  -webkit-border-radius: 0px 0px 15px 0px;
  -moz-border-radius: 0px 0px 15px 0px;
  border-radius: 0px 0px 15px 0px;
}
.modal.modal-base .modal-content .modal-body {
  padding: ;
}
.modal.modal-base .modal-content .modal-footer {
  padding: 12px 24px 24px;
}
/* DROPZONE 
****************************************************** */
.dropzone {
  border-color: #231f20;
  border-style: dashed;
}
/* slide-with-content
------------------------------------------------------------ */
.panel.panel-slide-content {
  padding: 8px;
  position: relative;
}
.panel.panel-slide-content .add-slide {
  display: block;
  font-size: 26px;
  margin-top: -12px;
  position: absolute;
  right: 8px;
  top: 50%;
}
.panel.panel-slide-content .slide-item {
  display: inline-block;
  cursor: pointer;
}
.panel.panel-slide-content .slide-item img {
  max-width: 242px;
}
.panel.panel-slide-content .slide-item.gallery-item {
  position: relative;
}
.owl-nav {
  position: absolute;
  top: 50%;
  left: 8px;
  margin-top: -24px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  visibility: hidden;
  opacity: 0;
}
.owl-nav a {
  background-color: #231f20;
  background-color: rgba(35, 31, 32, 0.75);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#bf231f20, endColorstr=#bf231f20);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#bf231f20, endColorstr=#bf231f20);
  color: #fff;
  font-size: 20px;
  display: block;
  cursor: pointer;
  text-align: center;
  width: 28px;
  height: 28px;
  line-height: 28px;
}
.panel.panel-slide-content:hover .owl-nav {
  visibility: visible;
  opacity: 1;
}
.panel-slide .slide-item img {
  display: block;
  max-width: 100%;
  height: auto;
}
.panel-slide.gallery-slider .slide-item {
  position: relative;
}
.panel-slide.gallery-slider .slide-item:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  background-color: transparent;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.panel-slide.gallery-slider .slide-item:after {
  position: absolute;
  content: "\f3fe";
  bottom: 14px;
  right: 10px;
  font-family: "Ionicons";
  font-size: 30px;
  color: #fff;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  visibility: hidden;
  opacity: 0;
}
.panel-slide.gallery-slider .slide-item.active:before {
  background-color: transparent;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
  height: 60%;
}
.panel-slide.gallery-slider .slide-item.active:after {
  visibility: visible;
  opacity: 1;
}
.panel.panel-frame {
  padding: 8px;
}
.panel.panel-add-slide {
  height: 536px;
  overflow-x: hidden;
  overflow-y: auto;
}
.panel.panel-scrollY {
  overflow-x: hidden;
  overflow-y: auto;
}
.panel.panel-add-denote {
  margin-top: 0;
  height: 410px;
}
.panel.panel-add-denote .slider-item-caption-text {
  padding: 20px 15%;
  text-align: center;
}
.panel.panel-add-denote .slider-item-caption-text .title {
  font-size: 36px;
  margin-top: 0;
}
.panel.slide-canvas {
  margin-top: 0;
  height: 510px;
}
.panel-frame-slide {
  display: block;
  margin-bottom: 8px;
  max-height: 160px;
  overflow: hidden;
  position: relative;
}
.panel-frame-slide:after {
  background-color: black;
  background-color: rgba(0, 0, 0, 0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#00000000);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#00000000);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: background-color 1s ease 0s;
  width: 100%;
}
.panel-frame-slide:hover:after {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4d000000, endColorstr=#4d000000);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4d000000, endColorstr=#4d000000);
}
.panel-frame-slide:last-child {
  margin-bottom: 0;
}
.panel-frame-slide .caption {
  background-color: transparent;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  padding: 20% 15px 15px;
}
.panel-frame-slide .caption .title {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 6px;
}
.panel-frame-slide .caption .denote {
  font-style: 12px;
  line-height: 1.2;
}
.panel-frame-slide.add {
  display: block;
  padding: 40px 0;
  text-align: center;
  font-size: 24px;
  border: 1px solid #231f20;
}
.panel-frame-slide.add span {
  text-transform: uppercase;
  font-size: 12px;
  display: block;
}
.panel.has-img {
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}
.panel.has-img.img-show:before {
  content: "";
  position: absolute;
  -webkit-border-radius: 0px 0px 15px 0px;
  -moz-border-radius: 0px 0px 15px 0px;
  border-radius: 0px 0px 15px 0px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}
.panel.has-img.img-show .slider-item-caption-text {
  color: #fff;
}
.panel.has-img.img-show .add-alt {
  color: #fff;
}
.panel-content-area {
  margin-top: 30px;
}
.panel-content-area .content-area {
  float: left;
  width: calc(100% );
}
.panel-content-area .content-area .area-drag-field .form-control {
  border-radius: 0;
}
.panel-content-area .content-area .title.title-content-head {
  margin: 20px 0 10px;
  font-size: 16px;
  text-transform: uppercase;
}
.panel-content-area .edit-bar {
  float: left;
  width: 30px;
}
.panel-content-area .edit-bar .edit-bar-list li {
  display: block;
}
.panel-content-area .edit-bar .edit-bar-list li a {
  display: block;
  border: 1px solid #231f20;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 8px;
}
.add-alt {
  position: absolute;
  bottom: 5px;
  left: 8px;
}
.add-alt.alt-plus {
  left: auto;
  right: 8px;
}
.add-alt.alt-caption span {
  font-size: 12px;
  text-transform: uppercase;
}
.add-alt.alt-arrow {
  bottom: auto;
  left: auto;
  right: 20px;
  top: 20px;
  width: 80px;
  height: 80px;
  background-image: url('../images/alt-arrow-sm.png');
  background-repeat: no-repeat;
  background-position: right center;
}
.transition-all {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.w50 {
  width: 50%;
}
.w30 {
  width: 30%;
}
.w70 {
  width: 70%;
}
.block {
  display: block;
}
.rltv {
  position: relative;
}
.inhrt {
  position: inherit !important;
}
.abslt {
  position: absolute !important;
}
.header .general-icon a {
  font-size: 18px;
}
.menu-wrapper {
  background-color: #F2F2F0 !important;
}
.section_padding {
  padding-top: 50px;
  padding-bottom: 50px;
}
.big_image {
  padding-top: 25px;
  padding-bottom: 25px;
  overflow: hidden;
  max-height: 400px;
}
.user-menu-content {
  padding: 30px;
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  max-height: 315px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 3px;
  position: relative;
}
.user-menu-content .nav-profile {
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
  margin: auto;
  margin-bottom: 15px;
  max-width: 100%;
  display: inline-block;
  clear: both;
}
.user-menu-content .nav-profile li a {
  background-color: none;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 20px;
}
.user-menu-content .nav-profile li a:hover {
  background-color: #fff;
  color: #008080;
}
.user-menu-content .nav-profile li a:focus {
  color: #008080;
  background-color: #fff;
}
.user-menu-content .user-details {
  border: 1px solid #ddd;
  overflow: hidden;
  margin: 10px;
  padding: 10px;
  border-radius: 2px;
}
.user-menu-content .user-details .user-text {
  text-align: left;
  padding-top: 15px;
}
.user-menu-content .user-details .user-img {
  float: right;
}
.user-menu-content .user-details .user-img img {
  padding-top: 5px;
  padding-bottom: 5px;
}
.user-menu-content .notifications {
  padding: 15px 0;
}
.user-menu-content .notifications .bookmark .link_history {
  border-left: 2px solid #888888;
  padding-left: 30px;
}
.user-menu-content .notifications .bookmark .link_bookmark {
  padding-right: 23px;
}
.user-menu-content .notifications .bookmark .active {
  color: #008080;
}
.user-menu-content .notifications .bookmark a {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  color: #4C4C4C;
}
.user-menu-content .notifications .bookmark a:hover {
  color: #008080;
}
.user-menu-content .notifications h3 {
  font-size: 18px;
  padding-top: 0;
  padding-bottom: 0;
  color: #008080;
  margin-top: 0;
  margin-bottom: 0;
}
.user-menu-content .notifications a {
  border: none;
  display: block;
  padding-top: 0;
  padding-bottom: 0;
  cursor: pointer;
}
#menu-wrapper,
#menu-wrapper2,
#menu-wrapper3 {
  background-color: #F2F2F0;
  margin: auto;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 999;
}
.close-icon {
  background-color: #e8e8e8;
  border: 1px solid #888;
  cursor: pointer;
  margin-right: 18px;
  padding: 5px;
  position: absolute;
  right: 20px;
  transition: all 0.3s ease 0s;
  width: 25px;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 10;
}
.close-icon:hover {
  opacity: .8;
}
.crateModal_content .close {
  font-size: 30px;
}
.crateModal_content .modal-dialog {
  max-width: 485px;
}
.crateModal_content .modal-title {
  font-size: 24px;
}
.crateModal_content .brand-icon a {
  margin: auto;
  max-width: 100px;
}
.crateModal_content .modal-body {
  padding-top: 15px;
}
.crateModal_content .create_form {
  margin: auto;
  text-align: center;
  margin-top: 30px;
}
.crateModal_content .create_form label {
  padding-bottom: 5px;
}
.crateModal_content .create_form .has-error .form-control {
  border-color: #a94442;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.crateModal_content .create_form #email {
  width: 280px;
  border: 1px solid #d2d3d1;
  border-radius: 1px;
  box-shadow: none;
  color: #231f20;
  font-size: 15px;
  height: 36px;
  letter-spacing: 0;
  line-height: 1.5;
  outline: 0 none;
  padding: 0 13px;
}
.crateModal_content .create_form #email:focus {
  outline: none;
}
.crateModal_content .create_form fieldset {
  margin-bottom: 15px;
}
.crateModal_content .create_form .btn-submit {
  height: 35px;
  padding-top: 12px;
  background: #231f20 none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  box-shadow: 0 -3px 0 0 #05243e inset;
  color: #fff;
  font-size: 11px;
  height: 40px;
  letter-spacing: 2px;
  line-height: 0.5;
  outline: 0 none;
  padding: 18px 22px 22px;
  text-align: center;
  text-decoration: none;
  width: 182px;
}
#successModal .modal-title {
  font-size: 16px;
}
#successModal .img-success {
  display: block;
  margin: auto;
  padding-bottom: 14px;
  padding-top: 8px;
  width: 70px;
}
.parallax-window {
  background: transparent none repeat scroll 0 0;
  min-height: 100vh;
}
.presentation {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
.presentation .inner-title {
  top: 200px;
  position: absolute;
}
.presentation .banner-text {
  color: #fff;
  text-transform: uppercase;
  width: 100vw;
}
.presentation .banner-text h1 {
  font-size: 50px;
}
.presentation .banner-text .small_title {
  font-size: 25px;
}
.presentation .inner_sub_title {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  margin: auto;
  max-width: 600px;
  text-align: left;
}
.presentation .bottom_title {
  max-width: 600px;
  font-family: "Montserrat", sans-serif;
  margin: auto;
  text-align: left;
  font-size: 17px!important;
  color: #333;
  font-weight: 400;
  line-height: 1.3;
}
.presentation .gallery_quotes {
  padding-top: 23px;
  padding-bottom: 23px;
  border-left: none;
  max-width: 600px;
  font-family: "Montserrat", sans-serif;
  margin: auto;
  text-align: center;
  font-size: 20px;
  color: #000;
  font-weight: 400;
  line-height: 1.3;
  font-style: italic;
}
.presentation .gallery_quotes:before {
  background-color: #ddd;
  content: "";
  height: 1px;
  left: 25%;
  position: absolute;
  right: 25%;
  top: 0;
}
.presentation .gallery_quotes:after {
  background-color: #ddd;
  content: "";
  height: 1px;
  left: 25%;
  position: absolute;
  right: 25%;
  bottom: 0;
}
.presentation .btn-like {
  width: 175px;
  margin: auto;
  display: block;
  margin-bottom: 50px;
}
.presentation .btn-like i {
  font-size: 20px;
  padding-right: 8px;
}
.presentation figure {
  max-width: 200px;
  display: block;
  margin: auto;
}
.primiary_title {
  font-family: "Montserrat", sans-serif;
}
.primiary_title .single_title,
.primiary_title h4 {
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-size: 18px;
  color: #333;
  font-weight: 400;
  line-height: 1.6;
}
.primiary_title h4 {
  margin-top: 4rem;
  font-weight: 400;
  font-size: 30px;
}
.presentation-gallery .inner-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}
.presentation-gallery .slide_image a img {
  height: 100vh;
  width: 100vw;
}
.presentation-gallery .img-titles {
  margin-top: 15px;
  display: inline-block;
}
.presentation-gallery .bottom_title {
  max-width: 600px;
  margin: auto;
  text-align: left;
  font-size: 18px;
  color: #333;
  font-weight: 400;
  line-height: 1.3;
}
.global_border {
  border-top: 1px solid #ddd;
  margin: 50px auto auto;
  max-width: 700px;
}
.panel.panel-explore {
  position: relative;
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
  -webkit-border-radius: 0 0 20px 0;
  -moz-border-radius: 0 0 20px 0;
  border-radius: 0 0 20px 0;
  overflow: hidden;
}
.panel.panel-explore:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  background-color: transparent;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
  height: 100%;
  width: 100%;
}
.panel.panel-explore .panel-img {
  width: 100%;
  height: auto;
}
.panel.panel-explore .panel-caption {
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  padding: 0 30px;
  display: table;
  position: relative;
}
.panel.panel-explore .panel-caption .panel-caption-text {
  display: table-cell;
  vertical-align: middle;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.panel.panel-explore .panel-caption .panel-caption-text .title a {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  color: #fff;
}
.panel.panel-explore .panel-caption .panel-caption-text .title a i {
  font-size: 50px;
}
.panel.panel-explore .panel-caption .panel-caption-text .owner {
  position: absolute;
  bottom: 10px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
.panel .explore-modal {
  width: 100%;
  height: 100%;
  background-color: #231f20;
  background-color: rgba(35, 31, 32, 0.65);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#a6231f20, endColorstr=#a6231f20);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#a6231f20, endColorstr=#a6231f20);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.panel .explore-modal .xmodal-header {
  height: 110px;
}
.panel .explore-modal .explore-nav {
  color: #fff;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  top: 40px;
}
.panel .explore-modal .explore-nav a {
  color: #fff;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  width: 20px;
  cursor: pointer;
}
.panel .explore-modal .xmodal-close {
  color: #fff;
  display: block;
  font-size: 20px;
  position: absolute;
  right: 30px;
  top: 40px;
}
.panel .explore-modal .modal-slide .slide-item {
  display: block;
  cursor: pointer;
  position: relative;
}
.panel .explore-modal .modal-slide .slide-item:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.panel .explore-modal .modal-slide .slide-item .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #67cbf0;
  z-index: 2;
}
.panel .explore-modal .modal-slide .slide-item:hover:after {
  background-color: transparent;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.panel .explore-modal .modal-slide .owl-item {
  width: 200px;
  height: 200px;
  padding: 0 10px;
  -webkit-border-radius: 0 20px 0 0;
  -moz-border-radius: 0 20px 0 0;
  border-radius: 0 20px 0 0;
}
.panel .explore-modal .modal-slide .owl-item img {
  max-width: 100%;
  height: auto;
  -webkit-border-radius: 0 20px 0 0;
  -moz-border-radius: 0 20px 0 0;
  border-radius: 0 20px 0 0;
}
.panel .explore-modal .modal-slide.owl-theme .owl-controls .owl-page span {
  background: #fff;
  width: 30px;
  height: 4px;
}
.content-bar-meta.nav-meta li a {
  color: #b0a9a0;
  border-color: #b0a9a0;
}
.content-bar-meta.nav-meta li.active a {
  color: #231f20;
}
.dropdown-onhover {
  position: relative;
}
.dropdown-onhover .btn-toggle {
  display: block;
  font-size: 12px;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  padding-right: 15px;
  position: absolute;
  right: 0;
  text-align: right;
  text-transform: uppercase;
  top: 0;
  width: 180px;
  z-index: 4;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.dropdown-onhover .btn-toggle:hover {
  color: #b0a9a0;
}
.dropdown-onhover .dropdown-onhover-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 180px;
  padding-top: 30px;
  z-index: 3;
  border: 1px solid #b0a9a0;
  background-color: #f2f2f0;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
  visibility: hidden;
  opacity: 0;
}
.dropdown-onhover .dropdown-onhover-menu li a {
  padding: 5px 15px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
}
.dropdown-onhover:hover .dropdown-onhover-menu {
  visibility: visible;
  opacity: 1;
}
.dropdown-onhover:hover .btn-toggle {
  color: #b0a9a0;
}
.caret-up {
  width: 0;
  height: 0;
  border-left: 4px solid rgba(0, 0, 0, 0);
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-bottom: 4px solid;
  display: inline-block;
  margin-left: 2px;
  vertical-align: middle;
}
.btn-caret {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}
.btn-caret:hover {
  z-index: 102;
}
.btn-caret .caret {
  border-top: 4px dashed;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.dropdown.hover-dropdown .dropdown-menu {
  top: 0;
}
@media (min-width: 768px) {
  .text-right-md {
    text-align: right;
  }
  .panel.panel-full .panel-img,
  .panel.panel-full .panel-denote {
    float: left;
  }
  .panel.panel-full .panel-img {
    width: 40%;
  }
  .panel.panel-full .panel-denote {
    width: 60%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: table;
  }
  .panel.panel-full .panel-denote .panel-denote-cell {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20%;
    padding-right: 20%;
  }
  .panel.panel-full.panel-img-right .panel-img {
    text-align: right;
  }
  .panel.panel-full.panel-img-right .panel-img img {
    display: inline-block;
  }
}
@media (min-width: 479px) and (max-width: 767px) {
  .panel.panel-full .panel-img,
  .panel.panel-full .panel-denote {
    float: left;
  }
  .panel.panel-full .panel-img {
    width: 50%;
  }
  .panel.panel-full .panel-denote {
    width: 50%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: table;
  }
  .panel.panel-full .panel-denote .panel-denote-cell {
    display: table-cell;
    vertical-align: middle;
    padding-left: 15%;
    padding-right: 15%;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .slider-item .slider-item-caption {
    padding: 20px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
  .col-xxs-12 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
  }
  .slider-item .slider-item-caption .slider-item-caption-text h3 {
    font-size: 16px;
  }
  .slider-item .slider-item-caption .slider-item-caption-text p {
    display: none;
  }
  .slider-item .slider-item-caption .slider-item-caption-icon {
    font-size: 30px;
    width: 50px;
    height: 50px;
  }
  .panel.panel-full .panel-img {
    width: 100%;
  }
  .panel.panel-full .panel-denote {
    width: 100%;
    padding: 30px;
  }
}
/* Custom, iPhone Retina */
#slide-nav {
  background: #fff none repeat scroll 0 0;
  border-left: 1px solid #eee;
  box-shadow: 3px 1px 4px rgba(0, 0, 0, 0.4);
  height: 100%;
  right: -300px;
  position: fixed;
  top: 0;
  transition: all 400ms cubic-bezier(0.77, 0.06, 0.12, 0.98) 0s;
  -webkit-transition: all 400ms cubic-bezier(0.77, 0.06, 0.12, 0.98) 0s;
  -moz-transition: all 400ms cubic-bezier(0.77, 0.06, 0.12, 0.98) 0s;
  width: 290px;
  z-index: 2147483647;
}
#slide-nav.open {
  right: 0;
}
#slide-nav .your-profile {
  height: 55px;
  padding: 10px 0 0;
}
#slide-nav .your-profile .actions {
  float: left;
  left: 13px;
  line-height: 17px;
  position: relative;
  top: 7px;
}
.close-drawer-hook {
  color: #fff;
}
#wrapper {
  position: relative;
  transition: all 400ms cubic-bezier(0.77, 0.06, 0.12, 0.98) 0s;
  -webkit-transition: all 400ms cubic-bezier(0.77, 0.06, 0.12, 0.98) 0s;
  -moz-transition: all 400ms cubic-bezier(0.77, 0.06, 0.12, 0.98) 0s;
  right: 0;
}
#wrapper.open {
  right: 300px;
}
/* slide nav content */
.slide-nav-content {
  padding: 15px;
}
.slide-nav-content a.panel-frame-slide {
  transition: none !important ;
}
.slide-nav-content .slide-nav-content-header {
  display: block;
  margin-bottom: 20px;
  clear: both;
}
.slide-nav-content .slide-nav-content-header h5 {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.slide-nav-content #slide-nav-close {
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  padding: 5px 10px;
  position: absolute;
  right: 16px;
  text-transform: uppercase;
  top: 13px;
}
.slide-nav-content #slide-nav-close i {
  font-size: 12px;
}
/* loader */
#circularG {
  position: relative;
  width: 33px;
  height: 33px;
  margin: auto;
}
.circularG {
  position: absolute;
  background-color: #9c9c9c;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  animation-name: bounce_circularG;
  -o-animation-name: bounce_circularG;
  -ms-animation-name: bounce_circularG;
  -webkit-animation-name: bounce_circularG;
  -moz-animation-name: bounce_circularG;
  animation-duration: 1.1s;
  -o-animation-duration: 1.1s;
  -ms-animation-duration: 1.1s;
  -webkit-animation-duration: 1.1s;
  -moz-animation-duration: 1.1s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
}
#circularG_1 {
  left: 0;
  top: 13px;
  animation-delay: 0.41s;
  -o-animation-delay: 0.41s;
  -ms-animation-delay: 0.41s;
  -webkit-animation-delay: 0.41s;
  -moz-animation-delay: 0.41s;
}
#circularG_2 {
  left: 3px;
  top: 3px;
  animation-delay: 0.55s;
  -o-animation-delay: 0.55s;
  -ms-animation-delay: 0.55s;
  -webkit-animation-delay: 0.55s;
  -moz-animation-delay: 0.55s;
}
#circularG_3 {
  top: 0;
  left: 13px;
  animation-delay: 0.69s;
  -o-animation-delay: 0.69s;
  -ms-animation-delay: 0.69s;
  -webkit-animation-delay: 0.69s;
  -moz-animation-delay: 0.69s;
}
#circularG_4 {
  right: 3px;
  top: 3px;
  animation-delay: 0.83s;
  -o-animation-delay: 0.83s;
  -ms-animation-delay: 0.83s;
  -webkit-animation-delay: 0.83s;
  -moz-animation-delay: 0.83s;
}
#circularG_5 {
  right: 0;
  top: 13px;
  animation-delay: 0.97s;
  -o-animation-delay: 0.97s;
  -ms-animation-delay: 0.97s;
  -webkit-animation-delay: 0.97s;
  -moz-animation-delay: 0.97s;
}
#circularG_6 {
  right: 3px;
  bottom: 3px;
  animation-delay: 1.1s;
  -o-animation-delay: 1.1s;
  -ms-animation-delay: 1.1s;
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
}
#circularG_7 {
  left: 13px;
  bottom: 0;
  animation-delay: 1.24s;
  -o-animation-delay: 1.24s;
  -ms-animation-delay: 1.24s;
  -webkit-animation-delay: 1.24s;
  -moz-animation-delay: 1.24s;
}
#circularG_8 {
  left: 3px;
  bottom: 3px;
  animation-delay: 1.38s;
  -o-animation-delay: 1.38s;
  -ms-animation-delay: 1.38s;
  -webkit-animation-delay: 1.38s;
  -moz-animation-delay: 1.38s;
}
@keyframes bounce_circularG {
  0% {
    transform: scale(1);
  }
  100% {
    -o-transform: scale(1);
  }
  100% {
    -ms-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
  }
  100% {
    -moz-transform: scale(1);
  }
  100% {
    transform: scale(0.3);
  }
}
@keyframes bounce_circularG {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.3);
  }
}
@-o-keyframes bounce_circularG {
  0% {
    -o-transform: scale(1);
  }
  100% {
    -o-transform: scale(0.3);
  }
}
@-ms-keyframes bounce_circularG {
  0% {
    -ms-transform: scale(1);
  }
  100% {
    -ms-transform: scale(0.3);
  }
}
@-webkit-keyframes bounce_circularG {
  0% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.3);
  }
}
@-moz-keyframes bounce_circularG {
  0% {
    -moz-transform: scale(1);
  }
  100% {
    -moz-transform: scale(0.3);
  }
}
.slider-item-caption-icon {
  -webkit-border-radius: 0 0 10px 0;
  -moz-border-radius: 0 0 10px 0;
  border-radius: 0 0 10px 0;
}
body {
  background-color: #F2F2F0;
}
#wrapper {
  width: 100%;
  position: relative;
}
.container.section-container {
  display: block;
  clear: both;
  margin: 0 auto;
}
.logo img {
  max-width: 150px;
}
.section-container {
  padding-bottom: 60px;
}
.section-slider-profile .slider-item {
  background: #101010;
}
#slider {
  display: block;
  background: #101010;
  -webkit-border-radius: 0 0 15px 0 !important;
  -moz-border-radius: 0 0 15px 0 !important;
  border-radius: 0 0 15px 0 !important;
  overflow: hidden;
}
#slider .slider-item {
  overflow: hidden;
}
.section-slider {
  position: relative;
  display: block;
}
.section-slider:hover .slider-control {
  opacity: 1;
}
.slider-control {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #fff;
  display: block;
  font-size: 50px;
  height: auto;
  position: absolute;
  top: 46%;
  width: auto;
  z-index: 1;
  cursor: pointer;
}
.slider-control.prev {
  right: 15px;
}
.slider-control.next {
  left: 15px;
}
.content-in {
  min-height: 600px;
}
.slider-item .img-responsive {
  width: 100%;
}
.panel {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22) !important;
}
.filter-dropdown.open .filter-btn {
  background: #fff;
  border-bottom-color: #fff;
  z-index: 101;
  position: relative;
}
.filter-dropdown .dropdown-menu {
  border: 1px solid;
  border-radius: 0;
  box-shadow: none;
  left: auto;
  top: 22px;
  z-index: 100;
}
.filter-dropdown .dropdown-menu > li > a {
  clear: both;
  color: #333;
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.42857;
  padding: 10px 25px;
  white-space: nowrap;
}
.icon-hold span i {
  font-size: 20px;
}
.icon-hold span:hover {
  background: #231f20;
  color: #fff;
}
.gridder-list {
  width: 33.3333%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.gridder-list:nth-child(n) {
  margin-bottom: 1%;
  margin-right: 0 !important;
}
.gridder-padding {
  padding: 15px;
}
.hasSelectedItem .gridder-list {
  opacity: 0.5;
}
.hasSelectedItem .selectedItem {
  opacity: 1;
}
.hasSelectedItem .panel-item:hover .panel-crate-name {
  visibility: hidden;
  opacity: 0;
}
#imageSource {
  max-height: 220px;
}
@media (min-width: 778px) and (max-width: 991px) {
  #imageSource {
    overflow: hidden;
  }
}
@media only screen and (max-width: 767px) {
  #imageSource {
    overflow: hidden;
  }
}
.gridder-navigation a {
  font-size: 12px;
  font-weight: 700;
  padding-right: 15px;
  text-transform: uppercase;
}
.gridder-expanded-content .content-bar {
  margin-top: 0;
  padding-top: 30px;
}
.editable-popup .popover-title {
  color: #231f20;
}
.editable-popup .form-group .form-control:focus,
.editable-popup .form-group-default .form-control:focus {
  background: #f5f5f5;
  color: #231f20;
}
.editable-popup .form-control {
  color: #231f20;
  border: 1px solid #c2c9d4;
  padding: 4px 10px;
  border-radius: 3px;
}
.popover {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  left: 0;
  letter-spacing: normal;
  line-height: 1.42857;
  max-width: 276px;
  padding: 1px;
  position: absolute;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  top: 0;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  z-index: 1060;
}
.slide-canvas-bar {
  margin: 30px auto 0;
}
.canvas-bar-menu-content {
  display: inline-block;
  position: relative;
  margin: 0;
}
.canvas-bar-menu-content .btn.btn-fab {
  border: 1px solid;
  font-size: 30px;
  height: 48px;
  margin: 0;
  padding: 8px;
  width: 48px;
}
.canvas-bar-menu-content .dropdown-menu {
  width: 500px;
  left: 0%;
  padding: 5px;
  right: auto;
  text-align: center;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
  visibility: hidden;
  opacity: 0;
  transform: rotate(0deg) scale(0.7) skew(0deg) translate(-50%, 0);
}
.canvas-bar-menu-content .dropdown-menu a {
  white-space: nowrap;
}
.canvas-bar-menu-content.open .dropdown-menu {
  visibility: visible;
  opacity: 1;
  left: 50%;
  margin-top: 20px;
  transform: rotate(0deg) scale(1) skew(0deg) translate(-50%, 0);
  -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(-50%, 0);
  -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(-50%, 0);
  -o-transform: rotate(0deg) scale(1) skew(0deg) translate(-50%, 0);
  -ms-transform: rotate(0deg) scale(1) skew(0deg) translate(-50%, 0);
}
.canvas-bar-menu-content .canvas-bar-iconx {
  border: 2px solid;
  border-radius: 50%;
  display: inline-block;
  font-size: 32px;
  text-align: center;
}
#slide-canvas {
  background-position: center top !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  position: relative;
}
.slide-canvas-menu {
  position: absolute;
  right: 15px;
  top: 10px;
  width: 160px;
}
.slide-canvas-menu .tool-menu-bar i {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 3rem;
  transition: opacity 200ms ease 0s;
  -webkit-transition: opacity 200ms ease 0s;
  -moz-transition: opacity 200ms ease 0s;
  -o-transition: opacity 200ms ease 0s;
  -ms-transition: opacity 200ms ease 0s;
}
.slide-canvas-menu .tool-menu-bar i.i-close {
  opacity: 0;
}
.slide-canvas-menu .tool-menu-bar i.i-menu {
  opacity: 1;
}
.slide-canvas-menu.open .tool-menu-bar i.i-close {
  opacity: 1;
}
.slide-canvas-menu.open .tool-menu-bar i.i-menu {
  opacity: 0;
}
.slide-canvas-menu .tool-menu-bar.navigation-toggle {
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  line-height: 31px;
  text-align: right;
  width: 90px;
}
.slide-canvas-menu .tool-menu-bar-dropdown span {
  display: inline-block;
  overflow: hidden;
  width: 0;
  transition: width 200ms ease 0s;
  -webkit-transition: width 200ms ease 0s;
  -moz-transition: width 200ms ease 0s;
  -o-transition: width 200ms ease 0s;
  -ms-transition: width 200ms ease 0s;
}
.slide-canvas-menu.open > .dropdown-menu {
  display: block;
  min-width: 50px;
  width: auto !important;
  top: 66px;
}
.slide-canvas-menu ul.tool-menu-bar-dropdown li > a {
  white-space: nowrap;
}
.slide-canvas-menu ul.tool-menu-bar-dropdown li > a:hover {
  background: #F2F2F2;
}
.slide-canvas-menu ul.tool-menu-bar-dropdown li > a ix {
  display: inline-block;
  width: 25px;
  text-align: left;
}
.slide-canvas-menu ul.tool-menu-bar-dropdown span {
  display: inline-block;
  overflow: hidden;
  width: 0;
}
.slide-canvas-menu ul.tool-menu-bar-dropdown:hover span {
  display: inline-block;
  overflow: hidden;
  width: 100px;
}
.tool-menu-bar-dropdown a i {
  display: inline-block;
  width: 25px;
}
.modal-dialog {
  background: #fff;
}
.panel.panel-item:hover .panel-img .panel-crate-name {
  visibility: visible;
  opacity: 1;
}
.featured-details-content .panel.panel-item:hover .panel-img .panel-crate-name {
  visibility: hidden;
  opacity: 0;
}
