@import url('../css/font-awesome.min.css');
.transition-all {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* HEADER STYLE 
********************************************* */
.header-topbar .header-topbar-row {
  border-bottom: 1px solid #ddd;
}
.header-topbar .header-topbar-list {
  margin-bottom: 0;
}
.header-topbar .header-topbar-list li a,
.header-topbar .header-topbar-list li span {
  color: #111;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.06em;
  padding: 10px 0;
  text-transform: uppercase;
}
.header-topbar .header-topbar-list.social li a {
  font-size: 16px;
}
.header-bottombar {
  padding: 20px 0;
}
.header-bottombar .brand-icon h1 {
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1;
  margin: 0;
  padding-top: 18px;
  text-transform: uppercase;
}
.header-bottombar .brand-icon h1 a {
  display: block;
}
.header-bottombar .brand-icon h1 span {
  display: block;
  font-size: 12px;
  letter-spacing: 0.25em;
}
/* POST-DETAILS 
***************************************************** */
.main-container.post-container {
  padding-top: 0;
}
.main-container.post-container .post-single-detail {
  margin-top: 60px;
}
.main-container.post-container .post-single-detail:first-child {
  margin-top: 0;
}
.bg-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.post-article-detail {
  font-weight: 400;
}
.post-article-detail p {
  margin-bottom: 20px;
  line-height: 1.7;
}
.post-article-detail p img {
  max-width: 100%;
  height: auto;
}
.story-lead-img {
  width: 100%;
  min-height: 500px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.post-detail-catebar-hold {
  margin-top: -80px;
  margin-bottom: 40px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px 30px;
}
.post-detail-catebar-hold .post-detail-catebar {
  border-bottom: 1px solid #2a2a2a;
}
.post-detail-catebar-hold .post-detail-catebar .cate-list a {
  color: #55d737;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  display: inline-block;
  margin-right: 8px;
  letter-spacing: 0.05em;
}
.post-detail-catebar-hold .post-detail-catebar .post-date {
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.05em;
}
.post-title-single {
  color: #fff;
  font-weight: 400;
  font-size: 40px;
}
.post-author .author-avater {
  float: left;
}
.post-author .author-avater img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}
.post-author h4.post-by {
  font-size: 14px;
  margin: 0;
}
.post-author h4.post-by a {
  display: block;
  padding-top: 10px;
}
.post-author h4.post-by span {
  color: #999;
}
.post-author .po-date {
  color: #999;
}
.post-aut-sec {
  border-bottom: 1px dotted #999;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.post-aut-sec:last-child {
  border-bottom: none;
}
.follow-list h5 {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.05em;
}
.follow-list .follow-social a {
  display: inline-block;
  font-size: 20px;
  padding: 0;
  margin-right: 10px;
}
.recommen-hold {
  border-top: 1px dashed #ddd;
  margin-top: 30px;
}
.article-tag-list a {
  background-color: #757b79;
  display: inline-block;
  padding: 3px;
  line-height: 1.2;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  margin: 3px 3px 3px 0;
}
.article-tag-list a span {
  border: 1px dashed #fff;
  padding: 3px 10px;
  display: inline-block;
}
.article-tag-list a:hover {
  color: #55d737;
}
.sidebar.sidebar-post {
  padding-top: 130px;
}
.sidebar .sidebar-sec {
  margin-bottom: 20px;
}
.sidebar .sidebar-sec.featured-tag {
  background-color: #fafafa;
  padding: 20px;
}
.sidebar .sidebar-sec.featured-tag .tag-list a {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 2px;
  display: inline-block;
  font-size: 11px;
  line-height: 1;
  letter-spacing: 0.05em;
  margin-bottom: 5px;
  margin-right: 2px;
  padding: 5px 10px;
  text-transform: uppercase;
}
.sidebar .sidebar-sec .featag-title {
  font-size: 14px;
  letter-spacing: 0.08em;
  margin: 0 0 20px;
  text-transform: uppercase;
}
.sidebar .sidebar-sec .featag-title a {
  color: #999;
  font-size: 12px;
  font-weight: normal;
}
.nav.nav-rel-popular li a {
  background-color: #fff;
  border-radius: 0;
  color: #111;
  border: 1px solid #eee;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
}
.nav.nav-rel-popular li.active a {
  background-color: #111;
  color: #fff;
}
.rel-list {
  border-bottom: 1px solid #eee;
  padding: 15px 0;
}
.rel-list:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.rel-list .side-thumb {
  width: 33.3333%;
  float: left;
}
.rel-list .side-thumb a {
  display: block;
}
.rel-list .side-thumb a img {
  max-width: 100%;
  height: auto;
}
.rel-list .side-text {
  float: left;
  width: 66.6667%;
}
.rel-list .side-text h4 {
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}
.rel-list .side-text .side-text-cate-list span {
  display: inline-block;
  font-size: 11px;
  color: #777;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-right: 5px;
}
.rel-list .side-text .side-text-in {
  padding: 0 0 0 15px;
}
.sidebar-title-sm {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
  padding-bottom: 10px;
  border-bottom: 1px solid #999;
}
@media (min-width: 768px) {
  .text-right-lg {
    text-align: right;
  }
}
/* HOME PAGE NEWS TAB
***************************************************** */
.tab-newsbar {
  background-color: #26479E;
}
.tab-newsbar a {
  display: inline-block;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px 10px;
}
.news-item-bar {
  margin-top: 20px;
}
.news-item-bar .post-meta-bar {
  background: url('../images/greystripe.png') 0 0 repeat;
  margin-bottom: 20px;
}
.news-item-bar .post-meta-bar .cate-list a {
  display: inline-block;
  background-color: #555;
  color: #fff;
  padding: 8px 15px;
  line-height: 1;
  text-transform: uppercase;
  font-size: 12px;
  position: relative;
}
.news-item-bar .post-meta-bar .cate-list a:after {
  content: " ";
  position: absolute;
  background-color: #fff;
  height: 100%;
  width: 6px;
  right: 0;
  top: 0;
}
.news-item-bar .post-meta-bar .post-time {
  font-size: 12px;
  display: block;
  line-height: 1;
  padding: 8px 10px;
  color: #888;
  float: left;
}
.news-item-bar .post-meta-bar .social-share-news a {
  background-color: #bbb;
  display: block;
  float: right;
  padding: 8px 15px;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  position: relative;
  margin: 0;
  text-align: center;
}
.news-item-bar .post-meta-bar .social-share-news a:before {
  content: " ";
  position: absolute;
  background-color: #fff;
  height: 100%;
  width: 1px;
  left: 0;
  top: 0;
}
.news-item-bar .news-item-article {
  padding-right: 15px;
}
.news-item-bar .news-item-article .story-h.story-h-bold-lg {
  font-size: 22px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 20px;
}
.news-item-bar .news-item-article .read-continue {
  color: #099944;
  position: relative;
  display: inline-block;
  font-size: 13px;
}
.news-item-bar .news-item-article .read-continue:after {
  position: absolute;
  content: "\f178";
  font-family: 'FontAwesome';
  top: 2px;
  left: 105%;
}
.loadmore-bar {
  background: url('../images/greystripe.png') 0 0 repeat;
  margin: 15px 0;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.loadmore-bar a {
  display: inline-block;
  background-color: #099944;
  border-left: 5px solid #fff;
  border-right: 5px solid #fff;
  color: #fff;
  padding: 4px 20px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.05em;
}
.loadmore-bar:hover {
  background: url('../images/greystripe-h.png') 0 0 repeat;
}
/* FOOTER STYLE 
**************************************************** */
.footer {
  background-color: #f2f2f2;
  padding: 20px 0;
}
.footer .copy-info {
  font-size: 11px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.footer .foo-nav a {
  display: inline-block;
  font-size: 11px;
  letter-spacing: 0.06em;
  margin-left: 15px;
  text-transform: uppercase;
}
