@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700,400italic,300italic,900,700italic,100,900italic);
.w50 {
  width: 50%;
}
.w30 {
  width: 30%;
}
.w70 {
  width: 70%;
}
.block {
  display: block;
}
.rltv {
  position: relative;
}
.inhrt {
  position: inherit!important;
}
.abslt {
  position: absolute!important;
}
.header .general-icon a {
  font-size: 18px;
}
.menu-wrapper {
  background-color: #F2F2F0!important;
}
.user-menu {
  border: 1px solid #ddd;
  overflow: hidden;
  background-color: #fff;
  padding-top: 30px;
  border-radius: 5px;
}
.user-menu .menu-inner {
  margin-top: 50px;
}
.user-menu .nav-profile {
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
  margin: auto;
  max-width: 500px;
  display: block;
}
.user-menu .nav-profile li a {
  background-color: none;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 17px;
}
.user-menu .nav-profile li a:hover {
  background-color: #fff;
}
.user-menu .user-details {
  overflow: hidden;
}
.user-menu .user-details .user-inner {
  overflow: hidden;
  border: 1px solid #ddd;
  padding: 12px;
}
.user-menu .user-details .user-text {
  text-align: left;
  padding-top: 30px;
}
.user-menu .user-details .user-img {
  float: right;
}
.user-menu .user-details .user-img img {
  padding-top: 5px;
  padding-bottom: 5px;
}
.user-menu .notifications h3 {
  padding-top: 25px;
  padding-bottom: 50px;
  color: #008080;
}
.user-menu .notifications a {
  border: none;
  display: block;
  padding-top: 45px;
  padding-bottom: 50px;
  cursor: pointer;
}
.menu-wrapper {
  background-color: #FFFFFF;
  margin: auto;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 999;
}
.close-icon {
  cursor: pointer;
  padding: 5px;
  background-color: #E8E8E8;
  border: 1px solid #888888;
  margin-right: 18px;
  width: 25px;
}
.crateModal_content .close {
  font-size: 30px;
}
.crateModal_content .modal-dialog {
  max-width: 485px;
}
.crateModal_content .modal-title {
  font-size: 24px;
}
.crateModal_content .brand-icon a {
  margin: auto;
  max-width: 100px;
}
.crateModal_content .modal-body {
  padding-top: 15px;
}
.crateModal_content .create_form {
  margin: auto;
  text-align: center;
  margin-top: 30px;
}
.crateModal_content .create_form label {
  padding-bottom: 5px;
}
.crateModal_content .create_form .has-error .form-control {
  border-color: #a94442;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.crateModal_content .create_form #email {
  width: 280px;
  border: 1px solid #d2d3d1;
  border-radius: 1px;
  box-shadow: none;
  color: #231f20;
  font-size: 15px;
  height: 36px;
  letter-spacing: 0;
  line-height: 1.5;
  outline: 0 none;
  padding: 0 13px;
}
.crateModal_content .create_form #email:focus {
  outline: none;
}
.crateModal_content .create_form fieldset {
  margin-bottom: 15px;
}
.crateModal_content .create_form .btn-submit {
  height: 35px;
  padding-top: 12px;
  background: #231f20 none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  box-shadow: 0 -3px 0 0 #05243e inset;
  color: #fff;
  font-size: 11px;
  height: 40px;
  letter-spacing: 2px;
  line-height: 0.5;
  outline: 0 none;
  padding: 18px 22px 22px;
  text-align: center;
  text-decoration: none;
  width: 182px;
}
#successModal .modal-title {
  font-size: 16px;
}
#successModal .img-success {
  display: block;
  margin: auto;
  padding-bottom: 14px;
  padding-top: 8px;
  width: 70px;
}
