<div class="content-bar">
    <div class="row">
        <div class="col-sm-8 col-xs-9">
            <ul class="list-inline content-bar-meta">
                <li><a href="javascript:void(0)">Most Recent</a></li>
                <li><a href="javascript:void(0)">View all</a></li>
            </ul>
        </div>
        <div class="col-sm-4 col-xs-3">
            <div class="clearfix">
                <div class="dropdown filter-dropdown pull-right">
                    <a aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" class="filter-btn" id="dLabel">
                        <i class="ion-android-menu"></i>
                    </a>
                    <ul aria-labelledby="dLabel" class="dropdown-menu">
                        <li><a href="javascript:void(0)">Featured</a></li>
                        <li><a href="javascript:void(0)">Most Viewed</a></li>
                        <li><a href="javascript:void(0)">Most Discussed</a></li>
                        <li><a href="javascript:void(0)">Most Recent</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="featured-details-content">

    <div class="panel panel-item panel-full clearfix design">
        <div class="panel-img eqh">
            <img class="img-responsive" src="images/item/2.jpg" alt="img">
            <a href="" class=" panel-crate-name"></a>
        </div>
        <div class="panel-denote eqh">
            <div class="panel-denote-cell">
                <div class="panel-denote-text">
                    <h4 class="title">Slide title xxx.</h4>
                    <p>
                        Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam
                    </p>
                </div>
                <div class="icon-hold">
                    <span><i class="ion-ios-clock-outline"></i></span>
                    <span><i class="ion-ios-heart-outline"></i></span>
                    <span><i class="ion-ios-cart-outline"></i></span>
                    <span><i class="ion-ios-upload-outline"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-item panel-full clearfix art">
        <div class="panel-img eqh">
            <img class="img-responsive" src="images/item/6.jpg" alt="img">
            <a href="" class=" panel-crate-name"></a>
        </div>
        <div class="panel-denote eqh">
            <div class="panel-denote-cell">
                <div class="panel-denote-text">
                    <h4 class="title">Slide title xxx.</h4>
                    <p>
                        Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam
                    </p>
                </div>
                <div class="icon-hold">
                    <span><i class="ion-android-settings"></i></span>
                    <span><i class="ion-android-settings"></i></span>
                    <span><i class="ion-android-settings"></i></span>
                    <span><i class="ion-android-settings"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-item panel-full clearfix food">
        <div class="panel-img eqh">
            <img class="img-responsive" src="images/item/4.jpg" alt="img">
            <a href="" class=" panel-crate-name"></a>
        </div>
        <div class="panel-denote eqh">
            <div class="panel-denote-cell">
                <div class="panel-denote-text">
                    <h4 class="title">Slide title xxx.</h4>
                    <p>
                        Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam
                    </p>
                </div>
                <div class="icon-hold">
                    <span><i class="ion-ios-clock-outline"></i></span>
                    <span><i class="ion-ios-heart-outline"></i></span>
                    <span><i class="ion-ios-cart-outline"></i></span>
                    <span><i class="ion-ios-upload-outline"></i></span>
                </div>
            </div>
        </div>
    </div>

</div>