@font-face {
font-family: 'Bauer Bodoni Std';
src: url('fonts/bauerbodonistd-roman-webfont.eot');
src: url('fonts/bauerbodonistd-roman-webfont.eot?#iefix') format('embedded-opentype'),
url('fonts/bauerbodonistd-roman-webfont.woff') format('woff'),
url('fonts/bauerbodonistd-roman-webfont.ttf') format('truetype'),
url('fonts/bauerbodonistd-roman-webfont.svg#BauerBodoniStdRegular') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Bauer Bodoni Std';
src: url('fonts/bauerbodonistd-bold-webfont.eot');
src: url('fonts/bauerbodonistd-bold-webfont.eot?#iefix') format('embedded-opentype'),
url('fonts/bauerbodonistd-bold-webfont.woff') format('woff'),
url('fonts/bauerbodonistd-bold-webfont.ttf') format('truetype'),
url('fonts/bauerbodonistd-bold-webfont.svg#BauerBodoniStdBold') format('svg');
font-weight: bold;
font-style: normal;
}

.base-typo-font {
    font-family: Bauer Bodoni Std;
}